[2016-06-27 10:12] brawer commented on #693
@marekjez86, what shall we do here? In [this PDF](https://github.com/googlei18n/noto-fonts/files/334564/taitham.pdf), which shows the first few lines of the [UDHR in Khün](https://github.com/googlei18n/noto-fonts/issues/693#issuecomment-228668455) as rendered by [fontdiff](https://github.com/googlei18n/fontdiff), the red lines were rendered in [A Tai Tham KH](https://github.com/googlei18n/noto-fon

[2016-06-27 11:48] brawer commented on #719
@neogitter, just heard back from Google’s localization team. For Android bugs with Telugu, please continue to file bugs similar to what you’ve done with [bug 214230](https://code.google.com/p/android/issues/detail?id=214230), it’s the perfect way to reach them. So let’s restrict this bug here to the font problems.

[2016-06-27 12:17] neogitter commented on #719
@brawer Thanks. Let's see if the clipping problem for Telugu can be fixed in time for N release hopefully. So did they decide to clarify down Telugu to 90% too?

[2016-06-27 12:23] brawer commented on #715
@marekjez86, is this a phase-2 bug?

[2016-06-27 16:23] dougfelt commented on #715
It should be. It's not a monotype font though, so not under their
contract,and the original provider hasn't been responsive. So we have to
fix it ourselves. Can you identify the problem with the post table?

On Mon, Jun 27, 2016, 5:23 AM Sascha Brawer <notifications@github.com>
wrote:

[2016-06-27 17:18] brawer commented on #704
@marekjez86, what’s your verdict on this bug—what will happen by when?

[2016-06-27 19:20] neogitter commented on #719
![screenshot_20160627-233046](https://cloud.githubusercontent.com/assets/20138287/16392556/2927d7ac-3cca-11e6-8817-4c5913f00dd7.png)
Here the problem is much more obvious. Google indic keyboard. All the conjuncts are clipped.

[2016-06-28 08:11] c933103 commented on #718
For instance, http://d.hatena.ne.jp/nonokoo/20111106/1320587095 show a number of instance where the symbol would be used together with some symbol, and it also indicated that these would look correctly on ios, persumably with its default font.

https://twitter.com/search?vertical=default&q=%E2%83%9D&src=typd show numerous usage for the symbol together with arabic, numerous random kanji, hiragana,

[2016-06-28 09:37] brawer commented on #715
The empty psNames look suspicious:

[code]

[2016-06-28 10:36] brawer commented on #693
The [Khün translation of the UDHR](http://www.unicode.org/udhr/d/udhr_kkh_lana.html) is now at Unicode. On a Google Nexus 5X phone (Chrome 51.0.2704.81, Android 6.0.1, build MTC19V), the text looks rather broken. @marekjez86 and @dougfelt, how soon can our vendor fix this? Would you say it’s a warranty case for Noto phase 2? Or would it make sense to prioritize the Tai Tham `Lana` script for Noto

[2016-06-28 11:51] brawer commented on #715
@khmertype, do you know which PostScript names should be used here? See above.

[2016-06-28 17:20] roozbehp commented on #715
@brawer, feel free to convert the font to format 3.0, where there's basically no names.

[2016-06-28 17:55] dougfelt commented on #693
@waksmonskiMT Sue, this looks pretty severe.  Can MTI take a look at this?

[2016-06-28 17:59] dougfelt commented on #693
Hmmm.  hb-view does not show this problem.  Here's a snippet from the text rendered with NotoSansTaiTham-Regular in 20pt.

![taitham](https://cloud.githubusercontent.com/assets/9939212/16426774/4e971a66-3d1f-11e6-84cf-130a22432863.png)

[2016-06-28 18:00] dougfelt commented on #693
@brawer, @roozbehp Perhaps this is an Android issue?

[2016-06-28 19:58] roozbehp commented on #693
It's everybody's issue. The OpenType spec, Uniscribe, HarfBuzz, and the font itself. See https://github.com/behdad/harfbuzz/issues/170 for some details.

Patrick (/cc @pchew-change) was the presenter at the Unicode conference. Maybe he could kindly share the slides?

/cc @mhosken too, since he knows about the issues.

[2016-06-28 20:25] dougfelt commented on #693
So, what accounts for the difference between how hb-view and android render this text?

[2016-06-28 20:42] pchew-change commented on #693
@roozbehp - here's a pdf of the slides.
[IUC39 - Tai Tham.pdf](https://github.com/googlei18n/noto-fonts/files/338012/IUC39.-.Tai.Tham.pdf)

[2016-06-30 20:49] behdad commented on #714
Where did you get each version of the font?

[2016-06-30 23:28] RolfNoyer commented on #714
I am not sure where I got the two versions, but probably I got them through the “Early Access” page with all the fonts that are in development and have not yet “graduated”:

https://www.google.com/fonts/earlyaccess

I don’t think the Nastaliq font is in the huge github package which contains all the Noto fonts, but if it is, I might have gotten it out of that package.

What might be more informati

[2016-07-01 16:29] brawer opened #720 "Ethiopic letter ጥ looks like ፕ"
Feedback from an Amharic speaker at Google, who looked at the attached PNG at 100% on a low-resolution (non-Retina) screen: “Is the 11th word የተፈጥሮ or is it የተፈፕሮ ? [...] your rendering of the letter ጥ looks too much like ፕ”. It would be good to double-check, and (if it’s really an issue) rework the design of these two fidels, so they’re more distinct especially at small sizes.

The PNG was genera

[2016-07-01 20:52] kmansourMT commented on #425
I think this bug report is asking for a way to inhibit certain special combinations of marks through the use of an intervening CGJ mark (034F). A common example could be the combination of Shadda (0651), an upper mark, with Kasra (0650), a lower mark. Following is the typical combined mark of Shadda-Kasra:

![shadda-kasra-nocgj](https://cloud.githubusercontent.com/assets/12738181/16533828/587a1f42

[2016-07-01 21:13] RolfNoyer commented on #714
So I tried Noto Nastaliq Urdu on a friend’s machine running the latest Mac OS (El Capitán) instead of on mine with Yosemite.

In Mac’s Text Edit (at least — the only app I tried on his machine) the dot placement problem **disappeared completely** and as far as I could tell all the other diacritic mark placement problems I had noticed before also went away.

So whatever this was, it must have been

[2016-07-08 21:33] roozbehp opened #721 "U+061C (ALM) should be removed from Thaana and Nastaliq fonts"
The presence of the glyph in the Thaana font is forcing weird behavior in Android, causing the Thaana font to get selected for the colon in a sequence such as <ARABIC-INDIC DIGIT ONE, ALM, COLON>. Of course Android should know better (I'll file a separate bug for that), but the fonts should be cleaner too.

The Nastaliq font is not shipped on Android devices, but should have the glyph removed too.

[2016-07-08 22:21] behdad commented on #721
But, if it wasn't for Android's don't selection issue, we do want ALM in these fonts, right?

[2016-07-08 23:34] roozbehp commented on #721
That's a hard question:

Theoretically, you may want a glyph similar to that of RLM and LRM so that you can do "show invisible" with it. In practice, several platforms may not know about the character ALM at all, not even know it's default-ignorable, so it may be better for the glyph to be empty and zero-advance.

So, it all depends on which platform/product and which specific version of that you

[2016-07-11 11:09] taylorcanning commented on #516
Hi, I hope this is still open- I have had some issues with my S'Gaw Karen characters displaying properly on Windows 10 (pc & mobile), with 'ha thee'/ high tone, I don't know how to tell you what the unicode name of the characters are, but they look like this ၣ် ၣ  they aren't joining properly. Know how I can rectify this? Thanks so much

[2016-07-11 21:03] kmansourMT commented on #516
@taylorcanning Please provide the text string of S'Gaw Karen characters that you're finding troublesome.

[2016-07-12 06:07] behdad commented on #721
Agree empty and zero-advance is preferable.

[2016-07-12 06:25] behdad commented on #425
@kmansourMT What system did you use to generate the images?

[2016-07-12 15:43] kmansourMT commented on #425
Monotype's OpenType interpreter was used.

[2016-07-13 03:08] behdad opened #722 "Review, finish, and document merge_noto.py"
We want to experiment with merging fonts into a few categories.  Need to revive the `merge_noto.py` script as a starter.

[2016-07-13 17:02] jungshik commented on #722
Yeah... we played with various grouping ideas as well as how to handle overlapping code points.

[2016-07-15 08:43] tzot opened #723 "Noto, Arimo, Open Sans: GREEK ANO TELEIA glyph should be the upper dot of a colon"
The correct glyph (as taught in Greek elementary school) for U+0387 "·" GREEK ANO TELEIA should be exactly like the colon glyph with the lower dot removed. The name «άνω τελεία/ano teleia» means **upper** dot. Middle dot would be «μέση τελεία/mesi teleia».

Some discussion: http://archives.miloush.net/michkap/archive/2011/05/20/10166588.html

Greek grammar textbook: http://www.ilsp.gr/files/Basic_

[2016-07-15 08:55] tzot commented on #722
Being quite fluent in Python, I'd like to help with this issue, but I don't know how to locate the `merge_noto.py` script.
If I'm talking out of place, please feel free to ignore me. :)

[2016-07-15 08:58] behdad commented on #722
Err, my bad.  I should have filed this against https://github.com/googlei18n/nototools

[2016-07-17 16:23] LionNatsu opened #724 "hinted: Does not have Syriac fonts"
Syriac fonts:

[code]

Are missing from the `hinted` directory, while they are found in `unhinted`. More fonts might be missing from the `hinted` directory, I am yet to make sure of that.

[2016-07-21 02:23] behdad commented on #714
Closing as this seems to be working as intended with latest Mac OS X.

[2016-07-21 02:23] #714 closed

[2016-07-21 13:08] klokan commented on #13
Technically, it should be possible to make a single huge multi-language TTF font file with a subset of the glyphs available in Noto.
An example of how to encode such font could be the 23MB TTF file of "Arial Unicode MS": https://www.microsoft.com/typography/fonts/font.aspx?fmid=1081

Would it be possible to prepare a script which extracts a selection of the glyphs and generates a similar single TT

[2016-07-21 17:50] jacobathomas opened #725 "Noto Serif Bengali critique"
I'm here at the TDi at Reading University with Marek, and he asked me to critique the Noto Serif Bengali.  For a little background, I grew up in Bangladesh where I have worked for the last decade as a graphic designer with Latin and Bengali designs.  My feedback on the Noto Serif Bengali font:
-     The ও strikes the eye as feeling too large
-     The থ head (curl/ball) feels too small and cramped

[2016-07-21 18:08] roozbehp commented on #13
On Thu, Jul 21, 2016 at 6:08 AM, Petr Pridal <notifications@github.com>
wrote:

https://github.com/googlei18n/nototools/blob/master/nototools/merge_noto.py

[2016-07-21 18:51] marekjez86 commented on #725
Thank you very much for a thorough feedback. Could you elaborate on 'weak "ণ" in the sans'? Is it too small, poorly drawn or structured? Is there an image of text from a newspaper, a website, a magazine, a sign, etc... with what you'd consider 'strong "ণ"' ?

[2016-07-21 19:12] jacobathomas commented on #725
![notoserifbengali-critique](https://cloud.githubusercontent.com/assets/20583790/17035451/3121b4e2-4f7f-11e6-910c-0a32f586ee89.jpg)
The letter doesn't extend far down enough; the curve ends too early.  This may have been an attempt to match the curvature of the other similar strokes in the ন and ম, but it needs to be different here.  I hope the image makes it clear.

[2016-07-22 08:30] JelleBosmaMT commented on #725
Seems a fair comment about the Sans ণ.  Unification of features and simplification of shapes is what a Sans makes a Sans for scripts that do not have serifs to begin with. I may have been too consistent here. I haven't looked at the design in several years, but will be having a fresh look when starting with additional weights.

Of course this Github item being mostly about the Serif, maybe the bow

[2016-07-25 10:11] benk-cogapp commented on #444
We would also find the COMBINING GRAVE ACCENT useful in Noto Serif. Our specific use case is for ALA-LC transliteration of Hebrew - see page 6 of http://www.loc.gov/cds/desktop/documents/Hebraica_cataloging.pdf and an example record at http://www.yiddishbookcenter.org/collections/yiddish-books/spb-nybc200956. We generally do well with Noto Serif using precombined characters, but as there isn't a p

[2016-07-28 04:14] sipraomer opened #726 "noto nastaleeq urdu"
The word Allah isn't displaying properly. It is missing the shaddah. It should be typed automatically when we type the word Allah. However, I can't even put it manually at the right place.

[2016-07-29 19:53] ALloydMT commented on #425
We added u+034F as a non-spacing mark.

Without u+034F, using the following code 0627 0645 0651 064D gives:
![without_cgj](https://cloud.githubusercontent.com/assets/20730631/17261437/4cdd93dc-559b-11e6-9e67-84a90595511d.png)

Including u+034F in the following code 0627 0645 0651 034F 064D we get:
![with_cgj](https://cloud.githubusercontent.com/assets/20730631/17261469/7e16aa24-559b-11e6-91a9-60ea

[2016-07-29 21:30] behdad commented on #425
Thanks @ALloydMT.  Can you also attach results for:

0627 0645 064B 0651
0627 0645 0651 064B
0627 0645 0651 034F 064B
0627 0645 064B 034F 0651

[2016-07-30 08:36] KrasnayaPloshchad commented on #445
It seems to me that the medial _L_ in this word need kerning.

To fix this problem, the "ending u" must be implemented after following characters: U+00A0, U+202F, U+200D, 	U+2060, U+FEFF

[2016-07-30 13:03] KrasnayaPloshchad commented on #445
In Wikipedia article [Pentaglot Dictionary](https://en.wikipedia.org/wiki/Pentaglot_Dictionary) you can found the following text:

_qaɣan-u bičigsen tabun ǰüil-ün üsüg-iyer qabsuruɣsan manǰu ügen-ü toli bičig_

In this case there is a bug in Noto Sans Mongolian can be seen when display with this font, in the word _iyer_ the letter _i_ and _y_ looks different. cf. http://archive.wul.waseda.ac.jp/ko

[2016-08-01 18:47] behdad commented on #726
Right.  MarkLig attachment on LamLamHeh ligature seems to be missing or wrong.  Kamal, can you please confirm?

[2016-08-01 18:47] behdad commented on #726
Note that you must type the shaddah.  But yes, even if you do, the positioning is wrong.

[2016-08-01 19:21] ALloydMT commented on #425
Hi Behdad, here are those combinations.

0627 0645 064B 0651
<img width="119" alt="0627 0645 064b 0651" src="https://cloud.githubusercontent.com/assets/20730631/17305920/c162fe46-57f2-11e6-958c-cfc84db38752.png">

0627 0645 064B 034F 0651
<img width="106" alt="0627 0645 064b 034f 0651" src="https://cloud.githubusercontent.com/assets/20730631/17305938/d62cc28a-57f2-11e6-91f2-f5836016ae7d.png">

062

[2016-08-01 21:39] jungshik opened #727 "Noto Khmer Sans UI: cannot use with IE 11 and Notepad on Windows 7"
* How to reproduce
1. Go to http://jungshik.github.io/noto/khmer.html in IE 11 on Windows 7

* What's expected
Two lines of Khmer text (regular and bold) as seen in Chrome and Firefox

* Actual
Khmer characters are shown briefly (a fraction of a second) on loading before they disappear.

* Additional information

- The web page uses hinted Noto Sans Khmer UI (ttf) 1.03 (the latest) as a web font

[2016-08-01 22:07] jungshik commented on #727
I ran Microsoft Font Validator over Noto Sans Khmer UI Regular and got a few errors reported (in addition to warnings and info entries).

* Errors
  - OS/2
    - E2135 The xAvgCharWidth field does not equal the calculated value actual = 795, calc = 791
    - E2117 A reserved bit is set in a ulUnicodeRange field bit #80
  - name
    - E2003 The table doesn't contain strings for Mac platform
    - E

[2016-08-01 22:09] jungshik commented on #727
I ran MS Font Validator over Noto Sans Lao UI Regular (that works fine in both IE 11 as a web font and in Notepad). It has E2135, E2003 and E2008 but does not have E2117.  Let me fix E2117 in Noto Sans Khmer UI and see how it goes.

[2016-08-01 22:32] dougfelt commented on #444
Can you please file a new issue for this?  This issue is specifically about Cherokee.

[2016-08-01 22:42] dougfelt opened #728 "Sans Bengali "ণ" too weak"
see #725, in particular the following image:

https://cloud.githubusercontent.com/assets/20583790/17035451/3121b4e2-4f7f-11e6-910c-0a32f586ee89.jpg

The letter doesn't extend far down enough; the curve ends too early. This may have been an attempt to match the curvature of the other similar strokes in the ন and ম, but it needs to be different here. I hope the image makes it clear.

[2016-08-01 22:50] jungshik commented on #727
Hmm... ulUnicodeRange bit 80 is for Khmer ( https://www.microsoft.com/typography/unicode/ulu.htm ).

[2016-08-01 23:07] dougfelt commented on #727
Yet the MS font validator tool you ran thinks this bit is reserved?  Is
there a more recent version of the tool?

On Mon, Aug 1, 2016 at 3:50 PM, jungshik <notifications@github.com> wrote:

[2016-08-01 23:35] marekjez86 commented on #727
Where did you get these fonts from?

On Mon, Aug 1, 2016 at 14:39 jungshik <notifications@github.com> wrote:

[2016-08-02 08:36] benk-cogapp opened #729 "COMBINING GRAVE ACCENT in Noto Sans"
The COMBINING GRAVE ACCENT is required for ALA-LC transliteration of Hebrew and Yiddish - see page 6 of http://www.loc.gov/cds/desktop/documents/Hebraica_cataloging.pdf and an example record at http://www.yiddishbookcenter.org/collections/yiddish-books/spb-nybc200956.

We generally do well with Noto Serif using precombined characters, but as there isn't a precombined character LATIN SMALL LETTER S

[2016-08-02 08:39] benk-cogapp commented on #444
No problem - I've opened #729 for this case.

[2016-08-02 09:38] moyogo commented on #729
@benk-cogapp It sounds like you’re getting a subsetted font from somewhere since COMBINING GRAVE ACCENT is in Noto Serif and Noto Sans.

[2016-08-02 09:47] benk-cogapp commented on #729
@moyogo If you could point me in the direction of a web version that supports this that would be great. We're currently using the embedded version from Google Fonts which, from the CSS file, doesn't cover the required code points for COMBINING GRAVE ACCENT. I've also tried downloading Noto Serif from the Noto website and converting it to a web-font with no success.

[2016-08-02 09:55] moyogo commented on #729
@davelab6 can help you with that. See https://developers.google.com/fonts/docs/getting_started#specifying_script_subsets

[2016-08-02 12:04] benk-cogapp commented on #729
@moyogo @davelab6 Thanks, that's helpful - I see from playing with the the beta feature that I can make this work by requesting the font like this:

[code]

However, it doesn't work correctly without explicitly requesting the COMBINING GRAVE ACCENT, and I can see from the `unicode-range` in the standard stylesheet that this character (U+0300) isn't included in the requested subsets. It would be ni

[2016-08-02 17:29] jungshik commented on #727
Where could I get them other than noto-font repository (right here)?  :-)

I also run the font via ot-sanitize (from OTS). A few changes were made by OTS, but the result is the same.

IE 11 and Notepad do not like it. However, wordpad on Windows 7 is fine with it. See the screenshot below.

![image](https://cloud.githubusercontent.com/assets/8578343/17338358/00b0ac3e-589c-11e6-8ed3-2352be7d7a3e.pn

[2016-08-02 17:38] jungshik commented on #727
There's a github repo for MS font validator, but I haven't tried to compile it from the source.

[2016-08-03 00:29] kmansourMT commented on #726
I confirm the reported error. It will be fixed in the next version.

[2016-08-03 00:42] behdad commented on #726
Thanks Kamal.

[2016-08-03 19:42] marekjez86 commented on #516
@taylorcanning: would you be able to add here the text that caused the issues that you describe?

[2016-08-03 23:16] jungshik commented on #729
Google Web Font is not very good when it comes to combining character support for Latin-Greek-Cyrillic given that it split a font into multiple subsets. To which subset would you put combining diacritic marks? I'll raise an issue internally to offer a way to get the *full* font.

[2016-08-03 23:27] jungshik commented on #727
I used browserstack to test Noto Sans Khmer (UI) on Windows 8 + IE 10/11, WIndows 10 + IE 11/Edge.
Noto Sans Khmer works fine in all those combinations. It's only on Windows 7 with IE {9,10,11} where it does not work.

[2016-08-04 08:25] benk-cogapp commented on #729
@jungshik Thanks for the follow-up. Looking at the existing subsets I'm not sure any of them would be appropriate - they all seem to fit within existing Unicode blocks, which makes sense, and in an ideal world it would be nice (for us) to get the whole Combining Diacritical Marks block. If pushed I'd say `latin-ext` since it already contains general punctuation and currency symbols, but I'm aware

[2016-08-04 19:22] jungshik commented on #729
@benk-cogapp : Note that having a *separate* font-face (subset) with unicode-range set to 'Combining Diacritic Mark block' does NOT work because 'base' characters and combining marks will be in *multiple*  fonts (TTF or OTF) and GSUB/GPOS features cannot be applied across multiple fonts.
For instance, the following does not work.

[code]

I have yet to check the spec and implementations of 'unicod

[2016-08-04 20:14] jungshik commented on #728
@dougfelt ,  do you think this issue belongs to  Phase 2 bucket?

[2016-08-04 20:20] dougfelt commented on #728
Well, maybe not, I wasn't thinking when I assigned the milestone.  We probably couldn't get a fix in time for Android, and since Bengali is a priority 2 it should come soon.  On the other hand from looking at the estimated delivery dates, it's blank, which I interpret as not before next year, so this wouldn't be fixed for 6 months.  Seems like a long wait.

[2016-08-04 23:21] jungshik commented on #723
@tiroj @SteveMatteson  :  what's your take on this issue?

[2016-08-04 23:23] jungshik commented on #727
Fixing all the errors reporte by MS Font Validator does not help, either.

[2016-08-05 00:00] tiroj commented on #723
This is correct: the default ano teleia should sit at the x-height aligned with the top dot of the colon.

Our fonts also contain variant ano teleia glyphs for allcaps and smallcap settings:
<img width="578" alt="screen shot 2016-08-04 at 16 59 31" src="https://cloud.githubusercontent.com/assets/5614500/17422236/e56682a8-5a64-11e6-82db-f60cfecfdd4e.png">

[2016-08-05 19:48] aiaf opened #730 "Noto Naskh Arabic - rendering problems on OS X/macOS and iOS"
The following string pattern causes the text to break apart for Noto Naskh Arabic v1.060 downloaded from https://www.google.com/get/noto/

On any given line, if the line contains an Alef with Hamza above أ or below إ and ends with a ligature followed by blank space, the entire line exhibits weird rendering issues.

Example problematic strings (note that they end with a blank space):

**Example 1**

[2016-08-05 20:00] Tarobish commented on #730
@aiaf please check our live testing page
I didn't find any problem here

![screen shot 2016-08-05 at 12 58 31 pm](https://cloud.githubusercontent.com/assets/8403973/17449035/92dd027a-5b0c-11e6-9975-1953af64f2b2.png)

[2016-08-05 20:05] aiaf commented on #730
@Tarobish these must be tested with a native application that uses Apple's Core Text. Depending on the browser you used, it's probably using its own layout engine.

[2016-08-05 20:10] Tarobish commented on #730
@graphicore

[2016-08-06 00:14] jungshik commented on #727
"Taking care of" most of warnings (some are impossible to go away. e.g. FontValidator complains about the lack of Euro sign for some reason) doesn't help, either.

http://jungshik.github.io/noto/khmer_lao/khmer_msvfixed.html : uses a revised version of NotoSansKhmerUI-Regular (haven't changed Bold, yet) and gives the same result.

[2016-08-10 17:54] jungshik commented on #727
@tiroj, do you have any insight as to what's going on? I'm also going to contact Microsoft, I thought you might have some clue.  Thanks a lot !

Note that this is NOT about a new version (phase 3) by MTI but the old one (phase 2).

[2016-08-10 19:16] pathumego commented on #405
@marekjez86 Sorry about disappearing on this. Notifications were turned off for some reason.
@JelleBosmaMT Yes, it applies to all the variations that you have posted, including conjunct forms  with Da. I agree dlig is the best feature to use for this. BTW ICTA standard dose not explicitly address the issue mentioned here, as this is a stylistic decision than language support decision.

[2016-08-10 19:17] pathumego commented on #405
And this change might cause a considerable text reflow.

[2016-08-12 17:45] tiroj commented on #727
I can't say for sure, but it sounds like it might be a RichEdit issue and likely related to the Unicode bit settings. The kind of behaviour you describe is similar to what I've seen when RichEdit thinks a font doesn't support the script that the text is in.

[2016-08-12 18:44] dougfelt commented on #727
So, only the Khmer bit is set in the unicode ranges.  John, would RichEdit complain because a space (and maybe cr and/or lf) is present in the text yet bit 0 is not set?

[2016-08-12 19:22] tiroj commented on #727
This could also be related to 8-bit codepage coverage or bit settings. Microsoft have long recommended that all fonts should contain at least one legacy compatible 8-bit codepage, and I believe this was due to issues with RichEdit and font fallback. Even today, it's a procurement requirement for any font we make for them that it contain coverage for at least one Windows 8-bit codepage (usually CP

[2016-08-15 17:21] jungshik commented on #727
@tiroj Thanks a lot for the reply. Strange is that Noto Sans Lao is almost identical to Noto Sans Khmer w.r.t '8-bit codepage' / unicode range bits, but it just works fine.

I'll go back and see if there's any difference between Noto Sans Khmer (UI) and Noto Sans Lao (UI).

[2016-08-15 17:32] jungshik commented on #727
@tiroj : Regarding RichEdit, do IE 11 or Notepad use it?  Note that Wordpad on Windows 7 works just ine.

[2016-08-15 20:23] roozbehp commented on #723
Note that ANO TELEIA and MIDDLE DOT are canonically equivalent. So a distinction in codepoint would not be preserved in some processes, so I would strongly recommend against having different glyphs for U+0387 and U+00B7. For all Unicode cares, these are the exact same conceptual character.

Now, if you want a different glyph for ANO TELEIA than the middle dot, you need to add contextual rules that

[2016-08-15 20:28] tiroj commented on #723
Yes, there is a risk that the ANO TELEIA character can be normalised to the MIDDLE DOT because of the utterly erroneous Unicode canonical equivalence, but I don't think this is a good reason to make the ANO TELEIA glyph wrong by default. Enough text processes do not perform normalisation, or do so only in a buffered state not affecting display, for the ANO TELEIA character to be widely displayed a

[2016-08-15 20:32] roozbehp commented on #723
John, not only there is a risk, but it will be normalized most of the time. By requiring someone that wants a different ANO TELEIA use U+0387 you are breaking so many assumptions of Unicode.

If you want to serve the Greek users, you should make it work (adjust the vertical position) for both codepoints the exact same way.

[2016-08-15 20:52] dougfelt commented on #723
Reopening this because we do not have a mechanism to produce the desired appearance.  There seems to be no argument that the desired appearance is incorrect, just disagreement about how to get there.

[2016-08-15 21:29] roozbehp commented on #723
Sorry, the closing was a wrong click. I did not intent to close the bug.

[2016-08-16 19:21] marekjez86 opened #731 "possibly: some issues with my S'Gaw Karen characters displaying properly on Windows 10 (pc & mobile)"
copying from https://github.com/googlei18n/noto-fonts/issues/516 a note by
@taylorcanning: "I have had some issues with my S'Gaw Karen characters displaying properly on Windows 10 (pc & mobile), with 'ha thee'/ high tone, I don't know how to tell you what the unicode name of the characters are, but they look like this ၣ် ၣ they aren't joining properly. Know how I can rectify this? Thanks so much"

[2016-08-16 19:22] marekjez86 commented on #516
[NotoSansMyanmar-Regular-ksw.pdf](https://github.com/googlei18n/noto-fonts/files/421120/NotoSansMyanmar-Regular-ksw.pdf)

the original issue is fixed

[2016-08-16 19:22] #516 closed

[2016-08-18 03:10] KrasnayaPloshchad commented on #445
Here is a list for Mongolian suffixes must be connected by Narrow NBSP:
http://lists.w3.org/Archives/Public/public-i18n-mongolian/2015JulSep/att-0005/DS05_Mongolian_NNBSP_Connected_Suffixes.pdf

[2016-08-18 23:44] taylorcanning opened #732 "ၣ် 1063 & 103A Noto Sans Myanmar issue still not resolved"
ၣ် 1063 & 103A Noto Sans Myanmar issue still not resolved, the combination does not render correctly. this is a very common S'Gaw Karen tone that is used very often. please see attached document.
[noto sans error.docx](https://github.com/googlei18n/noto-fonts/files/426088/noto.sans.error.docx)

[2016-08-19 15:50] tiroj commented on #723
There are a number of unfortunate or simply incorrect canonical equivalences assigned to Greek diacritic marks and punctuation in Unicode, i.e. equivalences between characters whose normative forms are unlikely to ever be the same if properly designed for Greek vs Latin text. My take on this is that the most robust mechanism should always be employed to ensure that as often as possible the correct

[2016-08-19 19:44] mina86 opened #733 "Implement slashed zero variant"
Implement a slashed zero variant of the zero digit (U+0030) which can be enabled via the `zero` Open Type feature. In CSS that can be turned on with `font-variant-numeric: slashed-zero;`.

[2016-08-21 14:29] marekjez86 commented on #733
from https://en.wikipedia.org/wiki/Slashed_zero :
'
...
Unicode supports explicit slashed zero, but only via a pair of combining characters, not as a distinct single character (or codepoint, in Unicode parlance). It is treated literally as "a zero that is slashed", and it is coded as two characters: the commonplace zero and then the "combining long solidus overlay" (U+0338). These combining charac

[2016-08-21 15:05] marekjez86 commented on #732
currently it draws like

[2016-08-21 20:19] moyogo commented on #733
In Unicode 9.0 a standardized variation sequence was added for zero with short diagonal stroke form. See [StandardizedVariants.txt](http://unicode.org/Public/9.0.0/ucd/StandardizedVariants.txt) or chapter 22.
But the `zero` feature would still be useful since that’s linked to the `font-variant-numeric` CSS property `slashed-zero` value.

[2016-08-21 22:37] mina86 commented on #733
Note that using combining solidus or variant selector is in many cases impractical and harmful since code fragment stop being copy’n’pasteable.

[2016-08-22 17:51] marekjez86 commented on #731
duplicate of https://github.com/googlei18n/noto-fonts/issues/732

[2016-08-22 17:51] #731 closed

[2016-08-24 02:56] roozbehp opened #734 "U+033B COMBINING SQUARE BELOW should look like a rectangle"
According to the Unicode errata, dated 2016-08-23: "The glyph shown for U+033B COMBINING SQUARE BELOW is incorrect and will be updated in a future version of the standard. The images below show the current glyph as it appears in the charts (on the left) and the revised glyph (on the right)."

![](http://www.unicode.org/errata/U033B-glyphs.jpg)

See http://www.unicode.org/L2/L2016/16178-ipa-laminal

[2016-08-25 11:25] brawer opened #735 "Rename NotoNastaliqUrdu to NotoNastaliq?"
NotoNastaliqUrdu seems to support other languages beyond Urudu. Should it really have “Urdu” in its name? Or should it be renamed to just “NotoNastaliq”?

<img alt="NotoNastaliqUrdu in FontView" src="https://cloud.githubusercontent.com/assets/1527880/17967186/0010ee38-6ac6-11e6-9eeb-f4528983c221.png">

In theory, we could release a NotoNastaliqPersian, NotoNastaliqKashmiri etc. with different _def

[2016-08-25 17:46] roozbehp commented on #735
The font is named Urdu because this is the Urdu style of writing Nastaliq. Others languages (like Persian and Pashto) write Nastaliq in a different style, and sharing one font for the quite different styles doesn't make much sense.

[2016-08-26 23:08] jungshik commented on #732
I guess this is about the latest release version of Noto Sans Myanmar (phase 2), right?

@taylorcanning, did you try a version in alpha directory ?

[2016-08-26 23:11] jungshik commented on #724
As you found out, not all fonts are hinted.

[2016-08-28 12:25] taylorcanning commented on #732
sorry @marekjez86 , I hadn't embedded my font in the file I attached so it didn't show up properly. the image you added is correct, but on my surface 3 in Microsoft word, it is rendered like this ၣ ် (but next to each other- no space in between, but not connected). please see attached screenshot of this thread and the rendering shown on edge browser.
![screenshot 41](https://cloud.githubuserconten

[2016-08-29 01:06] ile opened #736 "Problem with backticks"
Hi,

I'm trying to type multiple successive backticks (backticks following each other, like in markdown `fence`) into a textarea, but it seems impossible: http://codepen.io/anon/pen/wWVxYo.

Is this a bug?

[2016-08-29 15:09] yogiks opened #737 "Kannada complex rendering broken on Java based applications"
Saw this on two Java-based applications: [JOSM](https://josm.openstreetmap.de/) and [Freeplane](http://www.freeplane.org/wiki/index.php/Main_Page). Below are the screenshots and corrections:

Incorrect rendering on JOSM-

![josm](https://cloud.githubusercontent.com/assets/6291913/18055172/6ca5d14c-6e24-11e6-93ee-db793d789734.png)

Expected correct rendering: ಕೆಂಭಾವಿ ಆರೋಗ್ಯ ಉಪಕೇಂದ್ರ. As it is shown

[2016-08-29 23:19] marekjez86 commented on #737
![kannada](https://cloud.githubusercontent.com/assets/13322623/18070532/49a295f2-6e03-11e6-926a-6970031a3417.jpg)

top line: NotoSerifKannada-Regular.otf (using https://github.com/googlei18n/noto-fonts/blob/master/unhinted/NotoSerifKannada-Regular.ttf )
bottom: NotoSansKannada-Regular.otf (using https://github.com/googlei18n/noto-fonts/blob/master/unhinted/NotoSansKannada-Regular.ttf )

Does any o

[2016-08-30 08:59] yogiks commented on #737
Nope.

### On top line
![kembavi-wrong](https://cloud.githubusercontent.com/assets/6291913/18076227/b5ae0718-6e99-11e6-8791-88e528c72722.png) looks wrong. Correct rendering would be
![giht-kembavi](https://cloud.githubusercontent.com/assets/6291913/18076237/d5fa3cbc-6e99-11e6-8876-5e8f08812307.png). But ಆರೋಗ್ಯ ಉಪಕೇಂದ್ರ looks right.
![right-au](https://cloud.githubusercontent.com/assets/6291913/180

[2016-09-01 22:13] KatMomoi commented on #496
I am closing this bug belatedly as there are no Noto issues left and whatever Arimo, Cousine and Tino issues there are tracked in bug #684.

[2016-09-01 22:13] #496 closed

[2016-09-01 22:36] KatMomoi commented on #737
Let us send this over to Sue/MTI first for evaluation. If the issue is elsewhere, please assign it back to us.

[2016-09-06 15:16] JelleBosmaMT commented on #737
**On behalf for waksmonskiMT**

There are two options for rendering: first the old "windows XP" style rendering with the knda script tag. Which looks like this in Windows XP:
![winxp](https://cloud.githubusercontent.com/assets/12729011/18278020/d2e60918-7450-11e6-8533-00aa14087ad9.png)
No Problem.

Secondly there is improved rendering through the tag knd2. It looks like this in Windows 7:
![win7](

[2016-09-06 15:39] brawer opened #738 "Standardized variants for Manichaean"
When Noto adds support for the Manichaean script, which was added to Unicode 7.0, it should not forget to support the following [standardized variants](http://www.unicode.org/Public/UCD/latest/ucd/StandardizedVariants.txt):

10AC5 FE00; alternate form; isolate # MANICHAEAN LETTER DALETH
10AC6 FE00; alternate form; isolate # MANICHAEAN LETTER HE
10AD6 FE00; alternate form; isolate final # MANICHAEA

[2016-09-06 15:41] brawer commented on #542
Would it be `GSUB` or a `cmap` type 14? (Probably doesn’t matter as long as the results are correct).

[2016-09-06 18:09] roozbehp commented on #542
I have not followed the recent Mongolian issues very closely, so no idea about if the lack of the sequence in the font is intentional or not. @kmansourMT would know.

As for the website referenced, that is maintained by Richard Ishida, a very well-respected i18n expert who is part of a Mongolian task force at the W3C. I guess @r12a is his github handle.

Regarding the choice between GSUB and cmap

[2016-09-06 18:13] roozbeh commented on #542
@roozbehp I think you got this :-) I mentioned here because of my username being similar to yours :-)

[2016-09-07 12:54] r12a commented on #542
@dougfelt the page at https://r12a.github.io/scripts/mongolian/variants shows glyph behaviour that may not yet be available in currently released versions of Mongolian Baiti, but i think it should represent actual observed behaviour (by me) for Noto Sans.

the page represents the outcome of discussions amongst Mongolian experts aimed at producing the next version of mongolian variant behaviours fo

[2016-09-07 18:27] jungshik commented on #737
I don't think this is a font issue. It's a Java issue.

[2016-09-07 19:26] yogiks commented on #737
@JelleBosmaMT
The fonts are fine in text editors on Ubuntu too but issue is it doesn't render correctly with Java applications(i.e, [JOSM](https://josm.openstreetmap.de/) and [Freeplane](http://www.freeplane.org/wiki/index.php/Main_Page) in above examples) although other Kannada unicode fonts work as expected(See [3rd pic](https://cloud.githubusercontent.com/assets/6291913/18055170/6c4e3c98-6e24-1

[2016-09-07 19:35] dougfelt commented on #737
I assume this is with Java 8?  I think it still uses ICU layout.  My guess is ICU doesn't process the Kannada quite right.  My understanding is Java 9 will use Harfbuzz and perhaps that will fix this.

[2016-09-08 06:56] JelleBosmaMT commented on #737
The Gubbi font has both knda and knd2 rendering. But knd2 is seriously
buggy. The blwf feature is missing and in Windows 7-10 the subscripts do
not form. So in Java it must still be the knda rendering that is used.
We tested Noto with two different knda renderers.

I cannot do anything but speculate at this stage: Noto Sans Kannada is at
the moment not active as project. The question is for how lo

[2016-09-08 14:18] KrasnayaPloshchad commented on #542
On BabelStone website I found another guide for design a Triditional Mongolian typrface. You can see here if you can read Chinese:

http://babelstone.co.uk/Mongolian/MGWBM.html

[2016-09-08 14:25] KrasnayaPloshchad commented on #445
On BabelStone website I found a good guide for design a Traditional Mongolian typeface. You can see it here if you can read Chinese:

http://babelstone.co.uk/Mongolian/MGWBM.html

[2016-09-09 13:58] code-tree opened #739 "Using Noto in CSS without Web Fonts"
My web app will have many different languages and scripts, and I'd prefer not to use Web Fonts, but would like the app to use Noto fonts if they are installed (i.e. for Android users).

How do I specify Noto in a way that covers all scripts? Do I literally need to list all the scripts in the `font-family`? If so, what order should they appear in (especially in regard to CJK etc)?

I'd also like to

[2016-09-09 18:53] KatMomoi commented on #739
Marek, please assign this to someone who can help with this question.

[2016-09-10 06:14] rastus-vernon commented on #716
I have seen editors and websites use italics for comments in source code.

[2016-09-13 08:58] KatMomoi commented on #738
This looks like a product decision bug. Let me assign this to xiangye. Does the Noto project plan to support all historical scripts of which Manichaean is one?

[2016-09-13 09:21] brawer commented on #738
Doesn’t Noto plan to support all of Unicode?

[2016-09-13 09:44] KatMomoi commented on #738
I stand corrected -- the Noto project is already supporting a number of historical scripts like Avestan, Brahmi, and others.  And if it plans to support all Unicode scripts -- extinct or alive, then Manichaean is definitely to be included.
Then, this is a reminder bug for specs of such a font. I guess it still is appropriate to have this assigned to xiangye?

[2016-09-13 16:30] TakenPilot commented on #739
I would really like an answer to this question.  Doesn't it seem weird to have a project that doesn't say how to use it on the front-page readme?

Should we add documentation in addition to answering this question?

[2016-09-13 17:51] sven-oly opened #740 "Noto Sans Myanmar: Non-Burmese language diacritics + U+102F overlap each other"
I've found a character combination that does not render correctly in this font, but looks OK in other Myanmar fonts. The problem sequence is: u+1016 u+1060 u+102f u+1036. The two lower diacritics (1060 and 102f) overlap.

The same problem appears with these non-Burmese language diacritics and u+102f:
1058, 1059, 105e, 105f, 1082, 108d, and potentially others.

This looks right in the following Uni

[2016-09-13 18:01] xiangyexiao commented on #738
yep. It is correct to assign this kind of bugs to me. I will reassign it to MTI as a reminder.

[2016-09-13 18:05] xiangyexiao commented on #738
Sue, this is a reminder bug to implement the five standardized variants of Manichaean when you start to develop font for it.

[2016-09-13 19:22] yrmishra opened #741 "DEVANAGIRI and THAI fonts for itext."
Little bit of history about the issue first.
Currently we are using itext for generating pdf reports in our application. We had to support Japanese market so we included cjk otf font in our application under basefont. Now we need to support the INDIA and THAI market as well but we only require currency symbol for them rest is english only. While testing with using devanagiri otf file, the rupee sy

[2016-09-13 20:04] sven-oly commented on #740
Note that u+1060 and U+105X are used for the Mon language. The 1082 and 108d are used in the Shan language.

[2016-09-13 20:21] roozbehp commented on #740
@sven-oly, I don't see this problem on the latest version of Android. Is this possible you are using an old version of HarfBuzz or an old version of Noto Sans Myanmar?

[2016-09-13 21:58] sven-oly commented on #740
Thanks for checking.

I see the problem on Chrome OS, version 52.0.2743.116 on ChromeBook Pixel 2.

I see similar results on Chrome Version 54.0.2840.16 , running on Linux Ubuntu 14.04. Noto Sans is from Sept. 28, 2015.

[2016-09-13 22:02] roozbehp commented on #740
Assigning to @marekjez86 to see if it reproduces with latest font and latest HarfBuzz.

[2016-09-13 22:02] roozbehp commented on #740
/cc @jungshik  since this may be due to an old font in Chrome OS.

[2016-09-13 22:03] sven-oly commented on #740
I see it rendering correctly on Android, too. I'll check my web font version. I'm looking at this in http://zawgyi-unicode-test.appspot.com/mon/?text=%E1%80%96%E1%81%A0%E1%80%AF%E1%80%B6, which uses a web font.

[2016-09-14 00:19] KatMomoi commented on #741
I guess the user wants to compose (on the fly) a single font out of 3 fonts or a solution to his/her problem in some other way. I've CC'ed a few people -- someone should be able to answer your question.

[2016-09-14 00:26] KatMomoi commented on #741
yrmishra: can you clarify what you mean by this passage below?

"While testing with using devanagiri otf file, the rupee symbol comes with numbers but english fonts dissapeared in our pdf. Same with thai otf file. "

In particular what does "English fonts disappeared.." mean?

[2016-09-14 00:30] dougfelt commented on #741
My guess is this means that when they tried using only the Devanagari font
the English part of their text didn't render, since the font doesn't
contain Latin characters.

Apparently either itext doesn't provide a fallback mechanism, or it's
really inefficient so they can't use it.  Noto relies on fallback so we can
avoid duplicate Latin glyphs in all of the individual fonts.

On Tue, Sep 13, 2016

[2016-09-14 00:45] yrmishra commented on #741
yes the above statement is correct, when testing only using devanagiri or thai otf the english part of text didn't render where as while using cjk it renders it.
Since our application is going to launch in india and thailand we need to show the currency symbols in pdf.
Looked everywhere to merge these 3 otf file into one but could not find any solution for it. And definitely we want to get rid of

[2016-09-14 00:46] yrmishra commented on #741
yes the above statement is correct, when testing only using devanagiri or thai otf the english part of text didn't render where as while using cjk it renders it.
Since our application is going to launch in india and thailand we need to show the currency symbols in pdf.
Looked everywhere to merge these 3 otf file into one but could not find any solution for it. And definitely we want to get rid of

[2016-09-14 02:01] code-tree commented on #739
So if I'm looking in the [right place](https://github.com/google/skia/blob/master/resources/android_fonts/v22/fonts.xml) (?), it seems like Chrome-on-Android will end up using Noto as a fallback (and I assume use the Noto fonts in the correct order), however, you can't directly tell it to via `font-family` or `@font-face`. Is that correct?

On top of that, Skia lists the UI font variations under a

[2016-09-14 06:11] yogiks commented on #737
@dougfelt yes, this is with Java 8.

@JelleBosmaMT right, Gubbi hasn't been active since past few years nor any other open license Kannada unicode fonts afaik. Would be good if Java 9 will fix this.

[2016-09-14 17:27] jungshik commented on #739
I don't think there's "the" single correct order. Anyway, for CJK distinction, what you can do is just specify 'sans-serif' (if you only care about Android) and make sure to tag your html document (or a part thereof such as div, span, p, etc) with 'lang=zh-Hans', 'lang=ja', 'lang=zh-Hant', 'lang=ko', etc.  Then, Chrome will pick the correct font corresponding to 'lang'.

I heard that CSS4(?) font-

[2016-09-14 17:33] jungshik commented on #739
For Roboto, you can specify the following to avoid downloading fonts:

[code]

For other Noto, "local(Noto Sans Devanagari)" does NOT work as I mentioned in my previous comment. So, yes, you're right. If you use web fonts, Noto fonts will ALWAYS be downloaded even though they ARE present on user's machine.

[2016-09-14 18:15] TidharC commented on #736
Hi,

I tried entering text in backticks, e.g.:

[code]
in both fields at the URL above, but don't see a problem (I used Chrome and Firefox on Mac OS).
Can you elaborate on the repro steps you are using?

[2016-09-14 19:45] dennisr35 opened #742 "Noto Sans Devanagari letter inversion"
I'm trying to write an PDF generator with support for Devanagari script. The main problem is the u093f character which is displayed before the consonant.
For example
u0935
u093f
should be substituted with:
u093f
00935

I would like to know, how the inversion of characters is handled in the Noto Sans Devanagari font. Is it an entry in the GSUB table? if so, which? (I could not find it)

[2016-09-14 19:52] dougfelt commented on #742
Layout engines like Harfbuzz will handle this.  What are you using?

[2016-09-14 22:18] KatMomoi commented on #736
I can reproduce the problem at the page provided by ile.
The difference is that TidharC has local Noto (Sans/serif) fonts while I don't and so rely on the web font from Google.

Adding a few people who might be able to tell us why the difference.

[2016-09-14 22:26] dougfelt commented on #736
Yes, I was thinking the same thing.  Our current copy of
hinted/NotoSans-Regular.ttf works fine with hb-view.  Perhaps someone on
the webfonts team should investigate.

On Wed, Sep 14, 2016 at 3:18 PM, KatMomoi <notifications@github.com> wrote:

[2016-09-15 00:29] iverg commented on #736
It seems that 'grave' glyph class was changed from Mark to Base in recent versions of Noto. It is still 'Mark' in the webfont.

[2016-09-15 02:50] code-tree commented on #739
Thanks for clarifying that

Is this Chrome-specific behaviour, or do other browsers do this (for their own system fonts) as well? I couldn't find much documentation on it.

I see. Is it mainly only CJK order that matters? So if I ensure `lang` is set correctly for those, then there shouldn't be too much of a problem with any others?

[2016-09-15 05:01] KatMomoi commented on #736
David Kuettel, after looking at the current Noto Sans/Serif and comparing them to earlier versions, we believe that the web version you are delivering are older and  they behave as reported in this bug relative to U+0060.  Do you plan to update the web version soon?

[2016-09-15 11:53] dennisr35 commented on #742
I try to implement this in C# without using external component. I need to know in which table of the font file the information about the letter inversion is stored.

[2016-09-15 16:42] dougfelt commented on #742
1) There is no font table in which this information is stored.  Indic reordering behavior is defined in the spec and implemented by layout engines in OSs and some applications.  See https://www.microsoft.com/typography/otfntdev/indicot/
2) People have spent decades developing and refining text layout engines.  Even if you limit yourself to Indic, it is unlikely that you will achieve the speed, com

[2016-09-15 17:34] nizarsq commented on #730
I was able to reproduce this bug on TextEdit, it looks weird. Noticed two things, first when letter Alef shift the Hamza will disappear, the other thing noticed is when you change any part of the sentence the text will display correctly.

![screen shot 2016-09-15 at 10 06 45 am](https://cloud.githubusercontent.com/assets/22158882/18559447/21b1ab9c-7b2c-11e6-94d4-885ee98452e8.png)

![screen shot 20

[2016-09-15 19:15] nizarsq commented on #661
I was able to observe this issue using multiple apps for e.g. TextEdit on Mac and on google translate, I noticed this issue is not specific to a font, for some reason this character (U+08A4) does't accept any font other than Arial, please look at http://www.fileformat.info/info/unicode/char/08a4/fontsupport.htm.

[2016-09-15 20:04] Sagir8453 opened #743 "Sylheti Nagari conjuct characters issue"
Hi, Sylheti Nagari conjuct characters are not supported, please do something for it.

[2016-09-15 22:51] nizarsq commented on #661
By going back to the bug and reread it seem i misunderstood the bug, going to go over it again. Thanks

[2016-09-16 04:42] xiangyexiao commented on #741
Would you be able to try fonttools to merge the fonts by yourself? fonttools is at:
https://github.com/behdad/fonttools

[2016-09-16 08:35] Sagir8453 commented on #741
Thanks :)
On 16-Sep-2016 10:13 am, "Xiangye Xiao" <notifications@github.com> wrote:

[2016-09-16 09:25] Sagir8453 commented on #741
I need to download 7 python files to install this fontool ?
On 16-Sep-2016 2:05 pm, "Sagir Ahmed" <sagir8453@gmail.com> wrote:

Thanks :)
On 16-Sep-2016 10:13 am, "Xiangye Xiao" <notifications@github.com> wrote:

[2016-09-16 13:42] JelleBosmaMT commented on #457
I added these characters in 2014. Due to mix up in QA it was redelivered in March 2015. In other words, this issue was fixed before it was reported on Github.

[2016-09-16 16:27] Sagir8453 commented on #741
Hi can you merge all scripts except cjk and emoji for me and many people?
It will help us a lot ... I'm quite new in Python and font designing
...thanks :)
On 16-Sep-2016 2:55 pm, "Sagir Ahmed" <sagir8453@gmail.com> wrote:

[2016-09-16 17:36] xiangyexiao commented on #717
Having this info in FAQ is good.
For CJK, is it accurate to say we will support all Plane 1 CJK in Unicode 9? @kenlunde

[2016-09-16 17:42] kenlunde commented on #717
@xiangyexiao: I think you meant BMP, not Plane 1. The BMP is Plane 0.

Anyway, in terms of relevant CJK characters in the BMP and considering Unicode Version 9.0, Source Han Sans / Noto Sans CJK are missing glyphs only for U+9FD1 through U+9FD5. These are Unicode Version 8.0 characters. They are already on the list for the Version 2.000 update.

[2016-09-16 18:22] xiangyexiao commented on #717
yep. I meant Plane 0. sounds like we can say that we plan to cover 100% of Unicode 9.0, including CJK.

[2016-09-16 18:34] xiangyexiao commented on #717
updated FAQ. Please check:
https://github.com/googlei18n/noto-fonts/blob/master/FAQ.md

[2016-09-16 18:34] #717 closed

[2016-09-16 21:35] nizarsq commented on #730
Update, Tested this font (Noto Naskh Arabic) on windows platform and issue NOT produceable, rendering is perfectly fine.

[2016-09-16 21:47] KatMomoi commented on #730
Not sure if this is the font side problem or platform side problem. But the problem does exist on Mac OS X for sure. Need a bit more digging.

[2016-09-16 21:49] KatMomoi commented on #730
We should add that it is important to get this correctly for Arabic on Mac OSX.

[2016-09-16 22:22] dougfelt commented on #730
@behdad, can you look at this?

[2016-09-16 23:08] KatMomoi commented on #743
I wonder if there is a clearly defined set of rules for conjuncts and they are specified in the Unicode standard. Can the bug filer add some additional info?
Roozbeh -- has any discussion on Syloti Nagri come up in recent Unicode technical committee discussions?

[2016-09-16 23:27] KatMomoi commented on #743
Cf. http://www.unicode.org/versions/Unicode9.0.0/ch15.pdf

Not sure if the description here is sufficient to implement conjuncts in a font. Added behdad also to discussion.

[2016-09-17 01:22] dscorbett commented on #717
The second sentence makes it sound like you don’t plan to cover non-BMP CJK. If you don’t cover non-BMP CJK, you can’t have 100% coverage of Unicode 9.0.

[2016-09-17 05:37] dougfelt commented on #717
Yeah, we're not covering all of Unicode 9 because we're not covering all of
CJK, for details there see Ken. Exclusive of CJK, though, we do plan to
cover all of Unicode 9, though it will take awhile.

On Fri, Sep 16, 2016, 6:22 PM David Corbett <notifications@github.com>
wrote:

[2016-09-17 08:27] pnorman opened #744 "UI versions not included in download zip"
https://noto-website.storage.googleapis.com/pkgs/Noto-hinted.zip does not contain any of the UI versions of the fonts, e.g. no NotoSansUI-Regular.ttf or NotoSansMyanmarUI-Regular.ttf

[2016-09-17 12:42] kenlunde commented on #717
The CJK coverage of the BMP is quite good at this point. Outside the context of CJK, even the BMP includes plenty of esoteric characters.

Anyway, I keep track of the CJK ideographs, unified and compatibility, [here](https://blogs.adobe.com/CCJKType/files/2016/07/ideographs-unicode-9.pdf) (for Unicode Version 9.0). I am tracking tentative Unicode 10.0 additions [here](https://blogs.adobe.com/CCJKT

[2016-09-18 14:08] KrasnayaPloshchad commented on #615
The author of DC White have produced the new fonts with the name of Abkai Xanyan that you can test with.

http://abkai.net/core/en/manchu/manchu-fonts/

[2016-09-18 15:21] dennisr35 opened #745 "Noto Sans Fonts don't include ASCII characters"
Would it be possible to include ASCII characters in all Noto Fonts? I tried to create a PDF with Noto Sans Hebrew, but the comma showed as unrecognized character. I recommend to include all ASCII characters in every Noto Sans font.

[2016-09-18 21:30] Artoria2e5 commented on #745
Negative impacts on font fallback expected...

[2016-09-18 21:40] Artoria2e5 commented on #741
You don't need to know Python to use apps written in Python.

[code]

[2016-09-19 16:30] dougfelt commented on #745
That is how Noto is supposed to be used.  We do not want to duplicate ASCII across 150+ font files.

[2016-09-19 16:30] #745 closed

[2016-09-19 17:29] jungshik commented on #740
@roozbehp: @sven-oly is using a web font without local():
[code]

The sequence involved is U+1016, U+1060, U+102F, U+1036

[2016-09-19 17:50] jungshik commented on #740
In Chrome  on Android (55.0.2860.0) and Mac (53.0.2785.101), I can reproduce the issue.

'Noto Sans Myanamar' was last updated in Sep 2015 (phase 2) so that @sven-oly is using the latest release of the font.

Phase 3 version of Myanmar is not yet ready, I'm afraid.

[2016-09-19 17:52] jungshik commented on #740
@roozbehp, @sven-oly : when you said you couldn't reproduce this on Android, did you test it with TextView on Android or use Chrome? If the latter, what version of Chrome did you use?

[2016-09-19 17:56] jungshik commented on #741
This is not really a Noto font issue. (and this issue has nothing to do with CJK)

It's iText not supporting font fallback.

Anyway, for Devanagari and Thai, you can merge Noto Sans LGC (NotoSans-{weight}.ttf) with NotoSans{Devangari, Thai} UI-{weight}.ttf with pyftmerge.

Make sure to take the glyphs for ASCII digit and ASCII punctuation come from NotoSansDevanagari-UI when merging it with Noto S

[2016-09-19 18:20] hrhatada commented on #732
I believe the problem is not the font, but some others like rendering.  I could see the same problem happens with MS Myanmar font on IE, but not on Chrome.

I also check the “ၣ် 1063 & 103A” on the WordPad with MS Myanmar Text & Noto Sans Myanmar, and confirmed the problem happens on both font.

taylorcanning, could you check if the problem happens when you use other font?

![myanmarissueonwin](ht

[2016-09-19 18:49] behdad commented on #730
First we need to verify it happens with OS X 10.12.  If it does, report to Apple.  When you do, send me the bug number so I can follow up with CoreText people.

[2016-09-19 20:30] hrhatada commented on #728
Hi JelleBosmaMT, This is a separated issue form #725 as you suggested.

[2016-09-19 21:02] roozbehp commented on #740
I used TextView. This is Android version 6.0.1, build number MTC20F.

[2016-09-19 21:03] xiangyexiao commented on #662
Thanks, @twardoch. I really appreciate your enthusiasm for helping us and supporting Noto. Also thanks for your time on writing this.

I checked with our lawyer. Unfortunately, we cannot give other people/companies legal advices. They have to decide what can and cannot be done with Noto by themselves. The only accurate thing we can say is that the fonts are under OFL.

[2016-09-19 21:03] #662 closed

[2016-09-19 22:40] hrhatada commented on #722
Hi Behdad, have you filed this request against https://github.com/googlei18n/nototools so that we can close this?

[2016-09-20 07:03] jungshik commented on #743
From the Unicode standard chapter 15,

Wow...

@Sagir8453, what kind of conjuncts do you expect to see?  Do you have any specific conjuncts in mind?

[2016-09-20 07:06] jungshik commented on #740
Thank you, @roozbehp.

@KatMomoi, can you test with harfbuzz stand-alone (hb-*) + the release build of Noto Sans Myanmar (UI) and Noto Serif Myanmar?

[2016-09-20 07:12] jungshik commented on #739
It's not Chrome-specific. There's no requirement in the spec/standard, but modern browsers tend to take into account 'lang' to pick a fallback font. (Firefox certainly does that.).

For other languages (e.g. Indic scripts with shared characters like Danda and Double Danda), I'm afraid Chrome on Android does not take into account to determine which font to use for them.  For that, Firefox on Androi

[2016-09-20 07:18] jungshik commented on #737
I don't think there's anything to do here because it's not a font issue.

[2016-09-20 07:18] #737 closed

[2016-09-20 07:31] jungshik commented on #719
In case of Tamil, even without scaling, there's no clipping. Scaling was done to make the line spacing more comfortable IIRC.

As for Telugu, the UI version should fit in without clipping. If there's clipping *even when* Roboto's default line-spacing is used, we should look at the metrics and investigate why.

[2016-09-20 07:48] jungshik commented on #682
@marekjez86 What's your plan on this and a bunch of other LGC and/or ArimoTinosCousine bugs you filed in May? They have not been assigned to anybody and MTI folks were not cc'd.

[2016-09-20 12:41] JelleBosmaMT commented on #728
This is a bit scary. With the plan to start with the design proposal to extend Noto Sans Bengali this morning, I started my computer, to be greeted by the one and only Noto Sans Bengali Github issue...

![new nna](https://cloud.githubusercontent.com/assets/12729011/18670309/98a00732-7f3f-11e6-8e02-eea158c9993c.png)

The ণ is now more like গ and প in posture and less like ন and ল. To the far right

[2016-09-20 18:23] roozbehp commented on #719
Many different issues here. They should be tracked separately. For example, the very last screenshot is about horizontal clipping, not vertical clipping. I don't know if it's the keyboard app or the font app either.

As for vertical clipping in Google Translate, that's a bug that needs to be filed against Google Translate. They seem to be doing their own clipping.

As for the baseline shift, it se

[2016-09-20 18:27] roozbehp commented on #743
This is what I found on conjunct usage (just search for "conjunct"): http://www.unicode.org/L2/L2002/02388-syloti-proposal.pdf

[2016-09-20 18:35] neogitter commented on #719
@roozbehp The baseline shift becomes really ugly when using Telugu along with numbers. The difference in baseline becomes glaringly visible and is quite awkward. Wouldn't it help if we scale down the font to 90% and shift the baseline down to match English?

The horizontal clipping is seen in the official Google infic keyboard app and also in some messenger apps, eso the last characters.

[2016-09-20 20:31] JelleBosmaMT commented on #728
With the Bold tried another step: harmonizing the left of the white counter shape of ণ with the left of the right counter of শ.
![new nna bold](https://cloud.githubusercontent.com/assets/12729011/18687749/cfbb6530-7f81-11e6-895a-24444101d444.png)

[2016-09-20 22:29] nizarsq commented on #673
@moyogo what platform you used to reproduce this issue?  tested 0775, 0776 on Apple native app (TextEdit) using Noto Nastaliq Urdu and was able to reproduce the issue; those letters will not get connected as they supposed, they basically rendered separately.

![burushaski letters should connect in noto nastaliq urdu 673](https://cloud.githubusercontent.com/assets/22158882/18691069/6ed694fa-7f46-11

[2016-09-21 01:19] TidharC commented on #743
Section II.2 of the proposal above lists some common conjuncts.  We may need a more comprehensive conjunct collection, if it exists.

[2016-09-21 17:37] roozbehp commented on #743
You can also look at the list of conjuncts supported by other Syloti Nagri fonts: http://scriptsource.org/cms/scripts/page.php?item_id=script_detail_font&key=Sylo

[2016-09-21 21:36] #742 closed

[2016-09-21 21:41] jungshik opened #746 "Document how to merge fonts with pyftmerge"
Spun off from #741

Some tools/libraries does not support font fallback (well). Most Noto {Sans,Serif} <Script> [UI] fonts do not cover Basic Latin.  In a lot of cases, just adding 'Basic Latin' (+ a few punctuations in U+2xxx) block help those stuck with 'no-font-fallback' a lot.

Documenting how to do this with pyftmerge would be nice.

[2016-09-21 21:42] jungshik commented on #741
Filed #746 for a documentation issue. Closing this one.

[2016-09-21 21:42] #741 closed

[2016-09-21 21:46] jungshik commented on #551
Pinging @kmansourMT to make sure that this issue is addressed in Phase 3 version of Noto Tifinagh.

[2016-09-21 21:55] jungshik commented on #236
@dougfelt said he'd close this one, but apparently forgot the *right* button. I'm closing.

[2016-09-21 21:55] #236 closed

[2016-09-22 01:53] TidharC commented on #712
I can reproduce the issues above in Noto Sans (see screenshot).
![upanotosans](https://cloud.githubusercontent.com/assets/16353803/18734797/ad5a54a0-802c-11e6-9822-34b1e5b111f2.png)

[2016-09-22 19:11] TidharC commented on #663
I am able to repro this on Mac with TextEdit (see screenshot).
![nototibetantsa-phru](https://cloud.githubusercontent.com/assets/16353803/18762435/980f7eea-80bd-11e6-9e90-bf207a4d7a8f.png)

[2016-09-22 19:49] TidharC commented on #666
I can repro this, but it doesn't seem specific to Noto: Lucida Grande renders the same way (see screenshot).
![notosansawithrighthalfring](https://cloud.githubusercontent.com/assets/16353803/18763542/b9f3d2d6-80c2-11e6-932c-a69a051b809d.png)

[2016-09-22 21:55] TidharC commented on #665
I checked both Estrangela and Madnhaya (Eastern) Noto fonts.  Only Lamadh + Alaph shows a ligature.
![notosanssyriacligatures](https://cloud.githubusercontent.com/assets/16353803/18767521/82c7d642-80d4-11e6-902b-1e5480926e42.png)

[2016-09-22 22:20] TidharC commented on #658
This issue is at least partially reproducible.

Comparing Noto Sans Tibetan to Kokonor, Noto has fewer dotted circles (see screenshot).
![notosanstibetanandkokonor](https://cloud.githubusercontent.com/assets/16353803/18768155/1ede5fbc-80d8-11e6-9254-b4a711c7b60d.png)

[2016-09-22 23:16] TidharC commented on #668
The issue is reproducible, but not limited to Noto (see, for example, Courier New in the screenshot).
![notosans-0460-047e](https://cloud.githubusercontent.com/assets/16353803/18769177/b53b12e6-80df-11e6-952a-91c29de9a537.png)

[2016-09-22 23:53] hrhatada commented on #720
I checked this with NotoSansEthiopic-Regular v1.900 in Internet Explorer 11.0 on Win & in Chrome 53.0.2785.116 (64-bit) on OS X 10.11.6  ጥ does NOT looks like ፕ with the latest font.
The attached screenshot was taken on Windows 7 with IE11 & Notepad
![notosansetiopiconwin](https://cloud.githubusercontent.com/assets/16353449/18769731/965fff58-80e4-11e6-8fcb-c78705e3ee3f.png)

[2016-09-23 00:56] TidharC commented on #653
It seems U+FE24 and U+FE25 are half macrons in Noto Sans Coptic.  Entering the chars in the order:
03E9 2C9B FE24 FE25
places a full macron on top of the letter Ni ⲛ  This looks conistent with sample Coptic printed text.
Antinoou's rendering of the same sequence looks broken.

Please compare the screenshots to your results and advise.

![copticgospel](https://cloud.githubusercontent.com/assets/163

[2016-09-23 02:24] KrasnayaPloshchad opened #747 "Add three new Syriac language tag"
OT 1.8 Specification added SYRE, SYRJ, SYRN as language tags for Syriac, they should be applied in Noto Sans Syriac fonts.
https://www.microsoft.com/typography/otspec/changes.htm

[2016-09-23 05:54] signinstranger commented on #653
Thank you for looking into this. The rendering of both half macrons in Noto is indeed correct. I don't know what caused the swapping of the characters on my machine but it is gone now. You can close the issue.

[2016-09-23 16:50] #653 closed

[2016-09-23 18:30] nizarsq commented on #661
Apparently the regular form of 06A4, 06A6, 06A8, 08A4 in all contextual forms (Final, Media, Initial) lose the space under the circle (look at the screenshots), however, when it is in isolated form or bolded will show the space under the circle.
![noto naskh arabic variants of qaf and feh 06a4 06a6 06a8 08a4 are inconsistent 661](https://cloud.githubusercontent.com/assets/22158882/18796957/708bf3b

[2016-09-23 18:38] hrhatada commented on #715
I tried to install NotoSarifLao-Regular.ttf (ver 1.03) on OSX10.11.6, and had the same error.  I also tried install the same font on Win7, and didn't have any problem.

[2016-09-23 21:05] hrhatada commented on #695
If you compare the font with others (e.g. Helvetica, Microsoft San Serif, Arial), you can see the spacing between the char "RIT" & "RA" looks tighter than other chars.  Please refer to the attached screenshot.

![2016-09-23 1 43 37 pm](https://cloud.githubusercontent.com/assets/16353449/18801257/8a963afe-8196-11e6-8ca1-e614e01a58ab.png)

![2016-09-23 1 44 31 pm](https://cloud.githubusercontent.com

[2016-09-23 21:39] nizarsq commented on #606
I was able to reproduce this issue for ۊ and ۇ,  those characters not supported by Noto Nastaliq, and they fall back to another font which it cause the script to lose ligature between joined letters.

![imited set of arabic characters](https://cloud.githubusercontent.com/assets/22158882/18801827/0359130a-819a-11e6-9e8b-50d51e3bed0e.png)

[2016-09-23 22:54] dscorbett opened #748 "Noto Sans Coptic: double inverted breve"
In Noto Sans Coptic, U+0361 COMBINING DOUBLE INVERTED BREVE extends over the previous character. It should extend over the next character.

The same problem applies to U+1DCD COMBINING DOUBLE CIRCUMFLEX ABOVE. Also, U+1DCD looks like an inverted breve instead of a circumflex.

[2016-09-23 23:29] TidharC commented on #748
In Noto Sans Coptic, I see both combining marks extend toward the next char (see screenshot).  But the two marks do look the same.

By comparison, in Antinoou the two marks look different.
![notosanscopticcombining](https://cloud.githubusercontent.com/assets/16353803/18804055/eae395e6-81aa-11e6-9156-8d50ad789486.png)

[2016-09-23 23:30] TidharC commented on #748
Can you provide more specifics on how you reproduce the extension issue?

[2016-09-23 23:37] dscorbett commented on #748
U+0361 extends backwards in BabelMap, which uses Uniscribe. It extends forwards in Firefox, which uses Graphite. Maybe it is a Uniscribe bug. The character does work in other fonts in BabelMap though.

[2016-09-25 03:21] jungshik commented on #743
Which encoding model was accepted of the two models in the proposal referred to in @roozbehp's comment? It looks like the viramic model (iii 3.1) was taken instead of the alternate model ( iii 3.2 of the proposal) according to my reading of TUS chapter 15.

[2016-09-25 03:30] jungshik commented on #730
@brawer, this might be one case of what you're looking for if it's still broken on Mac OS 10.12.

[2016-09-25 03:32] jungshik commented on #746
Duping to #722

[2016-09-25 03:32] #746 closed

[2016-09-25 03:39] jungshik commented on #748
We have to check first if Noto Sans Coptic has those two combining characters.

[2016-09-25 03:42] jungshik commented on #734
Has a bug been filled against Robotics as well?

[2016-09-26 18:00] TidharC commented on #748
I verified that both U+0361 and U+1DCD are listed in Noto Sans Coptic.

Does BabelMap use Uniscribe or DirectWrite?  Which version of Windows is it on?

[2016-09-26 18:24] dscorbett commented on #748
BabelMap uses Uniscribe. This is on Windows 7 and Windows 8.

[2016-09-26 18:42] dougfelt commented on #695
OK, Sue, can someone look at the RIT here?  It does seem a bit tight.

[2016-09-26 19:58] roozbehp commented on #743
No idea. I wasn't involved with the Indic scripts then. You need to dig into the meeting notes and make your conclusions based on what's in the Core Spec.

[2016-09-26 20:20] roozbehp commented on #734
Roboto bug is https://github.com/google/roboto/issues/202

[2016-09-26 20:25] roozbehp commented on #606
No idea why this is assigned to me. But basically, Noto Nastaliq Urdu has a limited character set and doesn't cover the full Arabic script range. @dougfelt should have the list of characters in the spec.

[2016-09-26 20:26] roozbehp commented on #665
No idea why this was assigned to me. Removing myself.

[2016-09-26 21:37] TidharC commented on #667
I can confirm that U+0333 and U+0347 look essentially the same (see screenshot).  Combining overlines (U+0305, U+033F) are sometimes not joined, and neither are combining underlines.  The issue becomes apparent with wider glyphs, and with glyphs having extenders above (b, d, ...) or below (q, y, ...).

![notosanslines](https://cloud.githubusercontent.com/assets/16353803/18852725/99ac7154-83f6-11e6

[2016-09-26 22:04] TidharC commented on #647
Can you please include a screenshot?

I tried the same char sequence on Mac OS, and see a rendering difference between Noto Sans Oriya and Oriya (Sangam) MN.

![notosansoriya](https://cloud.githubusercontent.com/assets/16353803/18853533/7ea87f66-83fa-11e6-9b42-1f8460447f37.png)

[2016-09-26 22:44] dougfelt commented on #606
@nizarsq can you provide a list of the unicode values of the characters necessary for Nastaliq to support the language list in wikipedia mentioned in the original bug?  Or extract a list of strings for testing?  Or are these two the only characters needed?

[2016-09-26 22:48] marekjez86 commented on #739
Thank you @jungshik . @code-tree : sorry for not having a better answer. @TakenPilot : we will have a better documentation.

[2016-09-26 22:53] marekjez86 commented on #695
[20160926150259327.pdf](https://github.com/googlei18n/noto-fonts/files/494249/20160926150259327.pdf)

IMHO Noto Sans is NOT that tight (see the measurements of a printed image which was adjusted to fit into US letter paper). IMHO, it is as designed.  I'm not certain why I has "serifs", but this is past history which I do not know.

[2016-09-26 22:59] dougfelt commented on #695
So, @marekjez86 what course of action are you proposing here?  Sascha proposed replicating the behavior. Harumi replicated it.  I proposed that Sue have someone look at it.

Are you proposing that we just close the bug?

[2016-09-27 01:06] marekjez86 commented on #695
@waksmonskiMT : Sue, could you ask someone of the team that works on Noto Sans consider this feedback when preparing the next drop of LGC? Thank you.

[2016-09-27 01:52] TidharC commented on #647
If you need help taking the screenshot, the following article provides some tips:
http://www.digitalcitizen.life/4-ways-take-screenshots-windows-8-81-using-built-tools
As an alternative, you could also take a photo of the PC screen with your phone.

[2016-09-27 05:21] Sagir8453 commented on #741
Ok thanks.
On 19-Sep-2016 3:10 am, "Mingye Wang" <notifications@github.com> wrote:

[2016-09-27 10:51] behdad commented on #634
Marek, we need to ask Monotype to fix Nastaliq font for this.  If Kufi font is still under warranty, request fixing that as well.  Thanks.

[2016-09-27 10:53] behdad commented on #673
Confirming original report.  Marek, please send to Monotype to fix.

[2016-09-27 11:02] behdad commented on #542
Mongolian uses GSUB for Mongolian variation selectors indeed.

[2016-09-27 14:18] marekjez86 commented on #695
![_r_caron](https://cloud.githubusercontent.com/assets/13322623/18877339/d2f7a0d8-8481-11e6-9193-bcf28b5ee7c8.png)
![_uni1e_c_a_](https://cloud.githubusercontent.com/assets/13322623/18877346/d5d33a74-8481-11e6-955d-b24612fea742.png)

The above images compare Regular with Bold for similar glyphs. Given that the next release will have {TRBH}x{CR} the design might need to be altered. If that's the ca

[2016-09-27 16:29] brawer opened #749 "NotoSansBalinese has high contrast"
NotoSansBalinese has a high contrast, also compared to other fonts in the NotoSans family. Compare eg. NotoSansMyanmar-Regular (left) to NotoSansBalinese-Regular (right). Perhaps NotoSansBalinese shoud be renamed to NotoSerifBalinese, and/or a lower-contrast NotoSansBalinese could be made in phase 3?

<img width="329" alt="NotoSansMyanmar versus NotoSansBalinese" src="https://cloud.githubuserconte

[2016-09-28 01:24] TidharC commented on #657
I am able to repro this (see screenshot).

![notosanssundaneseja](https://cloud.githubusercontent.com/assets/16353803/18897469/8a618cd6-84df-11e6-9c16-0de270c2cc65.png)

[2016-09-28 01:48] TidharC commented on #604
Still repro with Noto Sans Bengali.
Looks correct with Noto Serif Bengali.

[2016-09-28 15:53] behdad commented on #722
No.  Feel free to do that.  Thanks.

[2016-09-28 16:51] samdx opened #750 "Noto Sans: Vietnamese's ngã "tumbling" tone is just a horizontal line but not a `(low) falling and (mid) rising` or `creaking-rising`"
Hi,

The following image shows the comparition between Noto Sans vs Lato Sans in displaying the Vietnamese's [ngã](https://en.wikipedia.org/wiki/Vietnamese_phonology#Six-tone_analysis) tone.

Here you can see, Noto Sans displays this tone just weird. It's a - (horizontal-line) instead of a ~.

The text in the left side was used Noto Sans font, and Lato is the right one, in comparision of displayin

[2016-09-28 17:09] dougfelt opened #751 "APL support in Monospace font?"
APL users might want Monospace support like the Haskell folks do.

This is a list of characters marked as APL in the Unicode Miscellaneous Technical block.  We should consider adding these to Mono as well.  We'll need to find out if these are sufficient or if APL requires additional characters not listed here.

[code]

[2016-09-28 23:55] marekjez86 commented on #750
@samdx : could you enter some sample text with all the tones for Vietnamese [sắc, huyền , hỏi , ngã  and nặng  ] over some vowels? I wanted to create a test for this and I'm not a Vietnamese speaker/reader/writer.

@waksmonskiMT : please consider changing it.

[2016-09-29 05:17] samdx commented on #750
@marekjez86 Here I added more some sample and comparision. Two font faces side by side, with various font sizes.

It seems that the issue is ocurred when using font sizes which are equal or smaller than 11pt only (`<=11pt`). (Red arrows)

![160929-fonts-comparison](https://cloud.githubusercontent.com/assets/18287802/18941824/7d53f168-863e-11e6-9e53-fd76e7b1a32c.png)

[2016-09-30 17:57] dscorbett commented on #751
APL does require additional characters: see http://www.math.uwaterloo.ca/~ljdickey/apl-rep/n1.html et seq.

[2016-09-30 20:17] dougfelt commented on #751
Thanks.  Those appear to be gif image files, and poking around a bit I was unable to find machine-readable tables that listed all the Unicode codepoints here.  Do you know of any sources?  Otherwise I have to hand-transcribe these pages, which might lead to errors.

[2016-09-30 21:56] dscorbett commented on #751
http://www.math.uwaterloo.ca/~ljdickey/apl-rep/tables/set2-ucs.html (obsolete, but in a convenient format)
https://en.wikipedia.org/wiki/APL_syntax_and_symbols
http://help.dyalog.com/12.0/html/relnotes/character%20usage.htm
http://help.dyalog.com/12.0/html/language%20elements.htm
http://help.dyalog.com/12.0/html/special%20symbols.htm

[2016-09-30 22:01] dougfelt commented on #751
You say set2-ucs.html is 'obsolete', but is it complete w.r.t. the list of Unicode codepoints used by APL?  Since the original images order the codepoints differently it's not straightforward to compare.

[2016-09-30 22:14] dscorbett commented on #751
There are multiple implementations of APL, which use slightly different character repertoires, so I wouldn’t assume any of those links is complete on its own. The draft table in set2-ucs.html probably has the same characters as the images because they were all created as part of the same effort to encode APL symbols in Unicode.

[2016-09-30 22:16] dougfelt commented on #751
OK.  I'll just add these to the set and then leave it to other folks to point out what's still missing.

[2016-09-30 22:46] dougfelt commented on #751
Heh.  Doesn't help that there's confusion about the naming of Down Tack/Up Tack... It's just the names that disagree, though, it appears.

Here's the list from set2-ucs.html with the APL names from that file in parens where they differ (ignoring the 'APL FUNCTIONAL SYMBOL' prefix Unicode uses for the 2300 range.

[code]

[2016-10-03 04:31] Alhadis commented on #396
What's MNTF mean?

(I tried Googling it, but found nothing conclusive...)

[2016-10-03 06:22] moyogo commented on #750
@lemzwerg This looks like an issue with freetype autohinting. The uppercase and lowercase tilde are flat at some sizes: 14 and 15 ppem for the uppercase, 10 to 15 and 18 to 20 ppem for the lowercase. They are not as flat with font hinting.

[2016-10-03 08:16] lemzwerg commented on #750
It most certainly is, if the font was either hinted with ttfautohint, or FreeType gets used in auto-hinting mode.  For the former it is possible to correct bad hinting manually, for the latter there is currently no fix.

[2016-10-03 13:17] marekjez86 commented on #396
this was an internal acronym that meant "M Needs To Fix" :-) not used any longer hence. I'm deleting it

[2016-10-03 14:37] marekjez86 commented on #396
we have published alpha of dualcase Noto Sans cherokee in https://github.com/googlei18n/noto-fonts/tree/master/alpha/OTF/from-pipeline

[2016-10-03 14:37] #396 closed

[2016-10-03 15:02] marekjez86 commented on #510
Kat, could you ask someone to check
https://github.com/googlei18n/noto-fonts/blob/master/alpha/OTF/from-pipeline/NotoSansUI-Regular.otf
https://github.com/googlei18n/noto-fonts/blob/master/alpha/OTF/from-pipeline/NotoSansMono-Regular.otf
https://github.com/googlei18n/noto-fonts/blob/master/alpha/OTF/from-pipeline/NotoSansDisplay-Regular.otf
https://github.com/googlei18n/noto-fonts/blob/master/alph

[2016-10-03 19:20] trevorpowell opened #752 "Noto Sans Sumero-Akkadian Cuneiform"
Am looking for the Noto Sans font for this Unicode block:
https://en.wikipedia.org/wiki/Early_Dynastic_Cuneiform#Chart

It sounded like there might be a font called "Noto Sans Sumero-Akkadian Cuneiform" that is different than "Noto Sans Cuneiform" that might cover it. Do you know if that's the case?

[2016-10-03 19:32] dougfelt commented on #752
I think these were introduced in Unicode 8 and Noto does not yet support them (current support is mostly limited to Unicode 6).  They are on our roadmap to be added to the current Cuneiform font.

[2016-10-03 19:40] trevorpowell commented on #752
Thanks!

[2016-10-03 19:46] #752 closed

[2016-10-03 20:30] dougfelt commented on #652
@jungshik, do you have an opinion?  If we want this we need a list of the unicode codepoints to add, at a minimum.

[2016-10-03 20:37] dougfelt commented on #606
@nizarsq ping

[2016-10-03 21:00] ebraminio commented on #606
Just these four Unicode characters are needed, I don't think they have presentation form even.

[2016-10-03 22:23] nizarsq commented on #606
I am sorry I was busy with other projects, I will work on it tomorrow. Thanks

[2016-10-04 00:02] Alexendoo opened #753 "Noto Color Emoji seems to include a space character (U+0020)"
However it seems to mess up the display somewhat in firefox mobile and chrome desktop, [this pen for example](http://codepen.io/Alexendoo/pen/ozokvx) displays as:

![image](https://cloud.githubusercontent.com/assets/1830331/19058294/efc936c6-89cd-11e6-8abf-c95ef16a54b2.png)

I don't know if this is an issue with the software or the font but it does occur on multiple browsers + OSes

[2016-10-04 00:20] dougfelt commented on #753
I get a space between Hello and World at that link (Chrome on Ubuntu).  NotoColorEmoji's space is 2550 design units, the same as most characters in the font.  I'm not sure why it would not be showing with that width, if simple character-based fallback is being used.

[2016-10-04 18:13] nizarsq commented on #606
@ebraminio Could you check if ۋ  (U+06CB) also have an issue?

[2016-10-04 19:43] ebraminio commented on #606
Yes
![image](https://cloud.githubusercontent.com/assets/833473/19089220/43baf004-8a86-11e6-913f-60f4eb8baec3.png)
But what I actually meant was just those four are needed as I know adding all of Arabic characters to Nastaliq font is not practical.

[2016-10-04 19:52] ebraminio commented on #606
Steps to repro:

Open https://ur.wikipedia.org/wiki/%D8%A7%DB%8C%D8%B1%D8%A7%D9%86

Click on this button:

![image](https://cloud.githubusercontent.com/assets/833473/19089885/f1025188-8a88-11e6-9f1d-4c65f75d6e7f.png)

Names with character missing:
![image](https://cloud.githubusercontent.com/assets/833473/19089945/2a32af0c-8a89-11e6-8c0e-85e71719c45c.png)

![image](https://cloud.githubusercontent.

[2016-10-05 19:06] TidharC commented on #753
I retested the pen above with a few browsers: Firefox (including the beta version) on Android is the only one where the space is missing.  All other browsers I tried show the space:

MacOS: Chrome, Firefox, Safari
Android: Chrome, Opera, Opera Mini
iOS: Chrome, Firefox, Safari

 @Alexendoo, what is your desktop OS?

[2016-10-05 19:57] TidharC commented on #692
I checked Noto Sans and Noto Serif.  It seems neither U+A7B5 nor U+AB53 is included in the two fonts.  Also, I see no indication of substitutions:

U+A7B5 ==> U+03B2
U+AB53 ==> U+03C7

[2016-10-06 08:46] brawer commented on #674
Looking at the [source](https://github.com/googlei18n/noto-source/blob/master/src/NotoSansCherokee-MM.glyphs) in Glyphs.app, it already seems to contain all three glyph variants for all masters. For example, uppercase `uni13F0`, lowercase `uni13F8`, and unicameral `uni13f0.alt`. So, wouldn’t implementing the `unic` OpenType feature be as simple as opening the source file in Glyphs, pressing ⌘I, an

[2016-10-06 15:33] Alexendoo commented on #753
Xubuntu, both chrome and chromium. Inspector shows it's displaying 10 glyphs from Liberation Sans and 1 from Noto Color Emoji

[2016-10-06 18:11] marekjez86 commented on #674
Sascha,
there's already (if you open the *.glyphs file using a text editor) the
following

features = (
{
code = "sub uni13A0 by uni13A0.alt;\012sub uni13A1 by uni13A1.alt;\012sub
uni13A2 by uni13A2.alt;\012sub uni13AA by uni13AA.alt;\012sub uni13AC by
uni13AC.alt;\012sub uni13B3 by uni13B3.alt;\012sub uni13B7 by
uni13B7.alt;\012sub uni13BB by uni13BB.alt;\012sub uni13BE by
uni13BE.alt;\012sub uni

[2016-10-06 18:59] shirriff commented on #548
Apple now supports U+20BF (₿) in macOS Sierra and iOS 10. So it would be nice for Noto to support it too.

[2016-10-06 19:36] aiwebb commented on #736
FYI, this issue has been referenced in today's HN post about the project:

https://news.ycombinator.com/item?id=12655054

[2016-10-06 22:26] xiangyexiao commented on #736
I saw the comment in hacker news too. I have passed the comments to Google Fonts team and will get it fixed.

[2016-10-07 02:47] TidharC commented on #651
Still missing in Noto Sans and Noto Serif.

[2016-10-07 06:34] chuckreynolds opened #754 "macOS Font Book 6 serious errors"
![screen shot 2016-10-06 at 23 25 14](https://cloud.githubusercontent.com/assets/46185/19180693/bea2755c-8c1c-11e6-85c2-a650b4769e52.png)

Seems like the `'post' table usability` is the issue in all the ones listed.
Only one that had an additional red X was "NotoColorEmoji.tff" > "Noto Color Emoji" `System Validation` had the red X in addition to the `'post'`

MacOSX El Capitan v10.11.6
Font Book

[2016-10-07 07:07] brawer commented on #715
@marekjez86, do you know when we’ll get design sources (“phase 3”) for Lao?

[2016-10-07 07:08] brawer commented on #754
For Lao, see https://github.com/googlei18n/noto-fonts/issues/715.

[2016-10-07 10:33] seeschloss commented on #736
For what it's worth, I have the same problems with the following characters in addition to grave accent:

    ¨ (U+00A8 DIAERESIS)
    ´ (U+00B4 ACUTE ACCENT)
    ¸ (U+00B8 CEDILLA)

The other dead keys I know about (and have on my keyboard) work as expected though, like ^, ~ or °

[2016-10-07 10:45] brawer commented on #674
Yes, but the mapping should also include the lowercase letters, and (as suggested by @jungshik) be accessible via a `unic` feature. Sent you https://github.com/googlei18n/noto-source/pull/16 which does this.

[2016-10-07 16:28] XANi opened #755 "zero is indistinguishable from O in monospace version"
![zaznaczenie_2016-10-07_001](https://cloud.githubusercontent.com/assets/147394/19197596/fa07a966-8cba-11e6-8574-5dd3c7f2df78.png)

It is almost impossible to spot the difference, dotted or slashed zero would be much more useful

[2016-10-07 16:39] dougfelt commented on #755
Agreed.

[2016-10-07 16:41] dougfelt commented on #651
These are targeted for Symbols in Phase 3.

[2016-10-07 17:52] TidharC commented on #650
Apparently U+0D01 (Malayalam sign Candrabindu) is present in Noto Serif Malayalam, but not in Noto Sans Malayalam.

[2016-10-07 19:29] fractalgee commented on #754
actually none of the fonts validate on macos X 10.11.6

[2016-10-07 19:31] fractalgee commented on #715
none of the so far released fonts pass validation on mac os 10.11.6

[2016-10-07 20:10] keoladonaghy opened #756 "U+02BB glyph missing in NotoMono"
Hawaiian support in NotoMono is incomplete. Needs to have the glottal character (single open quote) at U+02BB. This is the character that has used for the glottal on Mac OS Hawaiian keyboard since 2002. Other system (iOS and Microsoft) use U+2018; this character is fine in NotoMono.

Other Noto fonts seem to include this character at U+02BB.

[2016-10-07 20:55] amire80 commented on #754
Same here with macOS Sierra 10.12.

[2016-10-07 20:56] dougfelt commented on #756
Thanks.  This is scheduled to be in phase 3 for Mono.

[2016-10-07 20:56] #756 closed

[2016-10-07 21:27] marekjez86 commented on #715
@brawer : On Sep/7 we accepted the design, I do not have any dates at this point.

[2016-10-07 21:33] marekjez86 commented on #650
I will be part of phase III release in all: Malayalam Sans Document, Malayalam Sans UI and Malayalam Serif once we finish updates.

[2016-10-08 09:20] brawer commented on #735
@xiangyexiao, should we plan making Nastaliq fonts for Persian or Pashto?

[2016-10-08 09:44] brawer commented on #715
@marekjez86, can you check? If it’s more than a quarter out, I guess we should manually patch the binary font file. But if our vendor says they can deliver the design sources in 2016, then I’d say we can simply wait and then run it this through the standard pipeline. Would you agree?

Background for the various other people cc’ed on this bug, who might not be familiar with the project: In “phase 2

[2016-10-08 10:20] fractalgee commented on #715
Here is trying to install the NatoSans-Regular.ttf font file, same error with each and every one of them downloaded yesterday:

![notsans-regular_validation_fail](https://cloud.githubusercontent.com/assets/12473856/19212446/9df527f6-8d51-11e6-8bdc-8d777e04bff7.png)

[2016-10-08 12:49] xnoreq opened #757 "Unicode line drawing in PuTTY with Noto Mono"
PuTTY with "Use Unicode line drawing code points" and DejaVu Sans Mono, 10pt:
![2016-10-08](https://cloud.githubusercontent.com/assets/4028859/19213213/59fd5e24-8d65-11e6-8520-03d8eea3637e.png)

With the font changed to Noto Mono:
![2016-10-08 1](https://cloud.githubusercontent.com/assets/4028859/19213214/5b471bee-8d65-11e6-94ec-91f3fbf3573a.png)

Here's the portion copied out of the terminal:
[co

[2016-10-09 06:12] luke-jr opened #758 "OFL is not a free software license"
It prohibits sale of the font by itself. (I'm aware of the FSF's "loophole", but disagree it would hold up legally.)

Why not dual license it under OFL | Apache | GPL or something? (Or just use the standard MIT license which most free software fonts use...)

[2016-10-09 07:07] moritzfl commented on #754
exactly the same issue as chuckreynolds with macOS 10.12

[2016-10-09 09:58] xnoreq commented on #757
Box Drawing Unicode block: http://www.unicode.org/charts/PDF/U2500.pdf

[2016-10-09 14:44] lwb52 commented on #715
Same issue OS 10.11.6:
4 Lao fonts - "'post' table usability

[2016-10-09 15:05] lwb52 commented on #754
10.11.6 Fontbook does not properly display (tofus) every accepted (non-error-marked) Noto font, tho a dubl-klik shows them in a window. However, even dubl-kliking gets some tofu in Cherokee, and ALL-tofu in the 3 Syriacs...

[2016-10-09 17:26] MayuraVerma opened #759 "Noto Serif Kannada - Serious bug"
In Mac OS sierra and chrome browser, setting default font to Noto Serif Kannada yields distorted text. But the same webpage with Noto Sans Kannada doesn't distort the text. So, I think it is not "Apple's Core Text Engine" that is causing issue.

Please review.

https://kn.wikipedia.org/wiki/ಆಂಗ್ಲ

I used chrome extension "Advanced Font Settings" to change the default font.
![screen shot 2016-10-09

[2016-10-09 23:01] verdy-p commented on #733
This variant of zero was typically used by programmers on low resolution devices where it was no possible to distinguish the digit zero from the capital letter O.

However I disagree that this was a long slash overlay (passing through to ouside the oval), traditionally it was just a small inner overlay, not always touching the inner ring, and frequently only just a dot in the middle.

The version

[2016-10-10 00:20] MayuraVerma opened #760 "Kannada Noto Sans and Serif Issue"
The below text in "Pages" in Mac OS Sierra, renders text differently for Kannada Noto Sans and Serif.

With Noto Sans, glyphs are not substituted correctly.
With Noto Serif, glyphs are not positioned correctly.

Please review.

Text is taken from the below link.

https://kn.wikipedia.org/wiki/ಆಂಗ್ಲ

kannada noto sans
![kannada noto sans](https://cloud.githubusercontent.com/assets/14062593/19224898

[2016-10-10 06:35] AlexPoulsen commented on #754
Same exact issues, considering this is a font designed to remove boxes (or "tofu), the amount of boxes is surprising.
Also couldn't the fonts be put into one font within font book on mac? That way when the "Noto Sans" is selected, you would have support for whatever language, not just the one that the font file supports plus maybe english too.

[2016-10-10 10:50] brawer commented on #759
Thanks for the report! Would you mind copying a few badly rendered Kannada words into this bug, as plaintext? It would help to find out what’s happening.

For example, here’s the word ಕಾನ್ಸೊನಂಟ್ಸ್ in Noto Sans and Noto Serif rendered by [FontView](https://github.com/googlei18n/fontview). FontView uses the HarfBuzz library for shaping, not CoreText. The red rectangles look different; is this just a

[2016-10-10 11:08] mina86 commented on #733
Yeah, that would be U+0030 U+FE00 vs. U+2205 U+FE00. Having both would be best but I would be satisfied with either really.

[2016-10-10 15:23] Rixius opened #761 "Noto Mono Feature Request. Adding a slash or bullet to the Number 0"
Greetings, downloaded Noto and began to play around with it. First thing I noticed was that, like Droid Sans, the Zero has not been better differentiated from an English capital O.

Example:
![character differences](https://cloud.githubusercontent.com/assets/300226/19241131/cd258a16-8ed2-11e6-9052-715d4005c123.png)

For better source code viewing, adding some artifact to better distinguish the cha

[2016-10-10 15:37] dougfelt commented on #761
duplicate of #755

[2016-10-10 15:37] #761 closed

[2016-10-10 15:41] dougfelt commented on #733
Is this desired for LGC, Monospace, or both?

[2016-10-10 15:49] brawer commented on #733
Personally I’d say all of them.

[2016-10-10 16:04] dougfelt commented on #733
My thought for mono was that the default glyph would be a slashed or dotted zero, but then it seems there'd be no means to get a standard zero.  Or would there be?

[2016-10-10 16:11] dougfelt commented on #733
The wikipedia article Marek referenced also says "Use of the "combining short solidus overlay" (U+0337) produces a result where the slash is contained within the zero. This may be coded as 0&#x0337; to yield 0̷."  This is specifically the short solidus, not the long one mentioned in the excerpt Marek provided.

It's clear the gsub zero feature is required.  Beyond this, I'm not sure if the variati

[2016-10-10 16:19] mina86 commented on #733
I’ll echo brawer’s opinion. To give you concrete example, I use proportional font for code samples on my website and I need slashed zero there.

My understanding is that the `zero` feature can be enabled, disabled or *not specified*. I might be wrong.

[2016-10-10 16:22] davelab6 opened #762 "Noto Sans Hebrew space character showing as tofu"
A user reported an issue with Noto Sans Hebrew downloaded from google.com/get/noto at https://github.com/google/fonts/issues/400

[2016-10-10 16:36] dougfelt commented on #733
@waksmonskiMT, please ensure that fonts with ASCII zero support a slashed variant via the gsub 'zero' feature as well as via the variation sequence.

[2016-10-10 17:08] jungshik commented on #760
Might or might not be an issue specific to Mac OS(coretex).
@brawer @marekjez86

[2016-10-10 17:10] jungshik commented on #754
Noto Color Emoji uses one of 4 standard color font formats (using CBDT, CBLC tables), but that format is not supported by Mac OS.

[2016-10-10 17:18] MayuraVerma commented on #759
@brawer It is not styling issue. It is 100% rendering issue.

But the same text in "Pages" displayed correctly with Noto Serif Kannada, expect "ನ್ನಾ" glyphs is discontinous.
![kannada noto serif2](https://cloud.githubusercontent.com/assets/14062593/19224899/b126e2a2-8e54-11e6-8e69-36d52befb682.png)

I have copied few text below. This is not full list. This could help diagnose the root cause.

ಲ್ಲಿ

[2016-10-10 18:07] brawer commented on #759
@MayuraVerma, thanks so much! Just to confirm, is it correct that ಟ್ಸ್ should be rendered like in the left picture, and the right picture is wrong? (Left is CoreText on macOS 10.12; right picture is HarfBuzz).

<img width="135" alt="screen shot 2016-10-10 at 8 03 33 pm" src="https://cloud.githubusercontent.com/assets/1527880/19246049/a71ad82e-8f24-11e6-8353-9b68512a4434.png">

[2016-10-10 18:28] MayuraVerma commented on #759
@brawer yes. Left is correct, right is incorrect rendering.

[2016-10-10 19:23] verdy-p commented on #733
My opinion is that even if pairs with diacritics are acceptable, there's a
need to control the appearance of the variant for zero, for default
renderings without changing the encoded text (I can imagine easily contexts
in which, for example, a data editor would enable this feature for editing
data files as they are and where there's a clear need to make a visual
distinction)

If the standard zero

[2016-10-10 20:26] dougfelt commented on #733
I don't know of such a proposal.  I imagine you'd need to show precedent for a semantic distinction between these variants within the same text.

The 'zero' feature tag seems designed only to enable a slashed zero form, not to turn it off or select alternate forms in general.

[2016-10-10 20:41] verdy-p commented on #733
I've seen many maths documents distinguishing various forms of zeroes (and
other digits). The dot is likely to be one of these distinguised variants,
and the slash is generally not used to to its confusion with the empty set
or some capital theta. Diacritics (including overlaid ones) are frequently
used (as welll as doublestruck, or bold styles).

2016-10-10 22:26 GMT+02:00 dougfelt <notifications

[2016-10-10 21:36] jungshik commented on #759
Just in case it's not clear, Chrome on Mac also uses HarfBuzz.
@behdad

[2016-10-10 21:40] jungshik commented on #760
@MayuraVerma , thanks a lot for the report. Could you list problematic sequences for Noto Sans and Noto Serif below?  I'm sorry, but it's rather hard for me to find them in a long paragraph (you included in the report).

BTW, how are those sequences rendered by either Chrome or Firefox on Mac?  Are they better or worse?

[2016-10-10 21:41] jungshik commented on #757
@dougfelt

[2016-10-10 22:00] TidharC commented on #762
Tested with Text Edit on macOS 10.11.6, could not repro.

[2016-10-10 22:29] MayuraVerma commented on #760
This issue is "Pages" in Mac OS Sierra

With Noto Sans KANNADA:
Glyphs are not substituted correctly. They are highlighted in "RED" color above. I will list them below for your reference.
ಸ್ಥಾ
ನ್ನಾ
ತ್ತಾ
ಟ್ಟಾ
With Chrome or Firefox on Mac, this is not an issue.

With Noto Serif KANNADA:
Glyphs are not positioned correctly. In the OP, this combination is highlighted in bigger font size to show the g

[2016-10-10 22:31] dougfelt commented on #617
@waksmonskiMT Sue, just a reminder that box drawing characters need to be designed so they work for their intended purpose.  For phase III these are in the monospace font.

[2016-10-10 22:32] dougfelt commented on #757
Ref #617

[2016-10-10 22:37] MayuraVerma opened #763 "Noto Sans Kannada issue"
I am not sure if this is Noto Sans Kannada defect in Chrome on Mac or if this is Chrome issue or harfbuzz issue.

There seems to be an issue with "ZERO WIDTH JOINER" and "\u0cb0\u0ccd" combination.
\u0cb0\u0ccd\u200d\u0c95

incorrect display in chrome
![incorrect display in chrome](https://cloud.githubusercontent.com/assets/14062593/19226292/ecd28c60-8e6e-11e6-8b5b-ed480a80a0a5.png)

correct displ

[2016-10-10 23:23] trejkaz opened #764 "Single "megafont" covering all scripts covered by all Noto fonts"
We are cursed with multiple inconvenient PDF generation libraries which can't do font fallback, so we want a single "megafont" which covers as much as possible. Arial Unicode is currently being used for this, but its licence prevents us redistributing it ourselves.

So the news of Noto was exciting. The news was billing it as a single font which covers everything. But the download page doesn't loo

[2016-10-11 00:11] dougfelt commented on #764
Strictly speaking, no, because there are many more glyphs in Noto than can fit into a single font.  CJK alone is as large as it can get.

In addition, different scripts prefer different line metrics.  Noto tries to provide suitable line metrics for each script rather than forcing all scripts to fit one.  The UI fonts are an exception to this, however, so using them we could generate a single font

[2016-10-11 02:36] MayuraVerma commented on #535
Gentleman,

Any updates on the same?
When do can we see this implemented in the font?

thanks,
Mayura

[2016-10-11 03:07] cahyoramadhani opened #765 "Noto Javanese using unusual glyphs"
Noto Javanese uses glyphs that are uncommon for Javanese people. It turns the letters hardly legible for most people.

This is a comparison of three Javanese fonts. _Tuladha Jejeg_ is the most used font in web (used by Microsoft), while _Aturra_ is created recently with simpler glyphs. Both styles used in _Tuladha Jejeg_ & _Aturra_ are found in books. Old books usually use font closer to _Tuladha

[2016-10-11 03:15] trejkaz commented on #764
Ouch, I wasn't aware that the current, latest format we use for font files couldn't even fit one glyph for each character currently in Unicode...

[2016-10-11 03:43] yakuka commented on #765
Thank you, Cahyo for commenting Javanese script. The initial stroke is really important, without it, it just like another version of Balinese. Matur nuwun

[2016-10-11 06:05] brawer commented on #764
You could try merging things yourself, for example with the [merge tool in fontools](https://github.com/fonttools/fonttools/blob/master/Lib/fontTools/merge.py). But as Doug said, you’ll run into OpenType limit of 64K glyphs per file. Which PDF generation libraries do you use? Have you asked them to implement font fallback?

[2016-10-11 06:43] brawer commented on #733
@verdy-p, you’re of course welcome to make a proposal with Unicode. See [Submitting Character Proposals](http://www.unicode.org/pending/proposals.html). Also, it’s definitely worth looking at [UTC Historical Documents](http://www.unicode.org/L2/all-docs.html) to see how such proposals typically look like. The process sounds a little daunting, but if you can eg. include images of mathematical docum

[2016-10-11 08:29] brawer commented on #759
@MayuraVerma, would you mind checking the image at https://github.com/behdad/harfbuzz/issues/347 and confirm that the “Expected” line is correct? (Please ignore that some glyphs are cut off at the edges, just check the visible part). Thanks for your help — we’re trying to find out if HarfBuzz, CoreText, or the Noto font is broken.

[2016-10-11 10:16] MayuraVerma commented on #759
@brawer Yes, the first line is correct.

This might not be affected by CoreText, since this is happening in Chrome but in Pages (Although, Pages has a different issue).

[2016-10-11 10:22] NorbertLindenberg commented on #765
Please label as Script-Javanese.

[2016-10-11 10:24] NorbertLindenberg commented on #749
Which definitions of “serif” and “sans-serif” are you using here?

[2016-10-11 10:42] brawer commented on #759
@MayuraVerma, thanks for your confirmation. So either HarfBuzz or CoreText is broken; they should produce the same output when rendering the same string with the same font but currently they don’t.

Does anyone have a way to reproduce this with DirectWrite, ideally on a recent build of Windows 10? I’ll try to get a box but it’ll take me a while.

[2016-10-11 13:06] brawer commented on #749
“Serif” = High contrast, “sans” = low contrast. Agree that the naming is suboptimal.

[2016-10-11 13:34] brawer commented on #760
After installing NotoSansKannada-Regular.ttf with FontBook, I entered the string ಸ್ಥಾ ನ್ನಾ ತ್ತಾ ಟ್ಟಾ into an empty Pages document, then selected it. Then, I pressed ⌘T to get the font selection dialog, and picked “Noto Sans Kannada”. Here’s how it looks — is this wrong?

<img width="894" alt="screen shot 2016-10-11 at 3 22 46 pm" src="https://cloud.githubusercontent.com/assets/1527880/19271852/ac4

[2016-10-11 13:45] brawer commented on #760
Likewise, the string ನ್ನಾ  seems to be rendered correctly (without a visible discontinuity) by Pages when choosing Noto Serif Kannada. Again it’s not easy to select the correct font, for the reason described above.

<img width="839" alt="screen shot of Noto Serif Kannada in Pages" src="https://cloud.githubusercontent.com/assets/1527880/19272528/3acc2272-8fc9-11e6-8337-c2a976b38c87.png">

[2016-10-11 14:19] MayuraVerma commented on #760
@brawer I noticed the same issue initially. I was not able to find the Noto Serif Kannada in the font list. I ran multiple checks to see if font was installed correctly. I created a Word document with Noto Serif Kannada and opened it in Pages to see if the font shows up in the list.
I thought it was Pages issue. If you can do something in the not collection, to make it visible. Please do the needf

[2016-10-11 14:23] MayuraVerma commented on #759
@brawer I have latest Windows 10 as bootcamp. I will report by the day (CST).

[2016-10-11 16:06] brawer commented on #760
Indeed, CoreText as of macOS 10.12 Sierra seems to have a regression. I’ve added test case [SHKNDA-2](https://raw.githack.com/icu-project/text-rendering-tests/master/reports/CoreText.html#SHKNDA-2) to the [text rendering test suite](https://github.com/icu-project/text-rendering-tests) and will work with Apple to resolve it. Thanks again for telling!

![screen shot 2016-10-11 at 18 03 14](https://c

[2016-10-11 17:25] jungshik commented on #764
One possibility for them is to add opentype 'loca' features to pick different glyphs for common characters per 'locale/lang'  when merging fonts with common characters. However, PDF generation tools that cannot deal with font fallback are not likely to take advantage of opentype 'loca'.

The same thing can be said of using BASE tables to support scripts with different metrics in a combined font.

[2016-10-11 17:35] jungshik commented on #757
Is there anything in this bug that won't be resolved when we take care of #617?

[2016-10-11 17:54] jungshik commented on #750
I filed https://savannah.nongnu.org/bugs/index.php?49312 against FreeType.

[2016-10-11 17:56] jungshik commented on #750
@marekjez86,  what do you think of adding a new label for 'External Dependency'?

[2016-10-11 17:59] jungshik commented on #750
@KatMomoi ,  what's your take on tracking issues like this? This bug is not a bug in Noto fonts but an issue in FreeType. However, FreeType being widely used to render fonts, it affects how Noto looks (when FreeType autohinting mode is selected).

[2016-10-11 20:51] dougfelt commented on #758
So, your problem is with our use of the word 'free', or is your problem the fact that you can't sell the font by itself?

[2016-10-11 22:03] hrhatada commented on #749
Sound like product decision required.

[2016-10-11 22:36] dougfelt commented on #757
Closed as duplicate of #617.

[2016-10-11 22:36] #757 closed

[2016-10-11 23:00] dougfelt commented on #716
@xiangye, please see above rationale for providing an italic version of Noto Monospace.

[2016-10-11 23:39] luke-jr commented on #758
I simply don't use non-free software on principle, so my "problem" is that Noto currently is not in this category, which seems unfortunate and simple to improve.

[2016-10-12 00:33] MayuraVerma commented on #763
Apple Pages has the same issue. (Coretex)

Google Chrome has this the same issue. (Harfbuzz)

MS Word 2016 (mac version) doesn't have this issue. (Don't know what they use)

![screen shot 2016-10-11 at 7 26 10 pm](https://cloud.githubusercontent.com/assets/14062593/19293312/9d4ab296-8fe8-11e6-8c49-2daca6c5364f.png)

[2016-10-12 00:45] davelab6 commented on #758
Luke, thanks for raising this issue. I wrote my MA dissertation on the
topic of what it means for a font to be free, and I have spent many whole
days discussing it, during the past ten years in which I dedicated myself
to advancing the software freedom movement for fonts.

Concerning the status of the ofl as a license that respects your freedom,
I'm sad to say that this ship has sailed; your perso

[2016-10-12 00:58] MayuraVerma commented on #759
More trouble with "Noto Serif Kannada"
Chrome in Windows 10 and mac also has issue rendering this text "ನ್ಫ್ಲೆ" for Noto Serif Kannada.
MS Word 2010 on Windows 10 also has issue rendering this text.
Pages on Mac OS Sierra doesn't has trouble rendering this text!
![screen shot 2016-10-11 at 7 47 44 pm](https://cloud.githubusercontent.com/assets/14062593/19293680/ed9ec93c-8feb-11e6-9a06-8d7f1390b9b5

[2016-10-12 02:23] luke-jr commented on #758
There are plenty of fonts under non-OFL licenses. There's no reason Noto couldn't join them.

[2016-10-12 06:04] davelab6 commented on #758
How many? :)

[2016-10-12 06:32] xnoreq commented on #617
@xiangyexiao You may want to add DejaVu Sans Mono to your image, because that's the font I'm using right now where box drawing works.

Also, from my bug (#757):
Box Drawing Unicode block: http://www.unicode.org/charts/PDF/U2500.pdf

[2016-10-12 06:50] brawer commented on #764
@trejkaz, which specific PDF generation libraries are you using?

[2016-10-12 08:43] luke-jr commented on #758
[code]

[2016-10-12 09:30] brawer opened #766 "Noto Sans Cham should define pref feature"
See https://github.com/behdad/harfbuzz/issues/348

[2016-10-12 12:41] mangajapa commented on #765
Regarding the switched conjuncts of ṣa and sa, it is indeed "switched" if the script is used to write sanskrit or old Javanese. Contemporary rules (as this excerpt from a guide line published by the provincial government of Yogyakarta, east, and central Java in 2002) and indeed many Javanese manuscripts made in the colonial era has already switched the conjunct of these two aksara (as shown in an

[2016-10-12 16:05] brawer commented on #754
I think we can close this bug. We already have #715 for Lao, and the Emoji font is according to spec. Apple doesn’t implement the full OpenType spec, but that’s not the font’s problem.

[2016-10-12 16:05] #754 closed

[2016-10-12 16:13] dougfelt commented on #765
@waksmonskiMT Sue, can you have someone involved with the font design respond to this thread?

[2016-10-12 17:51] jungshik commented on #563
@KatMomoi, could you verify that this issue was addressed in the latest delivery?

[2016-10-12 17:52] jungshik commented on #467
@KatMomoi could you verify that this issue was addressed in the latest delivery?

[2016-10-12 17:57] jungshik commented on #127
@KatMomoi, could you verify that this issue was taken care of in the latest delivery (along with #467 and #563 ) ?  Ask @marchbox for the latest delivery.

[2016-10-12 18:17] jungshik commented on #740
@KatMomoi, there is a new delivery. This issue has to be tested against the latest delivery.

[2016-10-12 19:07] jungshik commented on #763
@MayuraVerma Just to make sure, you used the same font (Noto Sans Kannada) in both MS Word 2016(mac) and Apple Page/Chrome in your screenshot, didn't you?

@TidharC can you test  sample sequences in this bug given with the latest harfbuzz (from github)?  If it still has this issue, a bug has to be filed against HarfBuzz.

@behdad @brawer

[2016-10-12 19:10] jungshik commented on #622
This might be an issue with FreeType autohinting. (see #750 and http://savannah.nongnu.org/bugs/?49312 )

@iwsfutcmd,  can you turn off FreeType autohinting and see if things change?

[2016-10-12 19:16] jungshik commented on #692
@TidharC did you check the latest delivery/build in alpha/ ?

[2016-10-12 19:33] MayuraVerma commented on #763
@jungshik In the above example, I had used "Noto Serif Kannada", but this is the same case with "Noto Sans Kannada"

Re-phrasing the issue:
Both Noto Sans Kannada and Noto Serif Kannada has problem rendering "ರ್‍ಕ	ರ್‍ಖ	ರ್‍ಗ	ರ್‍ಘ	ರ್‍ಙ	ರ್‍ಚ	ರ್‍ಛ	ರ್‍ಜ	ರ್‍ಝ	ರ್‍ಞ	ರ್‍ಟ	ರ್‍ಠ	ರ್‍ಡ	ರ್‍ಢ	ರ್‍ಣ	ರ್‍ತ	ರ್‍ಥ	ರ್‍ದ	ರ್‍ಧ	ರ್‍ನ	ರ್‍ಪ	ರ್‍ಫ	ರ್‍ಬ	ರ್‍ಭ	ರ್‍ಮ	ರ್‍ಯ	ರ್‍ರ	ರ್‍ಱ	ರ್‍ಲ	ರ್‍ವ	ರ್‍ಶ	ರ್‍ಷ	ರ್‍ಸ	ರ್‍ಹ	ರ್‍ಳ	ರ್‍ೞ",
Text Refe

[2016-10-12 19:54] behdad commented on #766
I believe in the rework Monotype is doing this will be fixed.  In the mean time, the font is rather bogus.

[2016-10-12 22:37] jungshik commented on #729
@benk-cogapp , can you serve your own web fonts?  Then, you can just use the full Noto Serif or Noto Sans.

An alternative is (I confirmed that it kinda works) to do the following:

[code]

With that, the full Noto Serif will be downloaded only when you need to use 'base + combining marks' (because Chrome determins which font to use based on graphme-cluster coverage rather than 'code point' covera

[2016-10-12 22:47] jungshik commented on #536
@marekjez86  Did you remove Script-Latin-Greek-Cyrillic because you confirmed that everything works fine in the latest delivery of Noto Sans and Noto Serif?

Given @moyogo's new comment about a need for context-dependent positioning, this need to be re-examined anyway.

@KatMomoi, can you get examples given by @moyogo tested by all LGC fonts (Noto Sans, Noto Serif, Arimo, Tinos and Cousine)?  Than

[2016-10-13 06:47] aliawa opened #767 "The Kasra under Fah is not placed properly."
For example see the attached screen shot. It is properly placed for Lam but for Fah it is merged with the letter rather than being placed under it. "Screenshot_2.png" shows the correct placement of kasra with Fah.
![screenshot_2](https://cloud.githubusercontent.com/assets/6569928/19339117/3901224a-90d6-11e6-9f33-b058650f671a.png)

![screenshot](https://cloud.githubusercontent.com/assets/6569928/19

[2016-10-13 08:45] caub commented on #736
Yes, there's a problem with backticks: https://jsbin.com/qizoxoc/edit?html,css,output

[2016-10-13 08:51] brawer commented on #536
@moyogo (and others), I wonder if it might be possible to come up with a document that explains to type designers what exactly they need to do for supporting IPA. Obviously this would cover the needed ligatures and diacritics, but also topics like which Greek glyphs should get substituted by “latinized” letterforms in OpenType language system IPPH. Ideally, we could also publish a plaintext file (

[2016-10-13 09:40] brawer commented on #536
See https://github.com/googlei18n/noto-source/pull/27 for a proposal how these test cases could look like. Just a stub for now, but it would just take a few hours of browsing Wikipedia to make it more comprehensive. From a typographic perspective, it would probably be good to have the letters in context; but it’s all available on Wikipedia. (And we don’t really care if the samples are linguistical

[2016-10-13 12:11] JelleBosmaMT commented on #535
It would have been nice to have released a quick update. But it has been decided to do this improvement as part of a project extending the fonts with additional weights. I am not sure where Kannada is in the order of priorities. But at least the minor hurdle Tamil and the major hurdle Bengali have to be taken first.

Best regards
Jelle

From: ಮಯೂರ ವರ್ಮ [mailto:notifications@github.com]
Sent: 11 Oc

[2016-10-13 19:39] TidharC commented on #766
Can someone please create a "Script-Cham" label?  I don't see one in the list.

[2016-10-14 01:25] TidharC commented on #767
aliawa@,

Which OS and app are you using?  My results are rather different from yours, using TextEdit on MacOS 10.11.6: the placement of Kasra only looks wrong under the Lam for the UI version of Noto Naskh Arabic.
![notonaskharabickasra](https://cloud.githubusercontent.com/assets/16353803/19372611/6940484a-9172-11e6-9f7a-262d4e7d4c66.png)

[2016-10-14 01:53] TidharC commented on #412
The Kip symbol is still missing in both Noto Sans Lao and Noto Serif Lao.

[2016-10-14 06:48] jmontane opened #768 "Improve Catalan support"
Hi,
Catalan language has a typographical issue, the geminated el (l·l, L·L). Catalan language uses a common character · U+00B7 MIDDLE DOT (AKA interpunct, texperiodcentered, anno teleia,...) between two L's (booth uppercase or booth lowercase) and usually "L·L" rendering is wrong according Catalan rules. This is the case for Noto fonts (Sans, Serif, and Mono). In short, a customization is needed f

[2016-10-14 17:03] SamaneriVimala opened #769 "Noto Sans Myanmar issues on iPad"
The rendering of the Noto Sans Myanmar font is flawed on iPad.
The full discussion on this topic and testing on different Apple systems is here:
https://discourse.suttacentral.net/t/help-needed-from-apple-users/3306

To summarize: on iOS10 the issues seem to be solved except for in the Safari and Firefox Reader View, where the diacritics can still appear separate from the character they belong to.

[2016-10-14 18:30] MayuraVerma opened #770 "Noto Serif Kannada issue rendering "ನ್ಫ್ಲೆ""
Chrome in Windows 10 and mac also has issue rendering the text "ನ್ಫ್ಲೆ" for Noto Serif Kannada.
MS Word 2010 on Windows 10 also has issue rendering this text.
Pages on Mac OS Sierra doesn't has trouble rendering this text!
![screen shot 2016-10-11 at 7 47 44 pm](https://cloud.githubusercontent.com/assets/14062593/19293680/ed9ec93c-8feb-11e6-9a06-8d7f1390b9b5.png)

[2016-10-15 03:00] paulotorrens commented on #751
I've discussed about APL symbols on https://github.com/adobe-fonts/source-code-pro/issues/114. I've listed all the APL characters I've seem modern support there (there are not many modern compilers, there's Dyalog APL, APLX, GNU APL, a few others, and the one I'm working on); please note that Unicode reference glyphs for those might look unnatural to APL programmers: the APL385 font is a good refe

[2016-10-15 21:46] lvml opened #771 "Why are only TTF, but not OpenType files distributed?"
Every comparison of TrueType versus OpenType font file formats I found claims that OpenType is the better, more advanced format. Yet, the files advertised for downloading at https://www.google.com/get/noto are of TrueType format.

Do the OpenType files hidden in https://github.com/googlei18n/noto-fonts/tree/master/alpha/OTF/from-pipeline have any disadvantage that one should know of?

[2016-10-15 21:49] lvml commented on #755
I'd like to second the request for making 0 better distinguishable from O in the Monospace version.
I thought that much of "Noto Monospace" was taken from Adobe Source Code Pro - but the latter does have distinguishable 0 / O characters.

[2016-10-15 22:04] Kanjilearner817 commented on #647
Here's a rendering of the name of the Republic of India in Oriya, in Arial Unicode MS, Lohit Oriya, Nirmala UI, Noto Sans Oriya, and Unifont. It doesn't show here, unfortunately, but I've seen fonts connect the glyph for <0B2F> as seen in Lohit, Nirmala and Noto, albeit in a much smaller form, to the glyph for <0B1C>.
![republic of india in odia](https://cloud.githubusercontent.com/assets/13095930

[2016-10-16 11:16] barkoosh opened #772 "Diacritics superimpose the dot of the isolated ghain (Arabic script)"
In Noto Naskh Arabic, any diacritic over the letter ghain (063A), in its isolated form only (FECD), superimposes the dot instead of appearing above it. The diacritic appears correctly over the final ghain (FECE).
(Windows 10)

![capture](https://cloud.githubusercontent.com/assets/7565719/19417046/e0f32ea4-93aa-11e6-8808-846c5a2e0e32.JPG)

[2016-10-16 15:03] KrasnayaPloshchad commented on #542
That is nesessary, since Unicode Consortium have normalized the usage of Mongolian FVS. On current version of Mongolian code chart you can see the standard variations used FVS characters.

[2016-10-16 15:31] KrasnayaPloshchad commented on #652
@jungshik, if you want to know which of them need to be added, the following resource would be helpful:
http://www.pentaglot.net/

[2016-10-16 16:28] KrasnayaPloshchad commented on #606
That would make conveniences to Urdu Wikipedia users. BTW I think ۇ should have localized glyphs.

[2016-10-16 17:00] KrasnayaPloshchad opened #773 "Noto Arabic Naskh should have language specific variants"
SIL have made a list of language specific form for mark positioning and character variants:
![SIL’s example](http://software.sil.org/scheherazade/wp-content/uploads/sites/29/2016/03/Scheherazade-LanguageFeaturesNew.png)

Additionaly I found the letter ۇ has a variant in Uyghur, its diacritic should be comma shaped, not 9 shaped, if you go to Xinjiang, PR China, you will see it everywhere.

[2016-10-16 17:10] KrasnayaPloshchad commented on #773
Uyghur Computer Science Association (http://www.ukij.org) also provided a code chart with Uyghur specific forms.
![2004-1-17_Birlikke_Kelgen_Uyghurche_Herpler_Kod_Jedwili.gif](http://www.ukij.org/fonts/image/2004-1-17_Birlikke_Kelgen_Uyghurche_Herpler_Kod_Jedwili.gif)

[2016-10-17 07:24] KrasnayaPloshchad commented on #764
That is what GNU FreeFont has made, but they doesn’t receive CJK. BTW I think your PDF generating tools seems badly.

[2016-10-17 08:08] brawer commented on #715
@marekjez86, is it possible to tell a date when Lao “phase 3” will be ready? If it’s going to take a while, we could also re-build the “phase 2” version from the sources using our fontmake pipeline. Its designer, Danh Hong, has kindly released the source here (and we should probably take it into the noto-source tree): https://github.com/danhhong/NotoSansLao/

[2016-10-17 09:35] brawer opened #774 "Missing sources for Noto Serif Khmer"
We already seem to have design sources for [Noto Sans Khmer “phase 3”](https://github.com/googlei18n/noto-source/tree/master/src/NotoSansKhmer), but not for Noto _Serif_ Khmer. Is this intentional? For phase 2, the sources of Noto Serif Khmer would be [here](https://github.com/danhhong/NotoSerifKhmer/tree/master/Source).

[2016-10-17 09:39] brawer commented on #769
Just clarifying: The Noto Sans Myanmar font is correct, but Apple’s iPad does not render it correctly? If that’s the case, can you give me ~5 Myanmar words that show the problem? If you do this, I’ll add test cases to a common [test suite for text rendering](https://github.com/icu-project/text-rendering-tests) that we’re developing at Unicode.

[2016-10-17 12:56] trejkaz commented on #764
@brawer, quite a lot of different ones, actually... iText is one example where you would pretty much have to implement font fallback yourself to get it to do it at all.

[2016-10-17 15:03] marekjez86 commented on #771
re: Do the OpenType files hidden in https://github.com/googlei18n/noto-fonts/tree/master/alpha/OTF/from-pipeline have any disadvantage that one should know of?

The files there are from a pipeline that is a "work-in-progress" at this point and while we tested them they might have I do not think we tested them enough to post them publicly.

[2016-10-17 15:35] lvml commented on #771
On 10/17/2016 05:03 PM, Marek Jeziorek wrote:

If the TTF files were more thoroughly / earlier tested than the OTF files,
does this imply the OTF files were derived from the TTF version - and do not
make use of any of the OTF-specific features which would make it worth to
prefer the OTF version over the TTF version?

[2016-10-17 16:44] nizarsq commented on #773
Which OS and App are you using? tested on textedit on TextEdit on Mac OS 10.11.6 and was not able to reproduce the issue.

[2016-10-17 17:17] nizarsq commented on #772
Tested reported scenarios on extEdit on Mac OS 10.11.6 and was able to reproduce the issue.
![screen shot 2016-10-17 at 10 16 00 am](https://cloud.githubusercontent.com/assets/22158882/19447544/c9a24b38-9452-11e6-9474-8ecb5b84c75a.png)

[2016-10-17 17:41] nizarsq commented on #770
@MayuraVerma could you post a screenshot for the correct rendering for this text, and if you can post a link for an article that contain this string will be helpful (Not screen shot). Thanks

[2016-10-17 18:29] MayuraVerma commented on #770
@nizarsq https://kn.wikipedia.org/wiki/ಆಂಗ್ಲ

look for the word "ಇನ್ಫ್ಲೆಕ್ಷನಲ್"

[2016-10-17 18:42] nizarsq commented on #770
Assigned to @marekjez86 for further investigation.

[2016-10-17 19:12] MayuraVerma commented on #770
Correct rendering in Windows 7 on chrome with default font.

![capture](https://cloud.githubusercontent.com/assets/14062593/19451648/763d9db4-9473-11e6-8cd4-39aa81e909d7.JPG)

[2016-10-17 19:55] SamaneriVimala commented on #769
That's indeed the case.

I have made a few screenshots of the problems.

In iOS10 in Safari and Firefox Reader there are is only one mistake left that I can find:
အကျွန်ုပ်သည်
သွားလတံ္တနည်း

in iOS9 and older in all browsers there are many problems:
သဗ္ဗာသဝသုတ်
အကျွန်ုပ်သည်
သာဝတ္ထိ
ဤသို့
မြတ်စွာဘုရားသည်
သွားလတံ္တနည်း

If you need any screenshots of the problems, please let me know.

While doing th

[2016-10-17 20:30] jungshik commented on #771
@lvml  'TTF' files we published do have all the opentype features (GSUB, GPOS, etc). That is, they're Opentype fonts with truetype (quadratic) outlines. What's in master/alpha/OTF/from-pipeline is Opentype fonts with CFF/postscript (cubic) outlines.

[2016-10-17 20:36] jungshik commented on #773
@nizarsq How did you test what's requested in this bug with TextEdit?

You should make an HTML document and put test strings in a span tagged by different languages mentioned in the bug report to see if they're differently shaped.

An alternative is to use hb-shape and pass the test string and 'lang' and see if they're shaped in a language-dependent manner.

[2016-10-17 20:39] jungshik commented on #768
@TrueTyper @SteveMatteson

[2016-10-17 21:02] TrueTyper commented on #768
The Noto LGC fonts use the "Ldot" method discussed in the GlyphsApp tutorial. @jmontane can you include an illustration of where you see an issue?

[2016-10-17 22:30] jungshik commented on #772
I'm not sure if Arabic Presentation form is supposed to work together with 'diacritics'.

Do you have the same issue when U+063A is used instead of U+FECD?
@barkoosh @nizarsq

@roozbehp @behdad @kmansourMT

[2016-10-17 22:32] jungshik commented on #769
သွားလတံ္တနည်း

I guess the above is problematic, right?  @SamaneriVimala

[2016-10-17 22:42] nizarsq commented on #773
@jungshik Thanks for your comment, my previous comment has typo error, I repeated textedit twice, I apologize. I tried to test some scenarios reporter mentioned in the bug using TextEdit as editor on Mac OS 10.11.6 but I got some different results, since the initial bug didn't mention details like OS or App etc..  I asked for more details to be able to reproduce the issue/issues so I verify the be

[2016-10-17 22:55] nizarsq commented on #772
Both U+063A and U+FECD have same issue. Thanks
![screen shot 2016-10-17 at 3 51 38 pm](https://cloud.githubusercontent.com/assets/22158882/19458567/bb6fcdb8-9481-11e6-801e-62f90bba6e6e.png)

[2016-10-17 22:55] jungshik commented on #767
@TidharC  The placement of Kasra in Noto Naskh UI may be intentional to put the whole glyph within the vertical constraint of UI fonts.

BTW, please make sure to test with hb-shape as well.   ( @KatMomoi )

@roozbehp @kmansourMT

[2016-10-17 23:50] SamaneriVimala commented on #769
Exactly. That's right.

[2016-10-18 08:23] KrasnayaPloshchad commented on #773
@nizarsq Oh I forgot to test them. Now I downloaded & installed Noto Arabic Naskh and I make tests for them on Firefox 49.0 on Windows 10.

Test 1: test all these characters that could have these variants.
![1](https://cloud.githubusercontent.com/assets/10364351/19469727/1d0e1278-954f-11e6-9eae-19a40cbb91ef.PNG)
Test 2: test with all Kurdish individual codes.
![2](https://cloud.githubusercontent.c

[2016-10-18 12:14] guilt opened #775 "Tofu as tested on http://www.alanwood.net/unicode/"
Hi,

I decided to see what ranges were missing, and I was able to come up with a decent list. This was seen on macOS Sierra with Firefox 49.0. I downloaded the Noto-unhinted.zip from Google Noto as of today (12:00 PM UTC)

Since I did not want to create multiple tickets for it, I'm posting the ranges with names (as identified by each range's sample image) to test against.

Once the font is install

[2016-10-18 15:19] nizarsq commented on #773
@KrasnayaPloshchad thank you for updates thats much better, I will go over the bug again. Thanks

[2016-10-18 16:52] marekjez86 commented on #775
@guilt : Karthik, thank you for your feedback. https://www.google.com/get/noto/ contains the fonts released so far. Many other fonts are still in progress and many fonts haven't started yet. I'll keep this bug open assigned to me and I'll update it as we progress.

[2016-10-18 16:54] marekjez86 commented on #774
I expect Noto Serif Khmer and Noto Sans UI to appear at end of this year or early next year (i.e., 2017). It is as designed at this point :-)

[2016-10-18 16:54] #774 closed

[2016-10-18 16:54] dougfelt commented on #775
Thanks.  We're aware that the current iteration of Noto doesn't cover all Unicode 6 codepoints, and we're working to remedy this.  The current target is Unicode 9 and the current list is on github at googlei18n/nototools/nototools/noto_cmap_phase3.xml.  It will take a year or two to fill everything out.

What would help us the most is information specific to a language and script that illustrates

[2016-10-18 17:26] jungshik commented on #773
My point is that you cannot specify 'lang' in TextEdit. You cannot test what's reported in this issue (language-dependent shaping behavior / glyph forms)  with TextEdit.

You have to do either of the two methods I described in my earlier comments. Actually, doing both would be the best.

1) Use HarfBuzz - tip of the tree version
2) Use HarfBuzz - the latest release version
3) Use Chrome (dev chann

[2016-10-18 19:48] hrhatada commented on #769
Seems https://suttacentral.net/my/mn2 page’s web font is not loaded on OSX with browser’s default font setting.  I tested on Chrome, FF & Safari on OS X 10.11.6.

When I opened the page with the default setting with Chrome & FF (Times New Roman & Arial), I saw the same problem as SamaneriVimala mentioned, however after I changed Chrome & FF’s web font to Noto Sans, the problem was disappeared.  On

[2016-10-18 20:13] hrhatada commented on #769
However, something is wrong with Noto Sans Myanmar on OS X (and iOS).  I observed the font rendering problem on other OS X apps: TextEdit & LibreOffice.  I copied & pasted a text block from https://suttacentral.net/my/mn2, and applied Myanmar NM & Noto Sans Myanmar for each block.  The text used Noto Sans Myanmar had rendering problem as below.

Again, this text edit app’s rendering problem didn’t

[2016-10-18 21:18] lvml commented on #771
Thanks for the explanation - but it still leaves me somewhat uncertain whether the Noto authors recommend using the TTF variant or the OTF variant, where the software is capable of both.
Maybe one or two sentences on this added to README.md could clarify the situation?

[2016-10-18 22:47] hrhatada commented on #696
Hi Xiangye, can I assign this to you?

[2016-10-19 00:26] SamaneriVimala commented on #769
I use Ubuntu 16.04 and that only gives a problem in the following line which does not go away with changing the Chrome web font to Noto Sans:
https://suttacentral.net/my/mn2/27

[2016-10-19 18:19] roozbehp commented on #606
I would actually recommend against the Noto Nastaliq font doing this, since the list is actually open-ended. Wikipedia can add a language tomorrow that needs yet another letter.

Also, these are language names in the language itself that may not be prefer Nastaliq style at all. For example, modern Uighur (where the spelling of the language name would be ئۇيغۇرچە), is almost always written in Naskh

[2016-10-19 18:28] roozbehp commented on #772
There's actually a lot of data on the web using Arabic Presentation forms (and diacritics), so yes, they should work.

But as Nizar discovered, the bug also exists for normal isolated form of ghain, which makes the bug critical for Android. Please provide us with a fix ASAP.

[2016-10-19 18:45] TidharC commented on #477
Any updates on this issue?  Looks like:

http://www.unicode.org/notes/tn40/old-italic-glyph-variation.pdf

was last updated on 2015-08-06

[2016-10-19 19:04] TidharC commented on #448
Both U+204F and U+2E41 are now included in Noto Naskh Arabic.  I think this bug can be closed.

[2016-10-19 19:59] TidharC commented on #446
It seems U+1D242 U+1D243 U+1D244 now combine with musical symbols (see screenshot).  Is this the expected result?

![notosanssymbolsgreekmusicalnotation](https://cloud.githubusercontent.com/assets/16353803/19535286/db6ced82-95fb-11e6-9ff4-9827cb9995c3.png)

[2016-10-19 21:37] TidharC commented on #443
Is this issue still reproducible?

[2016-10-19 23:00] TidharC commented on #223
Here are the chars I get from Old Turkic Noto font. Is this not the expected result?

 10C00 𐰀 OLD TURKIC LETTER ORKHON A
 10C01 𐰁 OLD TURKIC LETTER YENISEI A
 10C02 𐰂 OLD TURKIC LETTER YENISEI AE
 10C03 𐰃 OLD TURKIC LETTER ORKHON I
 10C04 𐰄 OLD TURKIC LETTER YENISEI I
 10C05 𐰅 OLD TURKIC LETTER YENISEI E
 10C06 𐰆 OLD TURKIC LETTER ORKHON O
 10C07 𐰇 OLD TURKIC LETTER ORKHON OE
 10C08 𐰈 OLD TURKIC

[2016-10-20 03:14] KrasnayaPloshchad commented on #606
@roozbehp Oh yeah, I think Urdu Wikipedia should add an CSS exception for that area.

[2016-10-20 12:10] ebraminio commented on #606
Done. Lets move forward, thanks :)

[2016-10-20 12:10] #606 closed

[2016-10-20 13:01] ebraminio commented on #735
That would be fantastic I believe, have a look at [this](https://en.wikipedia.org/w/index.php?title=Template:Script/Nastaliq&action=edit), lots of scripts with their favorite list of fonts are listed there. Another interesting note, as [said before](https://groups.google.com/d/msg/noto-font/blDzCkGkT_4/LQJepS8lD-kJ). it seems 'Urdu Emad Nastaleeq' which is an Urdu font, is also appealing for Persi

[2016-10-20 16:07] xiangyexiao commented on #735
How popular is the Nastaliq style to Persian, compared to Naskh? @ebraminio

[2016-10-20 16:11] xiangyexiao commented on #735
This [wikipedia page](https://en.wikipedia.org/wiki/Nasta%CA%BFl%C4%ABq_script) says: In Persian it is used for poetry only.

[2016-10-20 16:29] ebraminio commented on #735
Yes, not very, unfortunately. My last comment was just [not scientific and reliable, but worth to further researched, IMO] thoughts that if you like to have some unified Nastaliq font, the little differences of Persian and Urdu on that [imaginary] font could be filled with some opentype language tag, if you choose right overall design perhaps.

[2016-10-20 18:45] ebraminio commented on #735
A generic Nastaliq can be useful to reduce complication of implementing such improvements:  https://www.w3.org/Bugs/Public/show_bug.cgi?id=29953 (by referencing same font for entire Arabic script, Nastaliq is not unfamiliar for Arabic speaker, a Persian appealing Nastaliq font was used to be on [Arabic Wikipedia](https://web.archive.org/web/20130301123752/http://ar.wikipedia.org/wiki/%D8%A7%D9%84%

[2016-10-20 23:12] TidharC commented on #49
Is this issue still valid?  I don't see any map in:

https://www.google.com/get/noto/

[2016-10-20 23:14] TidharC commented on #239
Is this issue still valid? I don't see any map in:

https://www.google.com/get/noto/

[2016-10-20 23:29] xiangyexiao commented on #239
Language data are from the Unicode CLDR project. Please file a bug against CLDR at http://unicode.org/cldr/trac/newticket

[2016-10-20 23:29] #239 closed

[2016-10-20 23:34] waldyrious commented on #49
@TidharC the map still appears after you pick a specific font, e.g. https://www.google.com/get/noto/#sans-lgc -- but it seems they've decoupled the languages data from the territories data (I'm sure they got lots of complaints similar to this one), so yeah, this issue should probably be closed as not applicable anymore.

[2016-10-21 00:16] TidharC commented on #305
It seems U+0C34 is still missing from both Noto Sans Telugu and Noto Serif Telugu.

[2016-10-21 01:19] TidharC commented on #267
Is this issue still reproducible?  If so, additional details are needed.

[2016-10-21 09:17] claudius108 opened #777 "Rendering of Noto Sans Devanagari with FOP 2.1"
Hi,

Thank you for this nice initiative!

I tested Noto Sans Devanagari with the attached fo file, and there are some small (but important) differences in the generated PDF. For testing, you will just need to updated the path to the image in fo:external-graphic/@src.
![noto-devanagari-font](https://cloud.githubusercontent.com/assets/1745822/19593228/da17f4ce-977f-11e6-857c-de15cc5ecd79.png)

Claud

[2016-10-21 16:25] nizarsq commented on #773
@KrasnayaPloshchad Do you have an example of a font that have language specific variants?

[2016-10-21 19:59] marekjez86 commented on #777
@claudius108 : Claudius, (i) could you provide us with the text (as opposed to the image - I'm not a speaker/reader of the language and I cannot duplicate the text to try to reproduce the problem) and (ii) what should be the right rendering of the "small (but important) differences" (could you take a photo?) and where was the right rendering obtained (which system with which font)? This would help

[2016-10-21 20:23] #758 closed

[2016-10-21 20:26] marekjez86 commented on #750
@jungshik : added ExternalDependency label

[2016-10-21 20:53] marekjez86 commented on #744
Paul, currently UI fonts are "work-in-progress". Once we release them they'll appear on the official Noto site. However, I'd recommend trying https://github.com/googlei18n/noto-fonts/tree/master/alpha/from-pipeline if you really want the UI fonts now.

[2016-10-21 20:58] davelab6 commented on #758
What is that?

    $ ls -1 fonts/ofl/*/OFL.txt | wc -l
    796

[2016-10-21 20:59] claudius108 commented on #777
Hi,

The test is in the attached FO file, and I am adding it here, too: कारणत्त्वङ्गवाश्वादीनमपीति चेत् युक्तम्.

I attached an image showing the small vertical lines that are missing in FOP output. To see what is missing, one needs just to convert the attached FO file to PDF with FOP 2.1.

In order to show the correct rendering, I took the correct text from an XML file and simply created a PNG fi

[2016-10-21 21:38] luke-jr commented on #758
Fonts available on Gentoo.

[2016-10-21 21:41] davelab6 commented on #758
Font files, or font families? :)

[2016-10-21 21:48] luke-jr commented on #758
Packages, which typically means font families.

[2016-10-21 21:50] marekjez86 commented on #724
Hinting is a separate process which required additional effort/payments. Not all fonts were hinted and not all fonts will be hinted in the future. Need for Syriac hinted noted.

[2016-10-21 21:50] #724 closed

[2016-10-21 21:59] davelab6 commented on #758
So around 10% of the GF OFL collection are MIT or GPL, but there are many more OFL families not in the GF collection today, so it may be 5-8%.

I remain convinced those 5-8% are a strategic error for the movement by standing outside the OFL commons.

[2016-10-21 22:00] davelab6 commented on #724
Sadly Syriac is not in https://github.com/lemzwerg/noto-hinted

cc @lemzwerg

[2016-10-21 22:01] luke-jr commented on #758
And I remain convinced that OFL fonts are non-free and not part of the free font commons at all. ;)

[2016-10-21 22:05] davelab6 commented on #758
I'm curious why you think this.

[2016-10-21 22:10] davelab6 commented on #758
Why does this matter?

[2016-10-21 22:14] luke-jr commented on #758
Because it's part of what defines free software.

[2016-10-21 22:16] davelab6 commented on #758
Why does free software matter?

[2016-10-21 22:24] luke-jr commented on #758
RMS considers "not by itself" acceptable *only* because he doesn't intend to respect it. He is overlooking that courts enforce the license not by the exact language, but by the intent. This is why his loophole used to overlook the OFL's non-freeness is irrelevant.

There are no "higher order principles" behind free software. Free software is the goal/end in itself.

[2016-10-21 22:34] marekjez86 commented on #777
thank you

[2016-10-21 22:45] pnorman commented on #744
The UI fonts are in the `hinted` and `unhinted` directories - does this not indicate they are released? If not, where is released status indicated?

[2016-10-21 22:54] marekjez86 commented on #744
alpha directory means experimental
hinted/unhinted directories contain tested and release ready fonts which might be or might not be yet pushed to noto font web site yet -- it takes time to update the official noto font web site.

feel free to grab what you want from the  hinted and unhinted directories  here

[2016-10-21 23:03] luke-jr commented on #758
The intent stated in the FAQ doesn't change the problem. It still forbids sale of the font by itself. FSF's comments [here](https://www.gnu.org/licenses/license-list.en.html#SILOFL) state an interpretation of bypassing this rule by bundling a dummy program, which clearly violates the spirit of the license, since the intent of doing so would be to sell the font by itself while merely satisfying the

[2016-10-22 00:21] marekjez86 commented on #267
closing the bug with the following justification:
- unknown user on 25 Feb 2015 wrote "please guide me ASAP" while not providing enough information
- still at this time we have no information

[2016-10-22 00:21] #267 closed

[2016-10-22 00:40] marekjez86 commented on #305
U+0C34 is on the list of Telugu script. It will arrive in the next release of Telugu.

[2016-10-22 01:56] dougfelt commented on #744
Originally we didn't include the UI fonts in the download bundles because we were concerned people would find it confusing.  We've found however that people are also confused if they are not.  We will update the get/noto site with new bundles that include these, I expect sometime next week.  For now you can get them from this repo under the hinted and unhinted directories, they are as well-tested

[2016-10-22 01:57] #49 closed

[2016-10-22 02:00] marekjez86 commented on #744
reopened and left it assigned to @dougfelt since he wrote "We will update the get/noto site with new bundles that include these, I expect sometime next week." -- we'll close it then.

[2016-10-22 02:49] KrasnayaPloshchad commented on #773
@nizarsq OK, recently I found an official website of Xinjiang showing localized ۇ which diffrerent from Moddle East
http://uygur.xinjiang.gov.cn/

[2016-10-22 20:55] lemzwerg commented on #724
Well, ttfautohint doesn't support Syriac yet.  Something for the future...

[2016-10-22 20:59] brawer commented on #724
@lemzwerg, could you document how to support a new script? Then, if somebody wants hinting for Syriac (or Ol Chiki, or whatever else), they can add it themselves and send you a pull request.

[2016-10-22 21:16] lemzwerg commented on #724
Adding a new script is demonstrated for example with the following commit in ttfautohint (this adds Ethiopian):

http://repo.or.cz/ttfautohint.git/commitdiff/d14c7c0758539921b58f2854777175fde1267fb1

The corresponding entry in the 'noto-hinted' is

https://github.com/lemzwerg/noto-hinted/commit/cb76bff511932b903bf7bae23ad4c54d168878d4

You then have to do the following steps.

1. Say `make html` t

[2016-10-22 21:22] brawer commented on #724
Awesome; can you add that to the ttfautohint docs/site/repo? Thank you 💛

[2016-10-24 04:19] KrasnayaPloshchad commented on #773
@nizarsq On this page I found many fonts has Uyghur specific variants for ۇ and ھ:
http://www.ukij.org/fonts/

I also found following resources that you can see some Uyghur specific variants:
http://www.uyghurdictionary.org/excerpts/Waris_Abdukerim_Janbaz_IUC30.pdf
http://ug.wikipedia.org/wiki/%DA%BE%D8%A7%D8%B2%D9%89%D8%B1%D9%82%D9%89_%D8%B2%D8%A7%D9%85%D8%A7%D9%86_%D8%A6%DB%87%D9%8A%D8%BA%DB%87%

[2016-10-24 19:44] jungshik commented on #765
@kmansourMT : Do you have any input on this issue?

[2016-10-24 19:47] jungshik commented on #763
@MayuraVerma  can you test on Windows 7 with IE 11? BTW,  Chrome on Windows uses HarfBuzz.

BTW, if you have Windows 10, testing on WIndows 10 with Edge would be nice, too.
When testing on Windows, it'd be nice to use Noto {Sans, Serif} Kannada. After installing the fonts, you can either make a simple html page to explicitly set the font or use DOM inspector to change fonts in an existing page (e.

[2016-10-24 19:56] roozbehp commented on #763
This may be or may not be a bug. See discussions in https://github.com/behdad/harfbuzz/issues/341

[2016-10-24 20:38] jungshik commented on #763
I put up a test page at http://jungshik.github.io/noto/kannada/bug763.html (it uses Web fonts so that nothing need to be downloaded).

[2016-10-24 20:42] MayuraVerma commented on #763
@jungshik this is with windows 7 and IE 11
It seem to have any issue displaying text.
![capture2](https://cloud.githubusercontent.com/assets/14062593/19663145/522afcd6-9a00-11e6-9179-6e2b26abd0d5.JPG)

I will check with windows 10 and edge in the evening.

[2016-10-24 20:45] jungshik commented on #763
Thanks, @roozbehp, for the reference to a harfbuzz bug. It looks like there's not much do on the font side. Is there?

@MayuraVerma Thanks for the screenshot. So, IE 11 on Win 7 behaves like MS Word (, which is not always the case). Anyway, this had better be dealt with in  behdad/harfbuzz#341 .

[2016-10-24 21:27] jungshik commented on #759
@MayuraVerma

Do you mean Chrome and MS Word 2010 on Windows 10 agree with each other and both have the correct shaping ?  hmm...

How about this test page?
http://jungshik.github.io/noto/kannada/bug759.html

Do Chrome on Windows (or Mac) agree with IE 11 or Edge on WIndows 10? How about Safari on OS X?

[2016-10-24 21:52] MayuraVerma commented on #759
@jungshik
on Windows 7 and chrome: failed marked in RED
![capture3](https://cloud.githubusercontent.com/assets/14062593/19665252/bd0f32ca-9a09-11e6-99a6-f7cc9219d6e5.JPG)

on Windows 7 and IE 11: Passed
![capture4](https://cloud.githubusercontent.com/assets/14062593/19665295/f2752dc0-9a09-11e6-8116-9d790bdbd06a.JPG)

On Windows 10 and Edge: will check in the evening
On Mac OS X and Safari: will ch

[2016-10-24 21:55] MayuraVerma commented on #763
@jungshik
Now the wiki page https://en.wikipedia.org/wiki/Kannada_alphabet#Consonant_Conjuncts looks fine after swapping "U+0ccdU+200d" to "U+200dU+0ccd"

Wiki Page was encoded incorrectly. But I wondered how the reverse sequence also worked for MS Word!

[2016-10-25 10:03] Arloka commented on #693
Hi everyone . Any news about Tai Tham (Khun) font or Noto San Tai Tham.

[2016-10-25 11:26] cibu commented on #26
Even though Noto does not provide traditional orthography, to request the ligature as in http://imgur.com/xemgPhN, one should use YA + ZWNJ + VIRAMA + VA as per the standard. However, I don't know of any Malayalam font that honor that glyph on this sequence.

[2016-10-25 17:54] nizarsq commented on #773
@jungshik I test some cases @KrasnayaPloshchad reported on iOS and Windows using different browsers. and noticed Noto Arabic Naskh shape is same on both OS, I tested different Naskh font and noticed differences in shaping for U+0645 and (Sheddah and kasrah) which it behave as @KrasnayaPloshchad mentioned in the bug. attached some screenshots . I will use Harfbuzz as soon I solve the problem with r

[2016-10-25 18:13] kmansourMT commented on #765
I am traveling now but upon my return, I will review the details.

Kamal

From: jungshik <notifications@github.com<mailto:notifications@github.com>>
Reply-To: googlei18n/noto-fonts <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Monday, 24 October 2016 at 22:44
To: googlei18n/noto-fonts <noto-fonts@noreply.github.com<mailto:noto-fonts@noreply.github.com>>
Cc: Kamal Mansour <kamal.man

[2016-10-25 18:21] davelab6 commented on #758
On Oct 21, 2016 7:03 PM, "Luke-Jr" <notifications@github.com> wrote:

http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=ofl-faq_web#98ed3755

authors. It isn't a workaround, it is working as intended.

sale of the font by itself. FSF's comments here state an interpretation of
bypassing this rule by bundling a dummy program, which clearly violates the
spirit of the license, since the inte

[2016-10-25 18:50] JackfromMc opened #778 "Noto Sans Myanmar rendering issue"
Hi everyone,

The combination U+1009 U+1037 U+103A   ဉ့်  (canonical) doesn't display properly;

The combination U+1009 U+103A U+1037   ဉ့်  (usual) neither.

This happens in Android M of which I don't know the font version and on Windows 8.1 with font version 1.10 in MS Word, Chrome etc.

Although quite rare, these combinations can be found in common words like ရှဉ့် (squirrel) and ငါးရှဉ့် (eel)

[2016-10-25 19:25] JackfromMc commented on #769
It is because it is wrongly written, it is not a rendering issue
They wrote တ ံ ္ တ     တံ္တ
instead of တ ္ တ ံ     တ္တံ

[2016-10-25 20:41] luke-jr commented on #758
If the intent is to sell the OFL font itself, it seems to clearly violate the spirit of the license no matter what you aggregate with it in an attempt to satisfy the exact language of the license.

[2016-10-25 21:36] marekjez86 commented on #765
Thank you @cahyoramadhani for a very thorough comparative investigation of various implementations of Javanese scripts. Could you provide me with some sample Javanese text (e.g., in an uploaded file that I could use as a test case)?

Also if I read correctly @mangajapa , the only issue is missing initial stroke in 7 glyphs characters (see " I think current pasangan of sa is more reflective to comm

[2016-10-25 22:40] marekjez86 opened #779 "Please remove degenerate line from uni2066 glyph in 3 sources"
ERROR:fontmake:Failed to remove overlaps for NotoSerifDisplay-Thin: 'uni2066'
ERROR:fontmake:Failed to remove overlaps for NotoSerif-ThinItalic: 'uni2066'
ERROR:fontmake:Failed to remove overlaps for NotoSerif-Thin: 'uni2066'

see the line right to the top of I below

![uni2066](https://cloud.githubusercontent.com/assets/13322623/19706887/3fd10174-9ac9-11e6-8065-d0466cf055fb.jpg)

[2016-10-26 00:18] mangajapa commented on #765
@marekjez86 I also agree with cahyo that 34 glyph characters are missing initial stroke (all of those marked black in his table), of which the most illegible are GA MURDA (A993), YA (A9AA), and LA (A9AD) with their respective pasangans as well as PA (A9A5).

In printed Javanese, initial stroke loops are always maintained and never reduced. Some of them may be thin, but the general loop is always v

[2016-10-26 00:56] roozbehp commented on #26
Cibu, Would you please open a proper bug for the traditional forms using the the joiner sequences then? This one's old and confusing.

[2016-10-26 04:33] cahyoramadhani commented on #765
Thank you @mangajapa for the 19th century samples!

@marekjez86 I attach the more recent examples of Javanese usage in textbooks. As @mangajapa has told, Noto likely makes use of handwriting style of Javanese script where loops tend to be written narrowly that they are visible like a single line instead. In prints, the loops are always as clear as shown below. I also put the handwriting style as i

[2016-10-26 06:09] brawer commented on #769
See the [Unicode FAQ for Myanmar](http://www.unicode.org/faq/myanmar.html). It’s not Noto’s problem if a broken web page fails to use Unicode.

[2016-10-26 06:09] #769 closed

[2016-10-26 14:26] brawer commented on #778
Google’s Burmese linguist confirms that the above is proper Unicode, not Zawgyi.

[2016-10-26 17:53] MayuraVerma commented on #759
All screenshots updated.

[2016-10-26 18:49] JackfromMc commented on #778
Hi @brawer,
No, it is not Zawgyi.
One could have guessed by the use of the word "canonical".
Anyway this is what a correct rendering should look like :
![20161027_004751](https://cloud.githubusercontent.com/assets/23061375/19739179/f4203bf6-9bdf-11e6-882f-6f15c15f66ac.png)
Font used : Myanmar Text

This being a genuine flaw in the font (the font being almost 3 years old), I'm a bit surprised that

[2016-10-26 19:32] JackfromMc commented on #778
I see what you did there... although it's not an android specific issue

[2016-10-27 00:24] TidharC commented on #778
The following is the rendering I see on Chrome/MacOS and on Android.
![myanmarrendering](https://cloud.githubusercontent.com/assets/16353803/19749817/f829b270-9ba0-11e6-957f-ca8f56e85d03.png)

[2016-10-27 02:13] JackfromMc commented on #778
Just to be complete : the problem seems to be identical in the bold weight.

And to whomever this may concern : thanks for what you're doing for us all, gone, present and yet to come. Sounds cheesy but as a regular, typical end user, I'm pretty sure you don't get enough praise from us for your endeavours.

[2016-10-27 09:47] amir-abdi commented on #406
Although I am not an expert, the fonts "Noto Kufi Arabic" and "Noto Naskh Arabic" do not seem to follow their corresponding Arabic scripts. They are simply Persian/Farsi scripts falsely named as Arabic and needs further revisions.

Please also consider the origin of Persian and Arabic languages as well as their scripts and the fact that neither of them originated from the other one.

[2016-10-27 14:05] brawer opened #780 "Localized letterforms for Myanmar script"
[Unicode Technical Note 11](http://www.unicode.org/notes/tn11/UTN11_4.pdf) describes which languages use what localized letterforms when written in the Myanmar script. (Search for the string “stylistic” in this document). When we re-work Noto Myanmar for Noto phase 3, it would be nice to support these.

[2016-10-27 14:14] shikuru opened #781 "Noto Sans Hebrew missing basic punctuation"
commas and full stops seem to be completely missing (using indesign cc)

[2016-10-27 16:09] roozbehp commented on #780
As far as I know, this has all been already implemented. I worked with @kmansourMT to identify and fix all such issues in Phase 2. But we may have missed something. So feel free to double check and open new bugs for any remaining issue.

[2016-10-27 16:13] dougfelt commented on #781
Are you referring to Latin punctuation?  The Noto fonts are designed to be used with fallback in conjunction with NotoSans/NotoSerif to get common Latin characters like punctuation and ASCII digits.

[2016-10-27 17:18] jart opened #782 "Combining enclosing box causes TOFU"
If I say “B⃞reaking B⃞uild” it's supposed to render as:

![image](https://cloud.githubusercontent.com/assets/49262/19777719/68df9092-9c2e-11e6-82ea-14521e8d0b7f.png)

Those two tofu characters are "B\u20DE" where 20DE is [Combining Enclosing Square](http://www.fileformat.info/info/unicode/char/20de/index.htm). So the tofu actually spreads to innocent ASCII latin characters.

[2016-10-27 17:24] dougfelt commented on #782
Thanks.  Many of the combining marks that are not commonly used (e.g. not part of the usual writing system for a language) are not well supported.  Marks like these can, in theory, combine with anything, which is not so straightforward to implement.  If you could provide subset of characters (e.g. ASCII, or Latin-1/2) with which you'd like to use this (and related marks if you intend to use them)

[2016-10-27 17:39] jart commented on #782
Thanks for the swift response Mr. Felt. I suspect the reason why they're not commonly used is because everything shows tofu for them. If the "combining enclosing" characters were able to combine with the latin characters, I think that would be a nice first step.

[2016-10-27 17:51] dougfelt commented on #782
Sans LGC should support combining enclosing marks 20DD-20E4 with characters in the range 0020-024F.

[2016-10-27 17:56] brawer commented on #780
Ah, great. Do you still have the sample texts that were used for testing? Then we can add them to a suite of regression tests. I'm also trying to get the UDHR into Unicode encoding, for 3 minority languages where the Unicode UDHR project has scanned (or non-Unicode encoded) PDFs but no plaintext yet.

[2016-10-27 19:10] marekjez86 commented on #782
@jart : does it mean that we resolved your question?

[2016-10-27 20:58] marekjez86 commented on #778
The previous bug was discovered in Noto Sans Mynmar.

I it also present in Noto Sans Myanmar UI
![myanmarsansui](https://cloud.githubusercontent.com/assets/13322623/19785190/67f4c0e8-9c4d-11e6-85ab-204a586e9c08.jpg)

and

Noto Serif Myanmar
![myanmarserif](https://cloud.githubusercontent.com/assets/13322623/19785204/6f26a1e2-9c4d-11e6-9bcd-605afb26f1a6.jpg)

[2016-10-27 21:05] jart commented on #782
What is sans lgc? All I know is that I get tofu when I go on the noto
website and change the text on the page in chrome developer tools to use
this character. I don't want tofu for such a fun character.

On Oct 27, 2016 12:10 PM, "Marek Jeziorek" <notifications@github.com> wrote:

[2016-10-27 22:56] roozbehp commented on #780
The sample texts are in the various bugs in the code.google.com project. All the bugs were moved to gifhub, although scattered across different projects (some may be in private projects). Just search the closed bugs for Myanmar.

[2016-10-28 09:53] shuchita-g opened #783 "Characters in Noto Gurmukhi"
![screen shot 2016-10-28 at 3 21 36 pm](https://cloud.githubusercontent.com/assets/15228071/19802637/45eb2462-9d22-11e6-92a0-05f1d23d7831.png)
Can you please clarify the use of these characters present in the noto gurmukhi glyphset.
Thanks

[2016-10-28 16:54] dougfelt commented on #782
Sorry, I wasn't clear when I tried to summarize the issue in an actionable form.  I didn't mean that the Noto Sans (LGC) font already does support these combinations, but that it ought to in order to fix the issue that was reported.  I fully expect that it does not support these combinations currently (haven't opened up the font to see) and so rendering this text is failing for at least that reaso

[2016-10-28 18:25] jart commented on #782
With respect to prioritization, I just want to make it clear that I'm not blocked in any way by this issue. I came across this issue because I've been doing issue triage for TensorFlow. We have a “breaking build” label. I wanted to put boxes around the b's so it would look more like Breaking Bad.

![image](https://cloud.githubusercontent.com/assets/49262/19817260/b0dd2586-9cff-11e6-85ef-2ce9cfee4e

[2016-10-29 16:31] khaledhosny commented on #773
Are all these variants really required? The heh ones in particular look bogus to me as they emulate already separately encoded characters. The meem and mark placement ones are stylistic choice even in Arabic and I have not seen any evidence for language-specific behavior here.

[2016-10-29 16:36] KrasnayaPloshchad commented on #773
I think Uyghur styled  ۇ/ھ is necesary, when you go to Xinjiang you can see them everywhere.

[2016-10-29 16:44] KrasnayaPloshchad commented on #773
The SIL’s sample is found at SIL Scheherazade website, I don’t how does SIL discovered them, but I can sure Uyghur specific design that I have been specified because I have found they can be seen everywhere in Xinjiang.

[2016-10-29 18:44] khaledhosny commented on #773
Agree about ۇ, looks like almost all native Uyghur fonts use an inverted comma instead of the damma, but I don’t see any special ھ behavior.

[2016-10-30 14:50] KrasnayaPloshchad commented on #773
@khaledhosny I agree with you. Recently I have found that Uyghurs doesn’t receive Middle East styled fonts. I found an example from [an article](http://www.typeisbeautiful.com/2016/02/9927/zh-hant/) of the blog _Type is Baeutiful_. Here is some summaries:

_In summer 2009, with the help of my friend Gülmire M., I shown Frutiger Arabic to 50 Uyghur students of Zhejiang University, 49 of them felt F

[2016-10-30 16:10] MovGP0 commented on #493
another problem seems that the design of the letter "a" in `NotoSans-Regular`/`NotoSerif-Regular` and `NotoSans-Italic`/`NotoSerif-Italic` is different.

![noto sans bug](https://cloud.githubusercontent.com/assets/83339/19837865/a1385a86-9ec3-11e6-91a2-9a62040fc872.png)

[2016-10-30 19:02] fitojb commented on #493
@MovGP0, it seems you’re referring to the fact that many fonts have a _[single-storey](https://en.wikipedia.org/wiki/A#Typographic_variants) a_ in the italics and a _double-storey a_ in the upright styles, which is intended and **not** a problem, and is unrelated to this issue.

[2016-10-30 19:40] marekjez86 commented on #493
@MovGP0 : IMHO, this is a design decision consistent between Noto Sans and Noto Serif pair and also Noto Sans Italic and Noto Serif Italic pair

[2016-10-31 16:45] TidharC commented on #783
According to the Unicode standard, these are common Indic number forms:

http://www.unicode.org/charts/PDF/UA830.pdf

Assigning to MT for more information on inclusion in Noto Sans Gurmukhi.

[2016-10-31 17:25] roozbehp commented on #783
These are common Indic numbers forms, that according to Unicode are used in various Indic scripts, including Gurmukhi. From http://www.unicode.org/Public/UCD/latest/ucd/ScriptExtensions.txt:
[code]

[2016-10-31 17:25] #783 closed

[2016-10-31 20:54] twardoch commented on #707
@brawer, @behdad, @roozbehp

Microsoft Windows (Vista, 7, 8, 10) implements a different custom mechanism (which predates `.cfr`) called `.CompositeFont`. The files with the extension `.CompositeFont` reside in `C:\Windows\Fonts` like any other font.

Windows 10 ships with four such fonts, `GlobalMonospace.CompositeFont`, `GlobalSansSerif.CompositeFont`, `GlobalSerif.CompositeFont`, `GlobalUserInte

[2016-10-31 20:59] twardoch commented on #707
In a related manner, there could be a template CSS that uses locally-sources Noto fonts with `unicode-range` properties set so that altogether, they would produce HTML+CSS composite font families, akin to:
[code]

[2016-10-31 21:54] hrhatada commented on #782
Combining enclosing box problem happens on all other fonts on Chrome & Firefox. Safari can display the combining enclosing box correctly. IE has partial problem.  See the attached screenshot.

![image](https://cloud.githubusercontent.com/assets/16353449/19872606/e8923816-9f77-11e6-9970-b63f5cd9e969.png)

[Noto-cjk-#72](https://github.com/googlei18n/noto-cjk/issues/72) has the same kind of discussi

[2016-10-31 23:46] hrhatada commented on #781
@shikuru, have you downloaded NotoSans/NotoSerif together with Noto Sans Hebrew?  If not, please download them and see if you can use the punctuation and ASCII digits.

[2016-11-01 07:16] shikuru commented on #781
i downloaded the whole font, problem is that in InDesign the punctuation is missing from symbols of NatoSans Hebrew and therefor cant find it

[2016-11-01 12:03] segrey commented on #439
Seems it's still an issue.
Here is how Noto Sans v1.06 (https://www.google.com/get/noto/) looks in in gedit (under Linux Mint):
![image](https://cloud.githubusercontent.com/assets/607109/19889066/e3ee3950-a043-11e6-9b11-5db023a3f987.png)

[2016-11-01 14:22] marekjez86 opened #784 "NotoSansDisplayItalic-MM.glyphs uni200C has different starting point for some masters"
Light, Regular and SemiBold have this type of starting point (see lower left)
![notosansdisplayitalic-lrsb](https://cloud.githubusercontent.com/assets/13322623/19892648/241e34da-a003-11e6-8548-3da978806cdc.jpg)

The rest of masters have this type of starting point (see upper left):

![notosansdisplayitalic-blccsbcbc](https://cloud.githubusercontent.com/assets/13322623/19892719/95053d6a-a003-11e6-9

[2016-11-01 14:40] marekjez86 opened #785 "NotoSansDisplayRoman-MM.glyphs uniA767 has different starting point for some masters"
Light (see lower left)

![notosansdisplayroman-light](https://cloud.githubusercontent.com/assets/13322623/19893387/41c02c3e-a006-11e6-84c5-ea9390dd2d19.jpg)

all other (see upper right)

![notosansdisplayroman-other](https://cloud.githubusercontent.com/assets/13322623/19893435/6402750e-a006-11e6-8d22-eb472ff3edc5.jpg)

Please make uniA767 starting points the same for all masters in NotoSansDisplay

[2016-11-01 15:17] marekjez86 opened #786 "NotoSansUIItalic-MM.glyphs uniA767 has different starting point for some masters"
BoldItalic master below

![notosansuiitalic-mm-bolditalic](https://cloud.githubusercontent.com/assets/13322623/19894788/8103c37e-a00b-11e6-99c8-16b7bfe78ffa.jpg)

all others are similar to this one

![notosansuiitalic-mm-other](https://cloud.githubusercontent.com/assets/13322623/19894799/8fafa71c-a00b-11e6-9808-1c0332a00ede.jpg)

Please correct

[2016-11-01 15:19] marekjez86 opened #787 "NotoSansUIRoman-MM.glyphs uniA767 has different starting point for some masters"
Light glyph has the following starting point

![notosansuiroman-mm-light](https://cloud.githubusercontent.com/assets/13322623/19894840/c4ef91ee-a00b-11e6-8106-5662e139d599.jpg)

all others

![notosansuiroman-mm-other](https://cloud.githubusercontent.com/assets/13322623/19894866/db4cdfdc-a00b-11e6-8223-e507f14c1ad3.jpg)

Please correct it

[2016-11-01 20:06] davelab6 commented on #758
I think you have misunderstood the spirit of the license.

[2016-11-01 22:26] TidharC commented on #781
I found a couple of inDesign-related articles which may be useful:

https://forums.adobe.com/thread/1103338

http://graphicdesign.stackexchange.com/questions/34992/can-i-automatically-replace-missing-fonts-by-other-fonts-in-indesign

[2016-11-01 22:48] jungshik commented on #750
If this only happens with FreeType autohinting in effect (i.e. it does not happen with BCI hint), we'd better close this bug.

@marekjez86, can you check that out? You can download and build FreeType demo package and build one of ft* binaries that allow control hinting mode at run-time.

My FreeType bug was duped to https://savannah.nongnu.org/bugs/?23537 (filed in 2008 but not yet fixed).

[2016-11-02 01:46] TidharC commented on #467
Can someone please provide the code point sequences to reproduce this issue?  Based on:

http://www.unicode.org/charts/PDF/U1000.pdf

I am not quite sure what they are.

[2016-11-02 06:22] lemzwerg commented on #750
I've added more comments at https://savannah.nongnu.org/bugs/?23537

[2016-11-02 18:29] KrasnayaPloshchad commented on #773
Kazakh also has the same variant for ۇ as Uyghur used.
https://commons.wikimedia.org/wiki/File:Kazakh_latin_alphabet_(1924).JPG
https://commons.wikimedia.org/wiki/File:Kazakh_latin_alphabet_(1931).JPG

[2016-11-02 22:11] dougfelt commented on #751
The discussion on adobe-fonts/source-code-pro indicates that apl385 shows 'preferred' forms of the APL glyphs.  Is there any disagreement with this statement?

The discussion there (and examination of the font) indicates it renders circled latin capital letters (24b6-24cf) with underlines instead.  This is not something we would do by default, since we'd are building a general-purpose symbol font

[2016-11-02 22:58] TidharC commented on #563
Looks like the dotted forms are not available as of Noto Sans Myanmar 1.10

[2016-11-03 18:10] dougfelt commented on #751
@paulotorrens, with particular reference to the APL characters in NotoSansSymbols, what in particular looks unnatural to APL programmers?  If we were to modify these shapes, what would be the most essential changes?

[2016-11-03 18:13] dougfelt commented on #751
There's also this as a reference: https://web.archive.org/web/20150116040011/http://www.wickensonline.co.uk/apl/unicomp-apl-front-large.jpg

[2016-11-03 19:13] Wyatts commented on #751
https://www.math.uwaterloo.ca/~ljdickey/apl-rep/APL_Character_Repertoire.html
The character table images linked from the above are apparently "standard" .  They were recommended by a friend of mine who worked 18 years in IBM's Printing Systems Division because they do nothing blatantly wrong and are good at for showing the baseline features of the APL character set.

What I gleaned from his runnin

[2016-11-03 22:45] TidharC commented on #536
Retested the same char sequence, which currently looks like this:
![iparendering](https://cloud.githubusercontent.com/assets/16353803/19988257/731f0656-a1dc-11e6-82b4-c2c33d362331.png)

[2016-11-04 01:36] TidharC commented on #510
Here are the results for the 8 fonts above:

![primesslant](https://cloud.githubusercontent.com/assets/16353803/19991642/5db59e84-a1f4-11e6-92eb-07c4e1979705.png)

[2016-11-04 04:56] KrasnayaPloshchad commented on #573
It seems fixed. But to my surprise, why did you design the overline as a plain line?
![default](https://cloud.githubusercontent.com/assets/10364351/19994969/1e76cf8c-a28e-11e6-9dde-8364abf4a086.PNG)

[2016-11-04 11:11] paulotorrens commented on #751
@dougfelt, if you could please wait until tomorrow, I'll switch to my workstation and check how my codebase looks with NotoSansSymbols. 😄

About the circled letters (24b6-24cf): if I recall correctly, the underlined letters were used to differentiate symbols, giving a wider range of possible identifier names, since lowercase letters were not available. Not really a problem nowadays I assume, but I

[2016-11-04 18:54] martyb42 commented on #751
@paulotorrens I'm Wyatt's friend from the above post.  APL was my first programming language, back in 1973 in high school.  I grew up in the shadow of IBM, and later worked for them.  Learned APL2 as it came out (in the form of the APL2 IUP), and developed a 9-pin proprinter font for it (which the APL2 folk ultimately adopted).  9-pin is low-resolution, so there were some compromises in that font.

[2016-11-04 19:59] dougfelt commented on #751
Thanks @paulotorrens and @martyb42.  Marty, if you can look at NotoSansSymbols' APL character set that would help.  It is consistent (among the APL chars added in the 2300 block) and generally follows the style in the images on the waterloo site.  However, there are some differences, notably the quad chars are shorter and wider, and the alpha, epsilon, iota, omega characters don't have the charact

[2016-11-04 21:14] martyb42 commented on #751
@dougfelt In a general sense these are OK.  The items that I see are these:

I agree that the aspect ratio for quad and its composed characters is "off".  It should be a bit taller and thinner.

In general, the proportioning and shapes are better in APL385.

IMHO:

Noto gets the symbol right for Del-Tilde; Up/Down-Caret-Tilde.

APL385 gets the symbol right for all composed quad characters.  Note e

[2016-11-04 21:26] martyb42 commented on #751
@dougfelt I'll add one more general plea...

Please make "squad" (squished quad, or skinny quad - "[" composed with "]") distinct from quad (a unique character).  Although it is an estimate on my part, squad should be 1/2 to 2/3 as wide as quad.  If it is closer than that, things get weird when reading it in code.  They should be the same height (perhaps squad a bit taller, but not much, and talle

[2016-11-04 21:48] dougfelt commented on #751
@martyb42 Thank you very much.  I'd already myself thought squish quad was too similar in width to quad, and I'm not an APL programmer.

A few other specific questions:
1) Is the height of Noto's I-Beam, Up Tack Jot,  and Down Tack Jot ok?  APL385 has these much shorter.
2) Is it acceptable that Noto does not have the top left 'serif' on iota?
3) Noto's 'shoe' in Left Shoe Stile, Down Shoe Stile,

[2016-11-04 23:16] TidharC commented on #723
Any updates on this issue?

[2016-11-04 23:25] TidharC commented on #638
Can this issue be closed?

[2016-11-04 23:28] TidharC commented on #260
What is the request in this issue?

[2016-11-05 00:22] marekjez86 commented on #127
fonts to be tested with; it's OK to pick just Regular and bold of each kind [NotoMyanmar.zip](https://github.com/googlei18n/noto-fonts/files/572893/NotoMyanmar.zip)

[2016-11-05 00:23] marekjez86 commented on #467
fonts to be tested with; it's OK to pick just Regular and bold of each kind [NotoMyanmar.zip](https://github.com/googlei18n/noto-fonts/files/572893/NotoMyanmar.zip)

@TidharC : I'll check about the test case

[2016-11-05 00:24] marekjez86 commented on #563
@TidharC : could you check with the following fonts to be tested with; it's OK to pick just Regular and Bold of each kind [NotoMyanmar.zip](https://github.com/googlei18n/noto-fonts/files/572893/NotoMyanmar.zip)

[2016-11-05 00:28] marekjez86 commented on #127
@roozbehp : is there a test case where we could use to verify the design changes or a  person who could look at the newest set of fonts?

I'm leaning toward closing this github bug.

[2016-11-05 01:50] dougfelt commented on #638
I don't think we have a roadmap document, perhaps Xiangye knows.  I think we should have one, if xiangye says we already have one, or thinks we shouldn't perhaps she can close this.

[2016-11-05 05:07] martyb42 commented on #751
@dougfelt Thanks for listening.  To your specifics, then I'll add a few...

1. I agree, I would make I-Beam, Up-Tack Jot, Down-Tack Jot a bit shorter.  Their basic "shape" is fine. (which actually may make changing it to "shorter" more challenging).  In the same light, I'd make the caret symbols a bit smaller (and their tilde overstrikes), the characters for and, or, nand, nor.
2. The "serif" on i

[2016-11-05 05:46] marekjez86 commented on #260
@xiangyexiao : do you understand what this bug is about?

[2016-11-05 07:38] xiangyexiao commented on #638
Actually, we already alpha released monospace font for Latin Greek and Cyrillic. Find the source here:
https://github.com/googlei18n/noto-source/blob/master/src/NotoSansUIMono-MM.glyphs

You can run fontmake to build TTF/OTF fonts using the source.
https://github.com/googlei18n/fontmake

[2016-11-05 07:40] xiangyexiao commented on #260
I think this is yet another request on adding Noto fonts to Docs. @davelab6

[2016-11-05 23:07] paulotorrens commented on #751
I've taken a look on NotoSansSymbols, and I agree with @martyb42 on every point. One thing that botters me is that, e.g., squared delta (U+234D) has a delta much smaller than the one without a square. I'd personally like a bigger character, with a delta similar to the others (but, obviously, squared); same thing goes for other squared versions (which you'll probably change anyways, since you'll ch

[2016-11-07 14:55] dougfelt commented on #638
Yes, but I think we need to add more characters to monospace.

On Sat, Nov 5, 2016, 12:38 AM Xiangye Xiao <notifications@github.com> wrote:

[2016-11-07 15:20] MayuraVerma commented on #770
@brawer Could you please add this text to test with different fonts and shaping engine. I can report back.

[2016-11-07 17:15] xiangyexiao commented on #638
@dougfelt what characters are you considering? Currently, Monospace has the same character coverage as Latin-Greek-Cyrillic font. Are you thinking about more symbol characters?

[2016-11-07 17:21] dougfelt commented on #638
Yes.  In particular, there are symbols used with programming languages
(APL, Haskell), and terminal graphics characters like block characters.

On Mon, Nov 7, 2016 at 9:15 AM, Xiangye Xiao <notifications@github.com>
wrote:

[2016-11-07 17:23] dougfelt commented on #638
​In particular, search for 'Mono' issues under noto-fonts and you'll find a
number of requests for additional Monospace characters, as well as a
request for italic monospace.

On Mon, Nov 7, 2016 at 9:20 AM, Doug Felt <dougfelt@google.com> wrote:

[2016-11-07 17:45] xiangyexiao commented on #716
Mono Italic is something we can consider after we finish the current work on Phase 3 T1 and T2 languages.

[2016-11-07 21:06] codeman38 commented on #638
What is the best place to file a bug regarding the alpha monospaced fonts? I've found at least one showstopper issue in them: the "@" character is double-wide.

[2016-11-07 21:08] dougfelt commented on #638
I think noto-fonts is the place.

[2016-11-07 21:58] codeman38 opened #788 "NotoSansUIMono-MM.glyphs: 'at' and 'percent' glyphs are double wide"
The `at` (`@`) and `percent` (`%`) glyphs in the current alpha version of NotoSansUIMono-MM.glyphs (Git revision 8a3545fa) are not the expected width - they have an advance width of 1200, when all other characters in the ASCII range have a width of 600.

There are various other glyphs in the font outside of standard ASCII which are non-monospaced as well, but these particular two glyphs are especi

[2016-11-08 15:53] elTooDR opened #789 "Italiscied numbers in Regular parentheses"
Character spacing between regular parentheses and italicized numbers is either too large (aesthetically) or are touching.

Noto Sans
Example (_123123123_)

![123](https://cloud.githubusercontent.com/assets/23340932/20105952/deeda2e8-a5d3-11e6-9768-975bec51b058.PNG)

[2016-11-08 18:10] dougfelt commented on #789
This seems like it should be up to your rendering pipeline.  These characters cross font boundaries, and if for example parentheses were designed to fit with whatever text might be placed next to them, the spacing of the parentheses with regular text would be too large.  Higher levels of the rendering system could identify such situations and adapt to them, but I don't think it's the font's job.

[2016-11-08 19:21] martyb42 commented on #751
I basically agree with the comments by @paulotorrens...  (All save one...)

I've included APL characters for reference, but I think always included their name as well.  Do remember, however, we may not all see these "the same" based on fonts installed.

Quad overstrikes - generally, but including quad-delta:

    Please make sure the quad [⎕] is large enough.  It should be about the width of a str

[2016-11-08 20:21] xiangyexiao commented on #771
TTF fonts are more widely used than CFF fonts. In the past, we only got TTF fonts from Monotype. With fontmake and noto-sources, we/users can generate both TTF and CFF fonts.

[2016-11-08 21:21] martyb42 commented on #751
Clarifications...

@Wyatts pointed out that there were a few things that may not have been clear.  This is my attempt (poor as it may be) to clarify...

### Stroke width:  the weight of a line that makes up the character

So the idea is that for a quad (as in ⎕AV), the top of the quad should a bit higher than a capital letter, and the bottom of the quad a bit below the baseline.  If your font has

[2016-11-08 22:07] paulotorrens commented on #751
@martyb42, I hadn't heard of NARS yet, thanks for the information! They seem to use § (U+00A7), π (U+03C0), √ (U+221A) and ∞ (U+221E) that were not listed here yet, those should probably be added to Noto Mono as well (I've also used the root symbol on my implementation, didn't notice it was missing).

About the shoes, union and intersection (⋂, U+22C2, and ⋃, U+22C3) are really too big in the pdf

[2016-11-09 07:06] webguide1 opened #790 "Some Noto fonts not working on my mac"
Some of the Noto fonts is just question marks on my Macbook Air Sierra (10.12.1), its various fonts. E.g.
Javanese (all questionmarks)
Hebrew (some questionmarks)
Sans Lao (some questionmarks)
Sans syriac (all questionmarks)
Etc.
.
.
.

Have any one else expreienced this?

[2016-11-09 13:06] marekjez86 commented on #790
if you are talking about what is displayed in the FontBook after you click on the font, then what you see there is Apple's guess/attempt to display a sample of the text of characters Apple thinks ought to be in the font. If a character required by the sample is not in the font it is displayed as a boxed question mark.

For example, look at Lao MN font. The second line from bottom are Latin charact

[2016-11-09 13:06] #790 closed

[2016-11-09 16:28] marekjez86 commented on #467
results of the tests:

[NotoSansMyanmar3-Bold-MN.pdf](https://github.com/googlei18n/noto-fonts/files/581324/NotoSansMyanmar3-Bold-MN.pdf)
[NotoSansMyanmar3-Regular-MN.pdf](https://github.com/googlei18n/noto-fonts/files/581325/NotoSansMyanmar3-Regular-MN.pdf)

the tests are here

[Myanmar3.html.zip](https://github.com/googlei18n/noto-fonts/files/581328/Myanmar3.html.zip)

[2016-11-09 16:28] #467 closed

[2016-11-09 17:12] marekjez86 commented on #563
[NotoSansMyanmar3-Bold-MN.pdf](https://github.com/googlei18n/noto-fonts/files/581416/NotoSansMyanmar3-Bold-MN.pdf)
[NotoSansMyanmar3-Regular-MN.pdf](https://github.com/googlei18n/noto-fonts/files/581415/NotoSansMyanmar3-Regular-MN.pdf)

[fontdiff](https://github.com/googlei18n/fontdiff) test file is in the following zip

[Myanmar3.html.zip](https://github.com/googlei18n/noto-fonts/files/581419/Mya

[2016-11-09 17:15] marekjez86 commented on #127
results of the tests:

[NotoSansMyanmar3-Bold-MN.pdf](https://github.com/googlei18n/noto-fonts/files/581324/NotoSansMyanmar3-Bold-MN.pdf)
[NotoSansMyanmar3-Regular-MN.pdf](https://github.com/googlei18n/noto-fonts/files/581325/NotoSansMyanmar3-Regular-MN.pdf)

the tests are here

[Myanmar3.html.zip](https://github.com/googlei18n/noto-fonts/files/581328/Myanmar3.html.zip)

[2016-11-09 17:15] #127 closed

[2016-11-09 18:23] marekjez86 commented on #782
If Safari can display it properly for Noto then IMHO this is a rendering issue and NOT a Noto Font issue. Needs to be tested with hb-view first.

[2016-11-09 19:13] dougfelt commented on #782
Safari has custom rendering for this character, as far as I can tell it
might not use the font at all.

On Wed, Nov 9, 2016, 10:23 AM Marek Jeziorek <notifications@github.com>
wrote:

[2016-11-09 22:18] marekjez86 commented on #782
Now that dougfelt explained about the character in Safari, my tests with rendering "B⃞reaking B⃞uild" via hb-view do not provide any new information

![bb-test](https://cloud.githubusercontent.com/assets/13322623/20156955/687fc438-a687-11e6-9b64-4e443dcec446.png)

[2016-11-10 00:09] marekjez86 commented on #788
@waksmonskiMT : if NotoSansUIMono is worked on currently,could you look at this reported issue? Thank you

[2016-11-10 00:14] marekjez86 commented on #789
@dougfelt : agreed "it should be up to your rendering pipeline".  I should close the issue for the noto-fonts, but I don't know where to place it yet. Hence I keep it open.

[2016-11-10 06:07] andjc commented on #780
For some languages UTN11 is less than ideal. For instance UTN11 uses Khamti Shan glyphs for Tai Aiton and Tai Phake. You need to refer to the original Unicode proposals to see the Aiton and Phake glyphs.

Also worth noting that Khamti Shan in UTN11 represents only one particular orthography and typographic tradition.

[2016-11-10 06:34] webguide1 commented on #790
Ah, thanks for the answer! :)

[2016-11-10 07:45] aiaf commented on #730
FYI this is still an issue on macOS Sierra 10.12.

[2016-11-10 14:04] edent commented on #689
Is there anything else I can do to help this issue along? Happy to provide sample characters.

[2016-11-10 17:33] dougfelt commented on #689
These are in the beta Symbols font, which has not been relased yet.

[2016-11-10 18:29] marekjez86 commented on #730
@behdad : created an apple developer bug # 29201865

![bug29201865](https://cloud.githubusercontent.com/assets/13322623/20189101/8e9ca6dc-a730-11e6-95cb-cbdf366c1d7f.jpg)

[2016-11-10 23:13] behdad commented on #730
Thanks.  Asked Ned to check.

[2016-11-10 23:43] TidharC commented on #505
All cedillas still look comma-shaped even with the Marshallese language tag.
![marshallese1](https://cloud.githubusercontent.com/assets/16353803/20198881/160b6984-a75c-11e6-920a-1df5fe2173a9.png)

I used the following HTML code in Chrome browser:

<html lang="mh" xml:lang="mh">
	<meta charset="utf-8"/>
		<div style="font-family:arimo;font-size:500%;">
			Ļ ļ  Ņ ņ          Arimo
		</div>
		<div sty

[2016-11-10 23:46] TidharC commented on #505
[Marshallese.txt](https://github.com/googlei18n/noto-fonts/files/584697/Marshallese.txt)

[2016-11-10 23:47] TidharC commented on #505
All cedillas still look comma-shaped even with the Marshallese language tag.

![marshallese1](https://cloud.githubusercontent.com/assets/16353803/20199072/0a25cc58-a75d-11e6-8bc9-592071cb4bf2.png)

[2016-11-10 23:52] TidharC commented on #505
HTML test snippet

[Marshallese.txt](https://github.com/googlei18n/noto-fonts/files/584703/Marshallese.txt)

[2016-11-10 23:56] SteveMatteson commented on #505
is what you’re looking for a detached cedilla?
Steve Matteson
Creative Type Director
_________________________
1048 Meadow Court
Louisville, CO 80027
_________________________
303 588 9755

On Nov 10, 2016, at 4:43 PM, TidharC <notifications@github.com<mailto:notifications@github.com>> wrote:

All cedillas still look comma-shaped even with the Marshallese language tag.
[marshallese1]<https://cloud

[2016-11-11 16:07] MayuraVerma commented on #770
@brawer please assist

[2016-11-11 16:28] marekjez86 commented on #788
@codeman38 : could you elaborate on other non-monospaced characters? do you see anything else that would be a high priority or visibility?

[2016-11-11 19:44] codeman38 commented on #788
Full list of the characters which have non-monospaced widths, by both name and code point: [noto_mono_bad_widths.txt](https://github.com/googlei18n/noto-fonts/files/586604/noto_mono_bad_widths.txt)

Probably the highest-priority glyphs other than the ones mentioned in the post are these, which are present in legacy code pages (and thus likely to appear in hex editors, etc., that display high bytes

[2016-11-13 09:14] khooz opened #791 "Noto Nastaliq Urdu (Arabic) dotless ya seems misplaced."
Hi,

There is one Ya (ی) in Arabic. the dots beneath, in"ي" represents not the word itself but an accent. Historically, it has had its own keyboard shortcut in Windows 1251 which is "Ctrl+X"; yet the notation is used even if it is not intended for normal Ya (keyboard key "D").

I think a fix can ensure that the dots act as an accent (eg. "D" then "Shift+<somekey>") just like Fatha, Kasra, and Zama

[2016-11-13 22:12] lvml commented on #771
@xiangyexiao I understand these two options exist - but is there any reason to prefer one over the other?

[2016-11-14 17:41] nizarsq commented on #791
Hi khooz, I have 2 questions for you
Are you using arabic or urdu keyboard?

Do you agree with the following?

**Character (ى)**: (U+0649)  [Alef Maksura](http://unicode-table.com/en/0649/) does not have dots beneath, this character always located in the end of the word, similarity in pronunciation character (أ).

**Character (ي)**: (U+064A) [Letter Yeh](http://unicode-table.com/en/064A/) is the l

[2016-11-14 19:00] jungshik commented on #782
There's a similar issue regarding 'enclosing circle'. As @dougfelt wrote, I guess Safari is doing something special outside the font to get them combined with a base character.

[2016-11-14 21:45] hrhatada commented on #789
Hi elTooDR, I checked the example you showed with TextEdit & Chrome on OSX, but I could not reproduce it.  Please refer to the attached screenshots for the test result.

As dougfelt & marekjez86 pointed out, the issue you reported is not the font issue, but the fonts rendering engine issue.

![image](https://cloud.githubusercontent.com/assets/16353449/20283941/f8ac213c-aa6f-11e6-8705-395ec9bdeb12.

[2016-11-14 22:39] KatMomoi commented on #223
We have not been able to reproduce this problem with the current Noto Sans Old Turkic font. The glyphs seem to be those described at the Unicode site:

http://unicode.org/charts/PDF/U10C00.pdf

I am going to close this issue as not reproducible. If you disagree, please re-open with fresh evidence. Thanks!

[2016-11-14 22:39] #223 closed

[2016-11-14 22:45] martyb42 commented on #751
After doing some checking, I believe that I was wrong earlier in:

This should be:  Unicode Character 'APL FUNCTIONAL SYMBOL DOWN SHOE STILE' (U+2366).

It seems the one which looked good, looked different.  The appropriate appearance is with the smaller down shoe, and ultimately "looks more" like a lowercase greek psi.  But isn't.  Sigh.

Again, the APL385 version looks very nice for this charact

[2016-11-14 23:02] marekjez86 commented on #223
@KatMomoi : thank you

[2016-11-15 00:08] hrhatada commented on #719
Android N & the new version of Google Indic IME solved a lot of problems.  However, the baseline shift between Telugu & Alphanumeric char still happens.

While I was verifying this issue, I noticed OSX actually uses the same baseline with their Telugu font & the alphanumeric chars.  Can we re-reconsider to use the same baseline?  Please refer to the attached screenshot.

![image](https://cloud.git

[2016-11-15 00:18] dougfelt commented on #719
My guess is this is NotoSansTeluguUI, and in order to accommodate descenders within the UI constraints, the baseline for the Telugu ends up being higher than that used by Roboto, which I guess is what is being used for the digits and Latin.  Either the descenders get crushed, or Latin gets added to NotoSansTelugu (maybe all UI variants of Noto) and Android figures out how to use it, or we live wit

[2016-11-15 00:54] TidharC commented on #505
From the comments above, I understood that the cedilla for L and N should look like this:

http://www.trussel2.com/MOD/stamp-l2.gif
http://www.trussel2.com/MOD/stamp-n2.gif

[2016-11-15 00:57] hrhatada commented on #707
Have we documented this issue yet?

[2016-11-15 03:44] kenlunde commented on #707
@hrhatada: CFR objects are documented in ISO/IEC 14496-28, which is [available at no charge](http://standards.iso.org/ittf/PubliclyAvailableStandards/). As far as I am aware, all other font fallback mechanisms are undocumented, and doing so is likely to be a non-trivial effort.

[2016-11-15 07:13] adrientetar commented on #719
Is it me or does OSX scale the Latin down so that it's on the same baseline? In this case perhaps a special latin could be added to Telugu UI

[2016-11-15 10:34] neogitter commented on #719
When I type the same thing inside a website and in the address bar in Chrome the outputs are different. The base line is correct in the website but not address bar.

![screenshot_20161115-155409](https://cloud.githubusercontent.com/assets/20138287/20302384/06ec28fe-ab4d-11e6-8e69-f26a57712871.png)
![screenshot_20161115-155501](https://cloud.githubusercontent.com/assets/20138287/20302392/0b614e78-a

[2016-11-15 19:35] alive-corpse commented on #617
I have Android 5.1, but there is nothing like NotoSansSyriac in /system/fonts. Here you can see my font list:
`AndroidClock.ttf
AndroidClock_Highlight.ttf
AndroidClock_Solid.ttf
CarroisGothicSC-Regular.ttf
Clockopia.ttf
ComingSoon.ttf
DancingScript-Bold.ttf
DancingScript-Regular.ttf
DroidSans-Bold.ttf
DroidSans.ttf
DroidSansFallback.ttf
DroidSansMono.ttf
HYQiHei-35S.otf
HYQiHei-45S.otf
HYQiHei-55S

[2016-11-15 19:37] alive-corpse commented on #617
By the way: Device with Android 6.0.1 has exactly the same problem.

[2016-11-15 21:02] TidharC commented on #507
Rebuilt Noto Sans fonts from source.

Alignment to baseline and x-height seems correct for Noto Sans UI and Noto Serif, incorrect for Noto Sans Display.

All 3 fonts now have glyphs for turned insular g (U+A77F) and turned r with tail (U+2C79).

The glyph for turned insular g looks like the wrong shape in Noto Sans Display.

![issue507](https://cloud.githubusercontent.com/assets/16353803/20323992/

[2016-11-16 12:24] lemzwerg commented on #724
I've now added the stuff related to ttfautohint to the documentation and to the description of the noto-hinted repository.

[2016-11-17 07:02] KatMomoi commented on #646
Cf. a list of text vs. emoji style chars for reference:

http://unicode.org/draft/emoji/charts/text-style.html

[2016-11-17 07:03] KatMomoi commented on #646
Please update when SYM2 is delivered and available.

[2016-11-17 07:11] KatMomoi commented on #652
I think this is a product decision. How do we want to define the scope of Noto Nastaliq font? And if we want scripts like Machu, Mongolian, Tibetan, Chagatai included, what arguments can be offered for them other than historical completeness? Can someone want to argue a case?

[2016-11-17 07:54] KatMomoi commented on #753
Android Firefox seems to ignore space within <p> </p>. Can you try something like <span></span> and see what happens?
Also would Android Firefox behave the same if the font-family simply listed "sans-serif" without "Noto Color Emoji"?

[2016-11-17 07:56] KatMomoi commented on #753
I meant to say Android Firefox seems to ignore a space within "p" element.  Can you try "span" element instead?

[2016-11-17 07:56] KatMomoi commented on #753
What I am hinting at is that this could be a browser bug.

[2016-11-17 12:16] Alexendoo commented on #753
It's not present when it's just sans-serif, only when the glyph is rendered as Noto Color Emoji

Same happens with other elements

[2016-11-17 14:15] MayuraVerma opened #793 "Kannada text issue 3"
ಡೋಂಗಿ has issues rendering text in mac OS. Please review.

![screen shot 2016-11-17 at 8 09 07 am](https://cloud.githubusercontent.com/assets/14062593/20392379/33bca894-ac9d-11e6-8cfe-52578702a32d.png)

[2016-11-17 16:04] MayuraVerma commented on #793
@brawer please review this.

[2016-11-17 17:09] marekjez86 commented on #626
@brawer : what should we do about it? is this MS bug or something that we should document in FAQ?

[2016-11-17 17:15] marekjez86 commented on #608
Javanese font is at https://github.com/googlei18n/noto-fonts/blob/master/unhinted/NotoSansJavanese-Regular.ttf

[2016-11-17 17:15] #608 closed

[2016-11-17 17:21] marekjez86 commented on #660
check ascender in the newest fonts

[2016-11-17 18:05] dougfelt commented on #753
I don't know what to do with this bug.  Noto Color Emoji does have a space character, all Noto fonts do.  The space character is the width of a standard emoji character.  Many browsers/environments seem to handle this ok, they do at least render a space.  The fact that firefox/xubuntu fails to render it entirely seems like a bug between the browser/os.  It doesn't seem like our problem.

[2016-11-17 19:25] TidharC commented on #793
It seems the problem is with the glyphs in letter OO (U+0CCB or U+0CCA U+0CD5) being swapped when the letter is postfixed by an Anuswara (U+0C82).
For comparison, this happens with Noto Sans Kannada and not with Kannada MN.

Repro with TextEdit on Mac OS 10.12

![notosanskannada](https://cloud.githubusercontent.com/assets/16353803/20404137/71106b3e-acb8-11e6-8b20-ab93c7b9a0e2.png)

[2016-11-17 19:59] MayuraVerma commented on #793
@TidharC Thank you, is this a font issue?
if so, same problem is present in Tunga. Is there a way to report it to Microsoft?

[2016-11-18 01:06] TidharC commented on #524
Any updates on this issue?  I understand Android O feature complete is scheduled for late January.

[2016-11-18 01:12] TidharC commented on #524
Any updates on this issue?

[2016-11-18 01:16] marekjez86 commented on #524
@dougfelt : does noto_lint catch languages that should offer hyphenation but do not have hyphens?

[2016-11-18 01:47] dougfelt commented on #524
@marekjez86 for phase 3 it would.

[2016-11-18 21:44] hrhatada commented on #141
This issue has not been updated since 08/24/2015.  I got 404 error to open https://github.com/googlei18n/noto-fonts/settings/hooks/new?service=email. Is this issue still relevant?

[2016-11-18 21:48] hrhatada commented on #150
This issue has not been updated since 08/05/2015.  Need the export review.

[2016-11-19 00:25] dougfelt commented on #141
@hrhatada I don't get a 404 error when I click on that link.  I do get prompted to login to github.  Did this formerly work for you?

[2016-11-20 08:59] verdy-p commented on #744
@marekjez86: 29 days ago, you wrote "next week". The download zip still don't have any UI fonts.

[2016-11-20 11:48] #787 closed

[2016-11-20 11:48] #786 closed

[2016-11-20 11:49] #785 closed

[2016-11-20 11:49] #784 closed

[2016-11-20 11:51] #779 closed

[2016-11-20 17:19] marekjez86 commented on #44
https://damjan.softver.org.mk/italic/
text from the above page: 'б в г д ѓ п т з к ѐ ѝ'

[2016-11-21 18:22] tiroj commented on #44
Note that the form of italic г shown at
https://damjan.softver.org.mk/italic/
is unconventional. The usual form resembles a Latin (dotless) i+macron.

[2016-11-21 19:03] moyogo commented on #44
It seems https://damjan.softver.org.mk/italic/ uses an old version of DejaVu Serif for its screenshot. The italic г was fixed in 2010 after https://bugs.freedesktop.org/show_bug.cgi?id=31979 to match the usual form (dotless i + macron).

[2016-11-21 20:02] TidharC commented on #740
Tested Noto Sans Myanmar in and UI and non-UI versions.  Results:

MacOS 10.12:
*  OK in Firefox and Safari.
*  In Chrome, sequences containing U+1060 are rendered as tofu.

Linux:
*  OK in Chrome, Firefox, HarfBuzzViewer.

Windows 8.1:
* OK in Chrome, Firefox, IE except: U+102F is missing its top half in the combination
   U+1016 U+1060 U+102F U+1036

![myanmar740macoschrome](https://cloud.github

[2016-11-21 22:55] dougfelt commented on #744
@verdy-p which download zip(s) are you not finding the UI fonts in?  I get them in the Noto Sans (LGC) download, and also in the zip I get when I click 'Download All Fonts'.  I'm using Linux and these are the 'hinted' zips.

[2016-11-22 06:29] moyogo commented on #536
@TidharC LGTM

[2016-11-22 11:29] #536 closed

[2016-11-23 19:04] TidharC commented on #793
I don't think it's a font issue.  I tried the same char sequence on different platforms; it's displayed correctly in:
HarfBuzzViewer (Linux)
BabelPad (Windows 8.1)
Chrome, Firefox, Safari (MacOS 10.12).

So far I see the glyph transposition only in TextEdit on MacOS.

@brawer, do you think this is an Apple bug?

[2016-11-23 21:32] #150 closed

[2016-11-23 21:32] #141 closed

[2016-11-23 22:55] marekjez86 opened #794 "Macedonian lower case changes to Noto {Sans, Serif} {Regular, Italic}"
Macedonian needs its own locl features. It doesn't have right now. You can copy it from
"script cyrl;
language SRB;"
Whatever is there for Serbian can be used for Macedonian + see below for more.

Note that I generated the samples using SR (serbian) settings. There's NO locl support for Macedonian so it all looks Russian :-)

The comments below are what is needed to change AFTER Serbian locl featu

[2016-11-23 23:49] marekjez86 commented on #44
Closing this as fixed for Serbian. There are issues in Macedonian which were enumarated in https://github.com/googlei18n/noto-fonts/issues/794

[2016-11-23 23:49] #44 closed

[2016-11-24 00:07] marekjez86 commented on #47
using
``<html lang="mt">
	<p><span style="font-weight:700">niġi</span></p>
</html>``
as input to notodiff and running it with all of these fonts

- NotoSans
- NotoSans Italic
- NotoSansDisplay
- NotoSansDisplay Italic
- NotoSerif
- NotoSerif Italic
- NotoSerifDisplay
- NotoSerifDisplay Italic

I verified that the issue if fixed.

[mt-47-NotoSans-Italic-201611230547.pdf](https://github.com/googlei1

[2016-11-24 00:07] #47 closed

[2016-11-24 00:56] TidharC commented on #762
Not reproducible on MacOS 10.12 using:
TextEdit, Chrome, Firefox, Safari.
Test string: U+05D0 U+0020 U+05D1

@davelab6, are you still seeing this problem?

[2016-11-24 04:45] marekjez86 commented on #216
Verified the Rubel sign is present in Phase III:
NotoSans
NotoSans Italic
NotoSansDisplay
NotoSansDisplay Italic
NotoSerif
NotoSerif Italic
NotoSerifDisplay
NotoSerifDisplay Italic

Per Xiangye "Jungshik to add it into Phase 2 Noto Serif and Noto Serif Bold."

[2016-11-24 04:58] marekjez86 commented on #394
I tested it on:
NotoSans
NotoSans Italic
NotoSansDisplay
NotoSansDisplay Italic
NotoSerif
NotoSerif Italic
NotoSerifDisplay
NotoSerifDisplay Italic

The results are in the following files (it touches in case of NotoSans Black, but closing the bug):

[pl-394-NotoSans-Black.pdf](https://github.com/googlei18n/noto-fonts/files/610491/pl-394-NotoSans-Black.pdf)
[pl-394-NotoSans-Italic.pdf](https://gith

[2016-11-24 04:58] #394 closed

[2016-11-24 05:11] marekjez86 commented on #418
Tested with the most recent delivery of
NotoSans
NotoSans Italic
NotoSansDisplay
NotoSansDisplay Italic
NotoSerif
NotoSerif Italic
NotoSerifDisplay
NotoSerifDisplay Italic

All fixed but u+0268 in NotoSansDisplay Italic (see the PDF files below):
[en-418-NotoSans-Black.pdf](https://github.com/googlei18n/noto-fonts/files/610513/en-418-NotoSans-Black.pdf)
[en-418-NotoSans-Italic.pdf](https://github.