[2015-08-10 14:49] marekjez86 commented on #474
It may have been item #6. I just joined the project. I moved it from a private bug list to a public list. Hence it became item #474.

[2015-08-10 15:58] JelleBosmaMT commented on #474
As the designer of the font I took the decision to have candrabindu’s
overlap with top vowels. It does not matter if that is an i, ii, e, ai or
one of the others. To me the best compromise, between relative size,
position in relation to the base glyph, fitting into the design language
of a sans-serif typeface, as well as working with bold and extra bold
fonts. If it is considered a feature that ne

[2015-08-10 16:36] marekjez86 commented on #474
Thank you for the reply.
You are correct that "one item should be sufficient." It is
https://github.com/googlei18n/noto-fonts/issues/474 (all other items were
private and will be closed, this is the only one that's public - I will
copy though the information from
https://github.com/googlei18n/noto-alpha/issues/6, I do not want to lose
the comments from there).
Marek

On Mon, Aug 10, 2015 at 8:58 A

[2015-08-10 21:45] jungshik commented on #474
Note that in googlei18n/noto-alpha#6, @cibu wrote that it's better to use the current glyphs/designs for Noto Sans UI Devanagari.

The remaining question from that bug was what to do about 'Noto Sans Devanagari' (non-UI / Devangari).  @JelleBosmaMT : what do you think of @cibu's question?

Anyway, copying over the conversation from googlei18n/noto-alpha#6 would be necessary to collect all the info

[2015-08-10 22:15] marekjez86 commented on #474
the following info is from https://github.com/googlei18n/noto-alpha/issues/6

Imported from [Google Code issue #6](https://code.google.com/p/noto-alpha/issues/detail?id=6) created by [roozbeh@google.com](https://code.google.com/u/roozbeh@google.com/) on 2013-10-16T00:02:31.000Z:

----
In the sequence लीँ &lt;la+ii+candrabindu&gt; (U+0932, U+0940, U+0901), the candrabindu touches the ii in Noto San

[2015-08-11 00:24] dougfelt commented on #445
So I guess the problem is the 'flag' is missing from the glyphs in the middle three cases in the first image.  The last case in the first image I'm not sure about, is the problem the hook on the glyph?  The first case, being all in green, there's no problem?

I do not understand what issues the second image is illustrating.

[2015-08-11 01:07] dougfelt commented on #95
Do we want to generate a table, though?  It would be rather big.  Maybe just generate some data and a tool that you could provide one or more codepoints to and it would list the font families that support it?

[2015-08-11 03:59] shyndman commented on #95
If you're willing to hook it up, there's a function in there that can generate ranges. It seems to be a dependency of other tools in the package.

[2015-08-11 08:17] JelleBosmaMT commented on #474
There is no difference between UI and document font (If that is the
question.)

On 10-aug.-15 23:45, "jungshik" <notifications@github.com> wrote:

[2015-08-11 16:04] dougfelt commented on #95
Like I said, a table of all unicode characters mapping to all fonts would be large.  Are you ok with a tool or do you really want a table?

[2015-08-11 17:49] moooas838 commented on #95
Moooas838@hotmail.com

[2015-08-11 23:14] dougfelt commented on #95
The tool takes a list of codepoints and/or codepoint ranges (in hex) and reports the font families that support these in their cmaps (all fonts in a noto family cover the same codepoints).

[2015-08-12 05:40] shawnl commented on #411
While the code-points are not common, the ligatures are. Without ligatures(1) provided by the fonts, applications will continue to use images for this purpose, which is non-optimal.

(1)or contextual alternatives

[2015-08-12 14:31] khaledhosny commented on #411
Do you have examples of such use on the wild?

[2015-08-12 18:46] shawnl commented on #411
http://www.mujahideenryder.net/pdf/WhoAretheDisbelievers.pdf

https://www.reddit.com/r/islam/ (see right side-bar)

p.1 of the Arabic-English Al-Ghazali's The Incoherance of the Philosophers, translated by Michael Marmura, BYU (a wide ﷽)

Mostly religious stuff with ﷺ/صلى الله عليه وسلم

[2015-08-12 20:18] JelleBosmaMT commented on #423
All the Indic Noto fonts that are expected to have these characters have been re-delived last year. Remember that this was one of the things the Lint tool reported, which we addressed. Please close this issue.

[2015-08-12 20:24] JelleBosmaMT commented on #387
I actually made the Arial Unicode MS and Gurmukhi MT fonts that are being compared with. Of course these are (very) old Monotype designs. Looking at various contemporary fonts, I do not see this ligature and assumed the ligature has gone out of fashion. It is a bit unexplainable exception to how subscripts are being attached.

[2015-08-12 20:26] JelleBosmaMT commented on #99
Is it the fault of the font if it is rendered by software that does not apply the OpenType features Please close this issue.

[2015-08-12 20:30] JelleBosmaMT commented on #424
The dotted circle is inserted by the rendering software to indicate an invalid combination. This happens at the level of Unicode characters. This is not a font issue, but of the software used to render the text.

[2015-08-13 00:23] khaledhosny commented on #411
Noto Arabic Naskh already has ﷺ, so what you is missing is only a wide ﷽, since other symbols in your examples don’t have Unicode points at all.

[2015-08-13 09:53] cibu commented on #474
As a Hindi reader, I can say that overlapping does not make it unreadable or illegible. Personally, I think overlapping is better design - just an opinion.

[2015-08-13 09:59] cibu commented on #473
Supporting the spec for optional ligatures can be lot of work for reformed orthography fonts like Noto Malayalam Sans; as many additional glyphs available in an traditional orthography script needs to be supported. For example, KA + ZWJ + VIRAMA + RA should return a connected ligature.

So question would be how much more are we willing to draw. Depending on the answer we can come up with a subset

[2015-08-13 18:04] dougfelt commented on #183
the fy text sample from the UDHR is already in our text samples.

added flag to noto-emoji in commit a664ab20a4fab3c32f203ad80573f780584d5ee6

[2015-08-13 18:04] #183 closed

[2015-08-13 18:09] dougfelt commented on #95
committed the change to googlei18n/nototools: cb2b7876364f3dc13942e42de7de23215fde6fda

Please open an issue in nototools if you want to change/add/remove features from this tool.

[2015-08-13 18:09] #95 closed

[2015-08-17 21:42] roozbehp opened #477 "Noto Sans Old Italic should support Old Italic variant forms"
The situation with Old Italic in Unicode is very similar to the situation with CJK in Unicode. Characters are heavily unified, which could appear very different in the actual languages they are written in.

So the Noto Old Italic font needs to have 'locl' features mapping them to different glyphs. The shapes are documented in [UTN #40](http://www.unicode.org/notes/tn40/).

[2015-08-17 21:59] dougfelt commented on #183
Removed the flag since we do not have a signed contributor agreement.

[2015-08-17 22:13] kmansourMT commented on #161
Shapes of u+A9A3 & A99D are now distinct

![javanese_161](https://cloud.githubusercontent.com/assets/12738181/9317723/677e9e94-44f2-11e5-9581-836a713dfdb8.png)

[2015-08-17 22:19] kmansourMT commented on #162
The following graphic shows all marks well positioned over the dotted circle.

![javanese_162](https://cloud.githubusercontent.com/assets/12738181/9317849/20864b08-44f3-11e5-8b0e-83b147f514ee.png)

[2015-08-18 06:43] brawer commented on #477
The following languages from [UTN #40, page 2](http://www.unicode.org/notes/tn40/old-italic-glyph-variation.pdf#page=2) already have an identifier in [ISO 639-3](http://www-01.sil.org/iso639-3/codes.asp?order=lang_type) and [BCP47](https://www.microsoft.com/typography/otspec170/languagetags.htm). To support them in OpenType, they will need to be added to the registry of [OpenType Language Tags](ht

[2015-08-18 17:54] kmansourMT commented on #149
The comments offered here regarding stylistic differences would carry more weight if we were still discussing the style to be chosen. At this stage, we will focus on any characters whose design is inconsistent with the overall style. We did in fact find that u+A9A5 was ambiguous and have redesigned it as shown below.
![ua9a5-correction](https://cloud.githubusercontent.com/assets/12738181/9338029/7

[2015-08-18 18:14] kmansourMT commented on #178
Added logic to select a more appropriately sized variant of the chakra when combined with the dotted circle.
![javanese_178](https://cloud.githubusercontent.com/assets/12738181/9338538/17531a00-459a-11e5-9b5e-cef21104b42e.png)

[2015-08-19 12:32] flashgangsta opened #478 "Not supported bitcoin symbol "฿""
Hi!
Thank you for very good font, I spent very long time for search beautiful font supported vietnamese lang "Tiếng Việt",
and I'm very happy that I found Noto Sans, but I find one little problem. Your font not support Bitcoin icon — ฿.

May be you will be fix it? This is symbol very popular now.
But in any case, thank you for your work.

Best Regards,
Sergey.

[2015-08-19 18:21] jungshik commented on #190
Assign to @marekjez86 to track the progress of Miao script.

[2015-08-19 18:26] dougfelt commented on #311
Work on Meetai Mayek for phase II is complete. Planned work on Meetei Mayek for phase III does not include font redesign.  We will take this feedback under advisement for possible redesign work after phase III.

[2015-08-19 18:32] jungshik commented on #236
@kmansourMT

[2015-08-19 19:59] roozbehp commented on #311
Why close the issue then?

[2015-08-19 21:20] aaaxx commented on #335
Hi, I was the one who reported this originally at Google Code. Is there a chance of it being taken care of in the near future? Seems a shame that easy fixes such as this one (characters already exist) get put on the back burner.

[2015-08-19 21:23] dougfelt commented on #311
Well, because leaving bugs open for some possible future that's at least 2 years out just clutters the bug database.  If we do want to keep such bugs, then we need some way to tag them so that they can easily be ignored for 2+ years.

[2015-08-19 21:23] dougfelt commented on #311
That said, Xiangye thinks we might want to revisit this in phase 3, if we have money for it.

[2015-08-19 21:26] aaaxx commented on #336
Could this be corrected, please? I know there are probably more pressing matters but this should really be a quick and easy fix.

[2015-08-20 07:35] marekjez86 commented on #318
Design for the font was already approved. Not considered for the current release.

[2015-08-20 07:57] marekjez86 commented on #478
xiangyexiao to evaluate (this applies not only to vietnamese language, but all others also)

[2015-08-20 08:02] marekjez86 commented on #477
fontguy@: should we request registration of Marsiliana, Archaic Etruscan and Neo-Etruscan in ISO 639-3 (The registration deadline for the upcoming round of changes is August 31, 2015.)?

[2015-08-20 08:08] marekjez86 commented on #457
jungshik@ or xiangyexiao@: who should own this? on whose plate this should be?

[2015-08-20 08:19] marekjez86 commented on #445
http://www.almas.co.jp/ and an owner of  http://mongoltolbo.com (and the provider of the comment: "There are some good Mongolian fonts there. http://mongoltolbo.com and http://mongolfont.com/en/index.html ") appears to be behind this posting.

[2015-08-20 08:24] marekjez86 commented on #442
marrish@ could you respond to khaledhosny's question? " Why do you use/need it?"

[2015-08-20 08:40] marekjez86 commented on #335
jungshik, how should I deal with this kind of bug? let's talk (no need to write anything here).

[2015-08-20 10:49] marrish commented on #442
Excuse me for delay. I need it obviously for typing the sexuence "YEH BARREE"+ "HAMZA ABOVE" which is needed for several words, eg. grape wine=mai-e-aNguur مۓ ان٘گُور. It's essential for Urdu.

[2015-08-20 12:54] marekjez86 commented on #331
for my own education I looked up http://elinux.org/Yocto_Project_Introduction on Yocto: "The Yocto Project is a collection of tools and meta-data (defined in a bit) that allows a developer to build their own custom distribution of Linux for their embedded platform".

assigning to jungshik@ to evaluate how difficult it would be to include the license.

we may need to inquire with Google legal about

[2015-08-20 15:51] brawer commented on #477
Just heard from Microsoft that the following OpenType language system tags will be added to the registry; these are the languages of [UTN #40](http://www.unicode.org/notes/tn40/) which already had identifiers in BCP47/ISO 639-3:

![screen shot 2015-08-20 at 5 47 44 pm](https://cloud.githubusercontent.com/assets/1527880/9388041/a87afeec-4763-11e5-9e49-07f9e2d274db.png)

[2015-08-20 16:43] dougfelt commented on #331
The Noto font zips include license files (there was a period when they
didn't, which perhaps this dates from), and there are files in the git
repos. I think this can be closed.

On Thu, Aug 20, 2015, 5:54 AM Marek Jeziorek <notifications@github.com>
wrote:

[2015-08-20 18:12] marekjez86 commented on #331
gatis.pa...@gmail.com please respond with more details of what's expected if what dougfelt described doesn't satisfy the requirement you described above. Closing the bug.

[2015-08-20 18:12] #331 closed

[2015-08-20 20:32] khaledhosny commented on #442
I think the proper (per Unicode) input here would be just "YEH BARREE"+ "HAMZA ABOVE" i.e. U+06D2 + U+0654: مۓ ان٘گُور.

[2015-08-21 21:05] dougfelt opened #484 "Thin space advance width variant for French?"
Roboto had this issue, that was fixed:

[Width of U+2009 THIN SPACE may need to be modified for French #24](https://github.com/google/roboto/issues/24)

But it might apply to Noto LGC as well.  At any rate, the lint tool doesn't do any language-specific checks, so if there was a variant of thin space for French we wouldn't know about it

[2015-08-21 22:20] dougfelt commented on #141
I don't see a straightforward way to set this up.  Does anyone know how to do this?  Have I just missed something blindingly obvious?

Even as a user I can't get fine-grained control over what actions trigger notifications.  I can choose to get email or github messages, but I can't say just notify me for commits/pushes and nothing else.

Looking at the developer docs it appears I can use webhooks

[2015-08-22 04:28] c933103 opened #485 "Script-Language linkage data."
As on http://www.google.com/get/noto/ , it have stated that language data are taken from Unicode CLDR repository. But how about those languages that do not include in the CLDR? As on the page, it said the following languages use Noto Sans CJK SC:
-Cantonese
-Gan Chinese
-Literary Chinese (Simplified script)
-Min Nan Chinese
-Simplified Chinese
-Wu Chinese
-Xiang Chinese
-Zhuang (Simplified script)

[2015-08-23 15:56] behdad commented on #141
Here:
https://github.com/googlei18n/noto-fonts/settings/hooks/new?service=email

[2015-08-24 16:38] dougfelt commented on #141
I do not have access to the setting pages of our repositories.  I never see
a UI to get to the settings, and get a 404 when I try the url.  This is not
the case for the repository clones I created, so I must not be ACL'd for
these operations on the googlei18n repos.

On Sun, Aug 23, 2015 at 8:56 AM, Behdad Esfahbod <notifications@github.com>
wrote:

[2015-08-24 17:09] behdad commented on #141
Fixed.

[2015-08-24 17:40] shawnl commented on #411
OK. So then Unicode should make these characters subject to canonical decomposition, rather than compatibility decomposition. http://www.unicode.org/reports/tr15/ Where can I file that bug?

How did you do a footnote in markdown when you closed the bug?

[2015-08-24 17:58] brawer commented on #411
http://www.unicode.org/reporting.html

[2015-08-24 18:00] behdad commented on #411
No.  You are wrong.  Those characters don't need to be in Unicode.  Ligatures are formed out of glyphs.  Just listen to whatever Khaled says.  He knows what he's saying.

[2015-08-27 17:41] dougfelt commented on #485
The data is CLDR plus anticipated changes for future releases plus internal tweaks, sometimes made for undocumented reasons.  We grab all the supplemental data and use various parts of it to try to figure out what language-script combinations have had significant use (regardless of whether they are currently in use).

When we next update the website it should list Cantonese, Min Nan, and Hakka in

[2015-08-27 21:22] dougfelt commented on #315
This was a problem with generation of the sample images, the wrong font was used.

[2015-08-27 21:23] #315 closed

[2015-08-27 22:44] c933103 commented on #485
Both the hakka wikipedia and min nan wikipedia are biiterial (as in, it offer both hanzi edition and romanized edition), (the hakka one have implemented an auto-conversion system, while the min nan wikipedia is currently hosting only romanized content and put all hanzi content onto wikia). Don't know if that is considered primarily enough or not. (or might be you can check hak.wikipedia.org or zh-

[2015-08-27 23:09] dougfelt commented on #485
Ok, I'll follow wikipedia's lead on this.  I'm going to assume that Noto Sans has all the characters needed for Hakka and Min Nan Chinese in Latin, and list Latn as a script for both languages.

@roozbehp do you have any comments?  Currently extra_locale_data has Hans and CN as the default script and region for nan.  I'd probably change the default script for nan to Latn, based on wikipedia's appa

[2015-08-27 23:17] kenlunde commented on #485
The Latin glyphs in Noto Sans CJK is specifically designed to cover ASCII (the first half of U+00*xx*), ISO Latin 1 (the second half of U+00*xx*), the characters required for common CJK transliteration/transcription, and Vietnamese. I am not familiar with what Latin characters are used for Hakka Chinese and Min Nan Chinese. In terms of the ideographs, there is complete coverage of the URO and Exte

[2015-08-31 10:03] brawer commented on #477
According to Debbie Anderson (dwanders@sonic.net) from UBerkeley, the information in UTN40 is not entirely complete/correct. Debbie has asked a group scholars to supply more accurate information on what glyph should be used for what language. I’d suggest that we wait with fixing the Noto font until we have heard back from Debbie.

[2015-08-31 16:27] dougfelt commented on #384
OK, version 1.05 of Naskh is in the repo now.  MTI says this issue has been fixed by this drop.  @roozbehp can you confirm?

[2015-08-31 16:29] dougfelt commented on #460
MTI says this is fixed. @roozbehp can you confirm?

[2015-08-31 17:03] jungshik commented on #438
I've just built a Phase3 delivery from Monotype (built an otf using Glyphs) and this issue is fixed for Sans LGC.

![bug438](https://cloud.githubusercontent.com/assets/8578343/9584708/7b0cb60a-4fc7-11e5-8b99-c80af6b35396.png)

[2015-08-31 17:04] jungshik commented on #438
Hmm.. the position of U+02E0 is a bit too low compared with what IPA handbook has, though.

[2015-08-31 18:15] jungshik commented on #438
@roozbehp, what's your take?

[2015-08-31 18:22] jungshik commented on #438
@tiroj , what do you think?

The positions of U+02B2 modifier j, U+02E0 modifier gamma, and U+02E1 modifier l are still lower in a new version than in Calibri and Cambria (especially relative to 'd') even though their positions are higher than in the previous version.

[2015-08-31 18:25] jungshik commented on #440
The rendering of 'β̞' with harfbuzz and a new version  is attached below;  It seems even worse than the previous version:
![bug440 sans](https://cloud.githubusercontent.com/assets/8578343/9586642/d13e30a2-4fd2-11e5-8842-673dedef3bd6.png)

@waksmonskiMT,  can you ask your team to take a look?

[2015-08-31 18:28] jungshik commented on #437
![bug437 sans](https://cloud.githubusercontent.com/assets/8578343/9586718/4ad5bcf0-4fd3-11e5-92db-f1adf1c0a449.png)

The above is rendered by harfbuzz 1.0.1 with a new version of Noto Sans UI (LGC). The issue is still outstanding and it seems worse than before.

@waksmonskiMT, can you ask your team to look at this again? Thanks

[2015-08-31 18:49] jungshik commented on #429
@dougfelt, when you wrote that this is fixed in Sans 1.05 and Serif 1.04, did you go through all the characters listed by @tiroj (perhaps, by checking their advance widths programatically)?
If so, please close this as fixed. If not, could you check them all? Thanks

[2015-08-31 18:54] jungshik commented on #440
@tiroj's comment on this issue:

Confirmed: phonetic diacritic mark positioning should be applied to Greek letters used in IPA and
other transcription systems.

More details on IPA Greek:

IPA Greek

As noted abov, four characters from the Unicode Greek block are unified with IPA letters.
This unification has always seemed to me a bad idea: IPA is more conveniently handled uniformly
as an extensio

[2015-08-31 19:03] tiroj commented on #438
The revised size of the superscripts in the Phase3 build is a definite improvement, and I'd consider these acceptable. It is possible to raise the height of superscripts so that, as in the IPA Handbook examples, the ascending modifier superscripts stand noticeably taller than the regular ascender height, but this can look untidy in text, so it is preferable to make the superscripts smaller, as as

[2015-08-31 19:46] moyogo commented on #440
Note that ꞵ U+A7B5 and ꭓ U+AB53 are Latin small letter beta and Latin small
letter chi. Latin beta was added for orthographic support and Latin chi for
German dialect phonetic transcription but is also used in orthographies.
Both are glyphically appropriate for IPA, meaning the IPA IPPH forms of the
Greek letters can look the same (or the other way around).

Le lun. 31 août 2015 20:54, jungshik <n

[2015-08-31 20:14] jungshik opened #489 "Add <IPPH> and <APPH> (if necessary) to deal with IPA + Greek unification"
Spun off from #440.

Below is @tiroj's comment on how to deal with Greek and IPA unification in the Unicode:

As noted in bug 440, four characters from the Unicode Greek block are unified with IPA letters.
This unification has always seemed to me a bad idea: IPA is more conveniently handled uniformly
as an extension of the Latin script, and the style of Greek glyphs in a typeface may not harmonise

[2015-08-31 20:15] jungshik commented on #440
@moyogo : thank you for the comment. I opened #489 to further discuss 'Greek and IPA'. Can you comment on that bug?

[2015-08-31 20:20] jungshik commented on #436
![bug436 sans](https://cloud.githubusercontent.com/assets/8578343/9589383/cb7f631a-4fe2-11e5-98ef-a32ed22da4cb.png)

The above is what I got from a new version of Noto Sans LGC (built with glyphs) for "ə˞ a˞ ɑ˞". They look good, but I also need to check what @tiroj mentioned in the comment above (26 days ago).

[2015-08-31 20:45] dougfelt commented on #429
Hmmm, no I apparently only did a spot check of the original characters.

I added a check to lint and it found that U+02DE maps to a glyph with zero width.  The rest listed above are ok.  This character is 'commonly ligated' according to Unicode so perhaps in normal use this is not an issue.  We'd want a comment from Monotype.

The unicode link in the original report unfortunately includes the fina

[2015-08-31 20:50] dougfelt commented on #429
@jungshik, please look at dougfelt/nototools@ad7aabc7ce4410b5fc5692cbffe40f6dfb58059a

[2015-08-31 23:15] xiangyexiao commented on #384
confirmed it is fixed.

[2015-08-31 23:15] #384 closed

[2015-09-01 07:25] moyogo commented on #429
Modifier rhotic hook U+02DE is odd, it should behave like a diacritic as it attaches onto the previous letter much like Combining horn U+031B. It should add advance width to the base letter to avoid collision with anything that follows, with its own advance width or an OT feature. Any letter followed by the Modifier rhotic hook U+02DE should behave like U+025A ɚ or U+025D ɝ when compared with U+02

[2015-09-01 07:35] moyogo commented on #489
Comment on #440 that should be here instead:
Note that ꞵ U+A7B5 and ꭓ U+AB53 are Latin small letter beta and Latin small
letter chi. Latin beta was added for orthographic support and Latin chi for
German dialect phonetic transcription but is also used in orthographies.
Both are glyphically appropriate for IPA, meaning the IPA IPPH forms of the
Greek letters can look the same (or the other way arou

[2015-09-01 07:38] moyogo commented on #429
Sorry, I didn’t see #436 had the relevant info on U+02DE.

[2015-09-01 20:06] fontguy commented on #410
I haven't seen any other Indic fonts that do this. This is a great feature to add but I'm not sure that it is a "High Priority" item.

[2015-09-01 21:03] pauldhunt commented on #410
you don’t necessarily need contextual kerning, all you need is a set of rules that do not ignore marks, then you can kern things like UUsign @punctuation.

[2015-09-01 21:06] schriftgestalt commented on #410
That would not work. As the UUsign is a mark and the kerning should only be applied if the UU is attached to a right stem. There are other letters that position the UU more to the left (KA). Then you don't need the kerning.

[2015-09-01 22:01] jungshik commented on #436
![bug436 sans](https://cloud.githubusercontent.com/assets/8578343/9618139/4e65743c-50b9-11e5-888f-0959531908c0.png)

1st line : "U+0259 (ə)  U+02DE",  "a U+02DE",  " ɑ U+02DE",  "ɜ U+02DE"
2nd line : h is appended to see how U+02DE is behaving  (if there's an collision)
3rd line : ɚh ɝh
 (ɚ U+025A = "precomposed" form for U+0259 + 02DE ,
   ɝ : U+025D = "precomposed" form for U+025C + 02DE. )

[2015-09-01 22:03] jungshik commented on #436
We may need a new bug against the shape of U+025D and U+025C + U+02DE.

BTW, is it all right for the shape of u+025A to be different from the shape of U+0259 + U+02DE  (the 1st glyph in line 2 and line 3).

[2015-09-02 00:50] dougfelt commented on #429
Reassigning to Sue so that Monotype can look at the U+02DE issue.

[2015-09-02 17:36] tiroj commented on #436
Yes, I would recommend redesign of U+025D; at present it isn't clear that this is rhotic hook and the shape should be more consistent with the other rhoticised letters.

As noted in my earlier comments, the treatment of rhoticised schwa with diagonal bar is derived from linguists' handwriting. It isn't a requirement of the glyph, and I think a typographic treatment that preserves the regular shape

[2015-09-03 08:20] moyogo opened #491 "IPA U+02C8 and 02CC are too short"
ˈ U+02C8 and ˌ U+02CC are too short in general and look to much like dots at small sizes.
ˌ U+02CC should get closer to or slightly above the baseline and ˈ U+02C8 should match its length getting closer to the x-height.

See Noto Sans, Noto Serif compared with Brill, Doulos SIL and DejaVu Sans:
![screen shot 2015-09-03 at 09 18 28](https://cloud.githubusercontent.com/assets/1923747/9653659/e52ff98

[2015-09-03 10:56] moyogo commented on #436
The two letters ɚ U+025A and ɝ U+025D were used in IPA before the rhotic hook was adopted as a diacritic/modifier letter. They were proposed as IPA symbols in 1939 by the editors of the journal *American Speech*. It took a while for them to be adopted as the IPA preferred to have new diacritics for colouring instead of new symbols. The IPA adopted the right hook and the superscript turned r for r-

[2015-09-04 04:48] MayuraVerma opened #492 "Kannada font chandrabindu U0C81 not supported"
Thank you very much for creating the Kannada noto sans font.

Please support sign chandrabindu, unicode code U0C81 . this is a valid sign in Unicode version 8.0.

I am not sure when this was added to the character set.

but the symbol is exactly the same in the devanagari script, chandrabindu U0901. So the glyph will be the same as in devanagari.

Please support this sign.

[2015-09-04 06:32] moyogo opened #493 "Latin alphas ɑ U+0251, ɒ U+0252, ꭤ U+AB64 should have better shapes"
The Latin alphas ɑ U+0251, ɒ U+0252, ꭤ U+AB64 should have shapes that
* help them work together, they should be distinguishable from each other as they are used to represent different sounds in phonetic transcription
* help U+0251 be different from a U+0061 in italic as some languages use U+0251 and its uppercase as an orthographic letter along with U+0061 and its uppercase. Some phonetic transcri

[2015-09-04 06:40] moyogo commented on #493
This also applies to other Latin alphas derived from these: ᵅ U+1D45, ᶐ U+1D90, ᶛ U+1D9B, ᷧ U+1DE7, Ɑ U+2C6D, Ɒ U+2C70, ꬰ U+AB30.

[2015-09-04 07:05] moyogo opened #494 "Latin upsilons design issues"
See the following with Arimo, Cousine, Tinos, Noto Sans, Noto Serif (in that order) in roman and then in italic: Ʊʊᶷᵿꭥ (U+01B1 U+028A U+1DB7 U+1D7F U+AB65)
![screen shot 2015-09-04 at 07 58 03](https://cloud.githubusercontent.com/assets/1923747/9678239/bf55c188-52da-11e5-92b9-572900e7267b.png)

In Arimo and Cousine, ᵿꭥ (U+1D7F U+AB65) should match ʊ U+028A, or the other way around.

In Tinos, ꭥ U+

[2015-09-04 07:38] moyogo opened #495 "Latin letters small capital i design issues"
The ɪ U+026A LATIN LETTER SMALL CAPITAL I is designed properly but its derived characters are not.
The letter small capital i is not a small capital i but instead a small serifed capital i, meaning with top and bottom cross-bars.

See the following with Arimo, Cousine, Tinos, Noto Sans, Noto Serif (in that order) in roman and then in italic: ɪᵻᶦᶧ (U+026A U+1D7B U+1DA6 U+1DA7)
![screen shot 2015-09

[2015-09-04 07:57] moyogo opened #496 "Latin and Cyrillic iotas design issues"
The Latin iota should be distinct from the Latin i (both uppercase and lowercase). The same goes for the Cyrillic iota (see http://www.unicode.org/L2/L2007/07003r-n3194r-cyrillic.pdf). Especially since they can all be used with diacritics, the i losing its tittle, both lowercase must be different.

See the following with Arimo, Cousine, Tinos, Noto Sans, Noto Serif (in that order) in roman and the

[2015-09-04 08:49] moyogo opened #497 "Latin letters with hook design issues"
Some letters with hook have inconsistent, incorrect or to subtle design features.

See the following with Arimo, Cousine, Tinos, Noto Sans, Noto Serif (in that order) in roman and then in italic: ƲʋᶹƑƒƘƙⱲⱳƳƴ (U+01B2 U+028B U+1DB9 U+0191 U+0192 U+0198 U+0199 U+2C72 U+2C73 U+01B3 U+01B4)
![screen shot 2015-09-04 at 09 34 17](https://cloud.githubusercontent.com/assets/1923747/9679645/4129738c-52e8-11

[2015-09-04 09:01] moyogo opened #498 "Latin ram’s horn should be distinct from Latin gamma"
The IPA used to have a ram’s horn that was just a “baby gamma”, a small Latin gamma. It was replaced by a glyph with ram’s horn, meaning terminals pointing down like the horns of a ram.
There are two glyph variants in use for the ram’s horn, one has a small loop and the other has a large loop.

See the following with Arimo, Cousine, Tinos, Noto Sans, Noto Serif (in that order) in roman and then in

[2015-09-04 12:13] moyogo opened #499 "Latin beta, epsilon (open e) and omega should be more Latin"
The Latin letters derived from Greek should be more Latin in serif typefaces. The Greek letters often have slightly different design feature that should not occur in the Latin letters.
This is related to #489.

See the following with Tinos, Noto Serif (in that order) in roman and then in italic: ꞴꞵƐɛꞶꞷ; ɛɜɝɞɷʚ; ΒβEεΩω (U+A7B4 U+A7B5 U+0190 U+025B U+A7B6 U+A7B7; U+025B U+025C U+025D U+025E U+0277 U

[2015-09-04 16:25] moyogo commented on #421
This is a bug.
U+02FA MODIFIER LETTER END HIGH TONE was added for UPA in Unicode 4.0 and is not intended to be the “unaudible release” diacritic, U+031A is.

However https://www.internationalphoneticassociation.org/sites/default/files/phonsymbol.pdf notes U+02FA might look better than U+031A. This is probably because U+031A is unusable in most fonts. Although it’s closer to the right thing, I’m th

[2015-09-04 18:50] dougfelt commented on #492
This was added in Unicode 7.  The current fonts were designed with charsets based on Unicode 6.

Noto phase 3 will be based on a more recent version of Unicode.  If and when a new Kannada Noto is released it will contain this character. There is as of yet no estimated date for this.

[2015-09-04 18:50] #492 closed

[2015-09-04 19:05] xiangyexiao commented on #323
verified. U+2E30 and U+2E31 are added to v1.03.

[2015-09-04 19:05] #323 closed

[2015-09-04 19:08] xiangyexiao commented on #450
corrected.

[2015-09-04 19:08] #450 closed

[2015-09-04 20:25] xiangyexiao commented on #458
verified. fixed in 1.03

[2015-09-04 20:25] #458 closed

[2015-09-04 20:30] xiangyexiao commented on #311
I don't think the issues mentioned in the PDF are entire redesign. They are design issues that need to be fixed in Phase III.

[2015-09-04 20:32] xiangyexiao commented on #318
This issue should be fixed in Phase III

[2015-09-05 08:53] moyogo opened #501 "Latin epsilons (open e) design issues"
Besides the lack of Latin features in Latin epsilon mentioned in #499, there are additional issues with the Latin epsilons:
- Latin ɜ U+025C should be a horizontally mirrored Latin ɛ U+025B;
- Latin ᴈ U+1D08 should be a turned (180 degrees) Latin ɛ U+025B;
- Latin ɜ U+025C and Latin ᴈ U+1D08 should be distinct.

To be able to distinguish ᴈ U+1D08 from ɜ U+025C, ᴈ U+1D08 must have a larger top coun

[2015-09-05 09:35] MayuraVerma opened #502 "Kannada font issue with U0CB1+U0CCD followed consonants and some vowel signs"
Noto Kannada Sans not rendering few combination of letters. More explanation in the attached screenshot.
ನಿರ್ದೇಶಕ
ಕಾರ್ಪೊರೇಟರ್‌ಗಳನ್ನು

Below screenshot is on Mac OS X El Capitan with NUMBERS:->
![screen shot 2015-09-05 at 4 31 29 am](https://cloud.githubusercontent.com/assets/14062593/9698682/25fabcca-5387-11e5-9630-400f5b194b8d.png)

Below screenshot is on Windows 7 with Excel (2010):->
![capture]

[2015-09-05 09:41] moyogo opened #503 "Latin yogh design issues"
Latin yogh is a letter derived from the insular g used in the Middle Ages which makes it hard to translate in modern typefaces. However some of its main features should remain. It was unified with Ezh ʒ for a while because its shape is relatively close to it until Ȝȝ U+021C U+021D were introduced in Unicode 3.0 because they have different origin (ʒ comes from z, ȝ comes from g) and should be disti

[2015-09-05 09:47] MayuraVerma commented on #502
More observations.
For the below link
http://www.prajavani.net/article/ಬಿಬಿಎಂಪಿ-ಕಾಂಗ್ರೆಸ್‌-ಸದಸ್ಯರಿಗೆ-ಬಿಜೆಪಿ-ಗಾಳ

"ಕಾರ್ಪೊರೇಟರ್‌ಗಳನ್ನು" renders correctly on Google Chrome in Mac but incorrectly on Safari in Mac. Attached screenshot demonstrate it. Noto Kannada Sans is the default font for Kannada font on this mac.

"ಕಾರ್ಪೊರೇಟರ್‌ಗಳನ್ನು" and all the other character combination shown in the previous co

[2015-09-05 20:07] moyogo opened #504 "Latin/IPA vertical bars design issues"
The IPA uses the rhythm punctuation mars | U+007C and ‖ U+2016 for minor and major foot break (a break in a sentence and the end of a sentence), the IPA and orthographies use the Latin letters ǀ U+01C0, ǂ U+01C2, and ǁ  U+01C1 to transcribe dental, palatal, and lateral clicks.
The rhythm punctuation marks should be distinct from the letters since they can be used at the same in the same text. They

[2015-09-05 20:34] moyogo commented on #497
I forgot to mention f U+0066 and ƒ U+0192 should be distinct in italic, since both are used in the orthography of Ewe.

See Noto Sans, Noto Serif: fƒ U+0066 U+0192.
![screen shot 2015-09-05 at 21 32 24](https://cloud.githubusercontent.com/assets/1923747/9701161/c9af7caa-5415-11e5-8ba5-3d53897314eb.png)

[2015-09-05 22:26] moyogo commented on #427
This should be generalized to any base letter as many combination of base letter with cedilla can be found.
This is also broken in Arimo, Cousine and Tinos.

For example:
* the Marshallese orthography uses the cedilla with m and o, M̧m̧O̧o̧, and ĻļŅņ which exist precomposed ĻļŅņ but with the comma-below cedilla;
* the General Cameroon Languages Alphabet used for many orthographies uses the ced

[2015-09-05 22:41] moyogo opened #505 "Latin cedilla alternate for Marshallese or as stylistic alternate"
As mentioned in #427 Marshallese uses L, m, n, o with cedilla. Because of the Latvian expected shape of cedilla, the cedilla of ĢĶĻŅŖģķļņŗ are comma-below cedillas. So Marshallese ends up with classic and comma-below cedillas. There should be ways to have a single cedilla in Marshallese.

This can be done with a locl feature for Marshallese MAH which would change the comma-below cedillas to classi

[2015-09-05 23:45] moyogo commented on #438
There seems to be many issues with superscript modifier letters across various Unicode blocks: different alignments, different or inadequate weights, different sizes and misplacement.

See Arimo, Cousine, Tinos, Noto Sans, Noto Serif: d¹ⁱⁿʰʲᵃᶣꟹd 
![screen shot 2015-09-06 at 00 41 44](https://cloud.githubusercontent.com/assets/1923747/9701725/1aa4be62-5430-11e5-8a4e-f53b49b29d01.png)

[2015-09-06 07:58] moyogo commented on #494
Actually ꭥ U+AB65 is GREEK LETTER SMALL CAPITAL OMEGA, so it should be based on Ω in Arimo and Cousine, but it still has a size issue in Tinos.

I leaning towards arguing, in Arimo, Cousine and Tinos, ʊᶷ U+028A U+1DB7 should be redesigned to look like ᵿ U+1D7F. ʊ U+028A is more frequently angular instead of curved.

[2015-09-06 09:59] moyogo opened #506 "Latin phonetic small cap letters design issues in Noto Sans and Serif"
There are several design issues with x-height small cap letters that should be based on the capital letters. They are here instead of separate issues.
See related issues #495 regarding Latin letter small capital i (always with crossbars so not based on capital letter) and #494 regarding Greek letter small capital omega.
## Letter small cap B

See Arimo, Cousine, Tinos, Noto Sans, Noto Serif: Bʙᴃᴮᴯ

[2015-09-06 13:39] moyogo opened #507 "Latin turned letters g, insular g, r-tail, t, and delta design issues"
The Latin lowercase turned letters usually have what was at x-height turned at baseline (or what was at the baseline at the x-height depending on how you look at it). For example h and ɥ, f and ɟ (although sometimes designed as dotless j with stroke but the rule still applies), k and ʞ, y and ʎ. This should also apply to g and ᵷ, ɽ and ⱹ, t and ʇ. For uppercase the current trend is to have the cap

[2015-09-06 19:59] moyogo opened #508 "IPA modifier letters half ring, tack, plus and minus sign design issues"
IPA has a few modifier letters as alternative to combining diacritics below, they are meant to be centered between the x-height and the baseline.

In the _Principles of the International Phonetic Association_ 1949, the combining diacritics below are pretty large and the modifier letters have the same size.
![screen shot 2015-09-06 at 20 57 30](https://cloud.githubusercontent.com/assets/1923747/970

[2015-09-07 06:31] moyogo commented on #429
I would add ˉˆˇ 02C9 02C6 02C7 to the set ; they should be grouped with ˊˋˍˏˎꞈˬ˴ 02CA 02CB 02CD 02CF 02CE A788 02EC 02F4 and similar glyphs should behave in a similar way (acutes should have the same advance width, etc.).

Here’s Noto Sans, Noto Serif: nˉnˍnˊnˏnˋnˎn˴nˆnꞈnˇnˬn 006E 02C9 006E 02CD 006E 02CA 006E 02CF 006E 02CB 006E 02CE 006E 02F4 006E 02C6 006E A788 006E 02C7 006E 02EC 006E
![screen

[2015-09-07 12:48] moyogo commented on #308
Unless I’m mistaken, there is no “Hawaiian script” per se, only a Hawaiian orthography.
The Hawaiian language is written with the Latin alphabet. Both Noto Sans and Noto Serif support the Hawaiian language orthography: CLDR’s `haw` exemplar character set is [a ā e ē i ī o ō u ū h k l m n p w ʻ].

[2015-09-08 18:36] aaaxx opened #510 "Prime symbols not angled"
- U+2032 prime
- U+2033 double prime
- U+2034 triple prime

Used for representing feet and inches, and minutes and seconds.

Right now (v1.05) they're straight and look the same as straight quotes and apostrophe. But generally they are designed slightly angled to the right.

Is this intentional or just an oversight?

Some info on design: https://www.microsoft.com/typography/developers/fdsspec/symb

[2015-09-08 18:54] dougfelt commented on #308
Go to https://www.google.com/get/noto/ and search for 'Hawaiian', it shows the Noto Sans and Serif fonts that support Latin script.

[2015-09-08 18:54] #308 closed

[2015-09-08 21:54] moyogo commented on #510
It is more common to have ′″‴ 2032 2033 2034 with a slant, different from '" 0027 0022. Especially since the are flipped in ‵‶ 2057 2035, which might be supported at some point. There’s also the modifier letters ʹʺ 02B9 02BA which are used in transliteration of Cyrillic and Hebrew script and q⁗ 2057, that should follow similar design. In some fonts ʹʺ 02B9 02BA are upright and look like '" 0027 00

[2015-09-08 22:29] moyogo commented on #499
I'm adding ƛ 019B  and ƛɸᶲ 0278 1DB2 to the list.

ƛ 019B is used in North American orthographies, it should look like the IPA Greek λ (see #489).

ƞ 019E is used in North American orthographies, historically it is a variant of ŋ represented with η. It should be like the n and have serifs on its descender like q.
See Tinos and Noto Serif with nqƞȠηΗ 006E 0071 019E 0220 0020 03B7 0397
![screen shot

[2015-09-08 23:13] moyogo opened #511 "Latin modifier letter l with palatal hook 1DAA wrong in Noto Sans"
ᶪ 1DAA is wrong in Noto Sans, it should be a superscript ᶅ 1D85 with the palatal hook attached to the bottom-right of the stem, not to its center.

See with Noto Sans, Noto Serif: ᶅᶪ 1D85 1DAA
![screen shot 2015-09-09 at 00 08 16](https://cloud.githubusercontent.com/assets/1923747/9749687/5446a708-5687-11e5-8a14-87b7b4e67e9d.png)

[2015-09-09 06:31] moyogo commented on #510
Given the shape the apostrophe/single quotation mark and the double quotation mark, the upright shape of prime and double prime is probably intentional in Noto Sans.
![screen shot 2015-09-09 at 07 29 57](https://cloud.githubusercontent.com/assets/1923747/9754831/9d9ae6ac-56c4-11e5-8ed1-9fde5d42d8aa.png)

[2015-09-09 07:44] moyogo opened #512 "Greek phi symbol 03D5 ϕ should have a stroked glyph in Noto Serif"
ϕ 03D5 is intended to be used as a technical symbol with a specific shape, it should have a stroke going from ascender height to descender height.
Its description in the Unicode chart is:
• used as a technical symbol, with a stroked glyph
• maps to 'phi1' symbol entities

See Noto Sans and Noto Serif with φϕ φ 03C6 03D5
![screen shot 2015-09-09 at 08 38 33](https://cloud.githubusercontent.com/asse

[2015-09-09 18:39] jungshik commented on #439
@waksmonskiMT : can you update the arrow position in Cousine?  Arimo/Tinos are now fixed. Thanks

[2015-09-10 00:14] loveualot opened #513 "Copyright notice issues"
To whom it may concern,

Hi. I have few questions regarding the copyright notice of the Apache License 2.0.
We are an online game developer and publisher.
We would like to use the ‘Noto Sans’ font by combining other styles to create a new font that will be proprietary to our company.  We will then use the font within our game.  We note that ‘Noto Sans’ is published under the Apache License, Versio

[2015-09-12 09:47] JelleBosmaMT commented on #410
The context rule would have to be much more complicated. There might be a reph, anusvara, candrabindu, one of the vedic signs and combinations thereof. And of course, there are other marks and mark combinations which may collide too. The spacing of the punctuation is set to be generous enough that issues of legibility should be limited to very rare combinations of marks.
As the designer of the fon

[2015-09-12 12:20] JelleBosmaMT commented on #410
Secondly, one has to consider in as far this kerning would solve a problem.We would exchange touching characters by extra white space. In particular: if you use the slash to separate two words, there is a choice between touching the vowel and having the slash much closer to the second word than to the first. The gap of the solution could be worse than the touch of the problem.

[2015-09-14 22:46] baig opened #514 "Which font editor are you guys using to edit Urdu NotoNastaliq font?"

[2015-09-15 07:06] vnh19 opened #515 "Latin and cyrillic glyph X render issue in Noto Serif Italic"
Starting in September 2015 there is a render issue with glyph X in Noto Serif Italic...
![googlefont_noto_serif_italic](https://cloud.githubusercontent.com/assets/13781646/9870027/3fe06d44-5b91-11e5-863a-fb7ed281090a.JPG)

[2015-09-15 10:04] c933103 commented on #485
about the use of POJ(latin) or hanji(han ideography) in Min Nan Chinese, as per their village pump: https://zh-min-nan.wikipedia.org/wiki/Wikipedia:Chhi%C5%AB-%C3%A1-kha#.E7.82.BA.E4.BB.80.E9.BA.BC.E6.BC.A2.E5.AD.97.E6.A2.9D.E7.9B.AE.E8.A6.81.E6.94.BE.E5.9C.A8.E8.A8.8E.E8.AB.96.E9.A0.81.EF.BC.9F It seem like it is a widely deabated topic, and there were already multiple votes initated to change th

[2015-09-15 13:12] HaDavids opened #516 "Noto Sans Myanmar glyph adjustment for Sgaw Karen"
In the Noto Sans Myanmar font (latest version) the DOT below U+1037 is positioned behind the CHA U+1061 character. The correct position is on the left so that the DOT does not collide with the base character. This is for the Sgaw Karen language. Our translators in Myanmar would like to request this change. If approved and changed please let us know so that we can use the updated font.
![cha and do

[2015-09-15 14:29] kenlunde commented on #485
Noto Sans CJK does not support these special Latin forms.

[2015-09-15 16:53] dougfelt commented on #485
These characters are, though, supported by NotoSans.

It's not clear that 'o' followed by U+0358 would always render properly if Sans and Sans CJK were both available-- the font fallback rules implemented by the rendering system might get the characters from different fonts, and a fallback ordering that worked correctly for some character sequences might fail to work properly for others.  It also

[2015-09-15 17:01] dougfelt commented on #515
I'm not able to reproduce this using my installed version of NotoSerif-Italic and the create_image tool.  Perhaps it is specific to the web version.

[2015-09-15 17:18] kenlunde commented on #485
As long as Noto Sans is higher up in the font fallback chain, that is where the glyphs for these characters would come from.

[2015-09-15 17:25] dougfelt commented on #485
Ken, are you saying that there's no, for example, kerning or alternate forms of the latin glyphs that make them work better with the CJK glyphs and that would be lost if all of Latin came from another font?  Seems unlikely but I hesitated to make that claim myself.

If that's the case then using NotoSans and falling back to NotoCJK would be a viable approach to supporting mixed pages using both La

[2015-09-15 20:17] roozbehp commented on #515
/cc @davelab6

[2015-09-15 20:18] roozbehp commented on #515
@dougfelt, this may be due to hinting issues. Does create_image use hints?

[2015-09-15 21:00] dougfelt commented on #515
Duh, let me try using .png output.

[2015-09-15 21:14] kenlunde commented on #485
For the characters in question, which are Latin proper, what comes from Noto Sans is probably more desirable than what is in Noto Sans CJK, which is derived from [Source Sans Pro](https://github.com/adobe-fonts/source-sans-pro) and lacks the broader coverage.

[2015-09-15 23:26] davelab6 commented on #515
I reproduced this. This must have been introduced in https://github.com/google/fonts/commit/40e62b2bcec0cefb20029f5cabcc2daf884db21e when I updated to 1.04.
![screen shot 2015-09-15 at 19 24 46](https://cloud.githubusercontent.com/assets/261579/9892718/7d05188e-5bdf-11e5-8869-1894c06866d8.png)

[2015-09-16 00:06] dougfelt commented on #515
I can't reproduce this on google fonts using chrome on linux.  Would my platform matter?

[2015-09-16 00:09] jungshik commented on #515
@davelab6 : platform and browser (version) information?

[2015-09-16 01:37] davelab6 commented on #515
Its Win 8 (corp vm) with Chrome Version 45.0.2454.85; we rerolled it back so it may no longer appear for you, although I still see it here in a cafe in NYC

[2015-09-16 04:19] codeman38 commented on #515
This is a duplicate of bug #270, which I filed back when the repo was still on Google Code.

[2015-09-16 17:12] jungshik commented on #515
We did (Doug and Stuart removed their local copies so that the font from the web font is used) and couldn't reproduce the problem.  It could be explained by what @davelab6 wrote (corp which already has a revert vs public where the revert is not yet in effect).

However, we couldn't reproduce the problem even with the latest Noto Serif and hb-view. That is, Noto Serif in repo should be fine.

It lo

[2015-09-16 17:13] jungshik commented on #515
@davelab6

What version did you roll back to? Can you give me a version number so that I can compare that version with the latest ?

[2015-09-16 17:15] jungshik commented on #515
I missed the comment by @codeman38. It looks like it's indeed a BCI issue in Noto Serif Italic. I'll double check (not that I don't believe @codeman38 but just in case) and dupe this bug to #270

[2015-09-16 17:21] davelab6 commented on #515
Version 1.03

[2015-09-16 17:24] jungshik commented on #515
Indeed, it's a BCI hint issue. See the screenshots below (Noto Serif Italic)

With BCI hint ON :
![image](https://cloud.githubusercontent.com/assets/8578343/9912487/bc1d57de-5c5c-11e5-800d-61c162ac14eb.png)

With Hint OFF:
![image](https://cloud.githubusercontent.com/assets/8578343/9912504/cb787632-5c5c-11e5-9872-5c81036276cd.png)

With FT's autohint

![image](https://cloud.githubusercontent.com/a

[2015-09-16 17:25] jungshik commented on #515
Duping to #270

[2015-09-16 17:25] #515 closed

[2015-09-16 17:27] jungshik commented on #270
I confirmed this issue with FreeType. See the screenshots below (this has only Latin 'xX', but Cyrilic has the same problem).

With BCI hint ON :
![image](https://cloud.githubusercontent.com/assets/8578343/9912487/bc1d57de-5c5c-11e5-800d-61c162ac14eb.png)

With Hint OFF:
![image](https://cloud.githubusercontent.com/assets/8578343/9912504/cb787632-5c5c-11e5-9872-5c81036276cd.png)

With FT's autohin

[2015-09-16 17:28] jungshik commented on #270
@waksmonskiMT : can you talk to your team to fix this issue? Thanks

[2015-09-16 17:32] jungshik commented on #270
@marekjez86 : The above screenshot is produced with Freetype's (Freetype demo's) ftview tools. You need to download both freetype2 and ft2demos tarballs and uncompress them side-by-side. Then, build freetype and ft2demos and go to ft2demos/bin. Run
`./ftview -m 'xX' 24 <path to a font>`.  You can control hinting with 'h' and 'H' key in ftview. Press '?' to see the help.

[2015-09-16 18:40] jungshik commented on #270
@BrianKraimerMT FYI.

I confirmed what @davelab6 wrote. Noto Serif Italic 1.03 is fine, but 1.04 has this bug.

[2015-09-16 18:56] jungshik commented on #270
ХхΧχXx

Greek (U+03A7; Χ) and  Cyrillic (U+0425; Х) have the same problem. Apparently, they're all mapped to the same glyph as Latin 'X'.

![image](https://cloud.githubusercontent.com/assets/8578343/9915081/e488d5d8-5c69-11e5-9cf6-391b8a7b8ed0.png)

Besides, Noto Serif Bold Italic is fine.

[2015-09-16 19:31] jungshik commented on #270
There's no difference between cvt, fpgm and gasp tables between 1.03 and 1.04. In the diff of glyf table between 1.03 and 1.04, I didn't find anything that would prevent us from hot-fixing BCI instruction for 'X', either.

[2015-09-16 19:43] jungshik commented on #270
1.04 with BCI for 'X' transplanted from 1.03 (everything else unchanged).

![image](https://cloud.githubusercontent.com/assets/8578343/9916254/59a358e2-5c70-11e5-9517-a4763c8346de.png)

[2015-09-17 06:55] moyogo commented on #510
To avoid ambiguity, it’s usually better to have the following:
* ||-shape: ASCII quotes, saltillo;
* 9-shape and 6-shape: apostrophe, comma, typographic quotes;
* //-shape and \\\\-shape: prime and reversed prime.

In Noto Serif, the comma and apostrophe have a 9-shape that allows the prime to have a //-shape instead of a ||-shape.
In Noto Sans, the comma and apostrophe have a //-shape so the prim

[2015-09-17 09:36] gatispaeglis commented on #331
Yes, I see it has been fixed. Font archive files now include the license file.

[2015-09-17 15:36] codeman38 commented on #270
Looking at the TTX decompilation, it looks like somehow the hints from "W" (starting in `183 38 1 ...`) got accidentally copied to "X" in 1.04.

[2015-09-22 04:27] lianghai commented on #502
Apparently an reording bug of Apple's text engine (Core Text): the reph glyph is not being reodered to the correct place.
This issue is on Apple's side. It has nothing to do with the fonts.
Please report this issue to Apple through http://bugreport.apple.com

[2015-09-22 04:32] MayuraVerma commented on #502
thank you for the clarification. its a masterstoke.

[2015-09-22 04:34] lianghai commented on #502
Btw, a reph is not formed by `<U+0CB1 RRA, U+0CCD VIRAMA>`. It's `<U+0CB0 RA, U+0CCD VIRAMA>`.
Also, it'll be better to use the conventional notation `U+XXXX` instead of `UXXXX` to refer to a Unicode character, and `<U+XXXX, U+XXXX, ...>` to refer to a character sequence.

[2015-09-22 04:39] MayuraVerma commented on #502
Thanks. It was overlooked.

[2015-09-23 00:56] mycroftxxx opened #518 "Awkward letter spacing"
This is on Ubuntu 15.04, demoed in Libre Office.  If you zoom in on either image, you will clearly see there is subpixel antialiasing in effect.

In the first sample, notice the spacing of the letters in “awkward” appears different in different copies, and in all cases there is too much space between some pair of letters.  In the second sample, notice that the “k” and “w” are actually connected, b

[2015-09-25 20:46] khaledhosny commented on #518
This is most likely a LibreOffice bug as it uses integer-based coordinate system and also tends to accumulate rounding errors, which would cause issues like this. Try to reproduce this in other applications (browsers would be a good choice) to rule out application issues.

[2015-09-26 16:55] lemzwerg opened #519 "Lao fonts: some glyph names are off by 1"
[commit abed4e560220062e1a0a1dd5623cf1922acbc639]

All Lao fonts (`unhinted/*Lao*.ttf`) contain some glyph names that are off by 1.  For example, glyph 'one' is called 'zero'.

[2015-09-26 17:04] lemzwerg opened #520 "Lao and Khmer : remove spurious script (Latn) and features/langsys ('zzdd's from VOLT)"
[commit abed4e560220062e1a0a1dd5623cf1922acbc639]

The fonts `unhinted/NotoSansLao*-Bold.ttf` contain identical GSUB features for both the `lao` and the `latn` script.  The latter is incorrect and should be completely removed – in particular, it prevents correct auto-hinting with `ttfautohint`.

[2015-09-27 04:59] lemzwerg opened #521 "`NotoSansLao-Regular.ttf`: bad design of glyph uni0ED8?"
[commit abed4e560220062e1a0a1dd5623cf1922acbc639]

Here are two (unhinted) images of glyphs `uni0ED8` and `uni0ED9` from font `NotoSansLao-Regular.ttf`.

![notosanslao-regular uni0ed8](https://cloud.githubusercontent.com/assets/1630245/10121276/70f2e2e8-64e4-11e5-8f6d-1f43a94eb498.png)

![notosanslao-regular uni0ed9](https://cloud.githubusercontent.com/assets/1630245/10121278/7d26ed5c-64e4-11e5-9d

[2015-09-29 16:20] #270 closed

[2015-09-29 17:05] mjansche opened #523 "Sinhala: sub-optimal placement of repaya in complex conjunct"
In the word ආර්‍ය්‍ය, the repaya glyph is currently being placed above the yansaya glyph. It would be better to place it immediately above the consonant that logically follows repaya (i.e. the full ya glyph). Perhaps this is best illustrated by the output of hb-view from the HarfBuzz master branch. Here is how the text ආර්‍ය්‍ය (0D86 aa; 0DBB 0DCA 200D repaya; 0DBA ya; 0DCA 200D 0DBA yansaya) rend

[2015-09-29 17:50] roozbehp commented on #523
Confirming the bug in Noto. Windows fonts Nirmala and Iskoola Pota also display the repaya over the ya.

[2015-09-29 18:10] roozbehp commented on #523
/cc @waksmonskiMT

[2015-09-29 19:32] JelleBosmaMT commented on #523
Rendering of Noto is inspired by the BhashitaComplex fonts, distributed by ICTA as model fonts with correct rendering. These fonts have ligatures with rephaya on the post-base ya, including complete ligatures for the depicted sequence. ICTA being an agency of the Sri Lanka government, it seemed best to follow the given example.

From: Roozbeh Pournader [mailto:notifications@github.com]
Sent: 29 Se

[2015-09-29 19:57] dougfelt commented on #45
Fixed.

[2015-09-29 19:57] #45 closed

[2015-09-29 19:59] roozbehp commented on #523
@JelleBosmaMT It seems that the Sri Lankan national standard SLS 1134 (section 5.7, page 15 of http://www.unicode.org/L2/L2004/04131r-sls1134.pdf) shows the repaya over the ya. It shows it the same way in a newer revision too ([SLS 1134 2011 v3.41.pdf](https://github.com/googlei18n/noto-fonts/files/4678/SLS.1134.2011.v3.41.pdf)).

@tiroj Do you have any information on this subject?

[2015-09-29 20:04] dougfelt commented on #381
Fixed.

[2015-09-29 20:04] #381 closed

[2015-09-29 20:30] tiroj commented on #523
Roozbeh, there actually seems to be a discrepancy between the two versions of the SLS 1134 document. If you look closely at the example on page 15 of the 2004 version, you see the rephaya on the postscript -Ya glyph; in the 2011 version (page 24) the rephaya is on the full Ya consonant glyph.

Do you have contact with the Sri Lankan national body via Unicode? I would be inclined to ask for a state

[2015-09-29 21:05] roozbehp commented on #523
@tiroj You're right. I have no idea how I saw the repaya in the 2004 version on the ya! I guess I was so convinced I ignored my own eyes!

Re Unicode contact, there's a liaison with ICTA (Information and Communication Technology Agency of Sri Lanka), Dr Gihan Dias. Various public Unicode documents lists his email as gihan@icta.lk and gihan@uom.lk. @xiangyexiao/@marekjez86, would you please reach h

[2015-09-29 22:20] dougfelt commented on #513
As of today, the license for all Noto fonts is the [Open Font License 1.1](http://scripts.sil.org/OFL).  Let us know if this addresses your issue.

[2015-09-29 22:33] dougfelt commented on #485
The web site now shows both Min Nan and Hakka as being written in any of Latin, Traditional Chinese, or Simplified Chinese.  We also show Cantonese as being written in either Traditional Chinese or Simplified Chinese.

For Min Nan in Latin, Noto Sans or Noto Serif would be required as not all the required Latin characters are supported by the CJK fonts.

Our estimate of whether a language can be w

[2015-09-29 22:37] dougfelt commented on #514
To create the design?  That's probably a question for @kmansourMT .

[2015-09-29 22:52] kmansourMT commented on #514
Doug, the outlines were originally designed in FontLab Studio then converted to TrueType format. Afterwards, the outlines were passed through an outline-cleanup process. Additional work was done in FontDame, a Monotype in-house application.

From: dougfelt <notifications@github.com<mailto:notifications@github.com>>
Reply-To: googlei18n/noto-fonts <reply@reply.github.com<mailto:reply@reply.github.c

[2015-09-30 00:02] roozbehp commented on #512
Confirming the bug.

[2015-09-30 00:03] roozbehp commented on #508
Confirming the bug.

[2015-09-30 00:04] roozbehp commented on #507
Confirming the bug.

[2015-09-30 00:07] roozbehp commented on #506
Confirming the bug.

[2015-09-30 04:57] roozbehp commented on #505
We are not that much into stylistic letters in Noto

Noto currently correctly shows comma forms for the letters listed, but we definitely need an 'locl' feature for Marshallese (MAH) that produces the cedilla forms for the letters listed (ĢĶĻŅŖģķļņŗ) and for combining cedilla (U+0327). Assigning to Monotype to add the required glyphs and features.

[2015-09-30 05:13] #514 closed

[2015-09-30 08:58] JelleBosmaMT commented on #523
Gihan Dias has been involved with the Bhashida font. If you supply
complete ligatures there is no rendering issue with some shapers putting
the rephaya in front of the yansaya and others behind the yansaya. Of
course Dr Dias has authored both versions of the standard document too.

In both documents the font being used is Iskoola Pota. Windows 7 renders
the rephaya on ya. Windows 8.1 on Yansaya (I

[2015-09-30 09:58] c933103 commented on #485
For https://github.com/googlei18n/nototools/commit/8db032faa337184e7a08392f75cb10dd9d4001dc#diff-fcf976ca6a91cdc1071b57df5054cae4

I would say L451, 452, and 455 should be
'CN': ['yue-Hans', 'hak-Hans', 'hak-Latn', 'nan-Hans', 'nan-Latn'],
'HK': ['yue-Hant'],
'TW': ['nan-Hant', 'nan-Latn', 'hak-Hant', 'hak-Latn'],

instead of how it is written currently.

and, translation of language name in L371

[2015-09-30 16:35] marekjez86 commented on #523
Given the discussion in the report here. In particular:
- "Rendering of Noto is inspired by the BhashitaComplex fonts, distributed by ICTA as model fonts with correct rendering"
- "Gihan Dias has been involved with the Bhashida font."
- ... and others from Jelle
I'm leaning toward opinion that this is not an issue and the look of the current Noto is as designed. However, I'll reach out to Gihan Di

[2015-09-30 19:09] roozbehp opened #524 "Hyphens are needed in languages that allow hyphenation"
Hyphen characters (U+002D and U+2010) are needed in fonts in scripts that use hyphenation. This would help creating a hyphen shape that's most appropriate for the script, and potentially apply kerning and such around the characters.

For example, both Armenian and Ethiopic use hyphens, while the Noto Sans Armenian and Noto Sans Ethiopic don't have any hyphen characters.

In Android, we are tempora

[2015-09-30 19:18] roozbehp commented on #524
/cc @agustinfz

[2015-09-30 22:36] dougfelt commented on #485
OK

I don't think this impacts the web site, since I don't think we pick up the Chinese name for mrj.  I didn't see a replacement for the current Chinese name, did you mean to provide one.  This is really a CLDR issue, so perhaps it would be better to report this to CLDR directly.

Thanks, the tool mistakenly stopped mapping Kana to Japanese, and dropped these.

@kmansourMT, does Noto Nastaliq sup

[2015-09-30 22:49] kmansourMT commented on #485
Doug,
At the start of this project, we agreed on a character set that would be incremented in stages. In the attached document, you will see 3 levels of requirements: Tier1, Tier2, and Tier3. For the current stage, we had agreed to support only the needs of certain South Asian languages.

Kamal

From: dougfelt <notifications@github.com<mailto:notifications@github.com>>
Reply-To: googlei18n/noto-fo

[2015-09-30 23:02] mjansche commented on #523
Yes, I agree that this looks as designed. Thanks for the clarification about the two different revisions of the SLS doc and for the pointer to the BhashitaComplex fonts.

I'll note in passing that the visual placement of repaya varies for different values of C in the sequence repaya C yansaya. The repaya appears above yansaya iff C == ya; otherwise it appears above the consonant C, e.g. for C == t

[2015-09-30 23:18] tiroj commented on #523
Thanks, @mjansche: that sounds like a clear and implementable rule. It would be nice to get confirmation of this from Gihan Dias, just in case we're missing any additional aspect, but presuming this is correct I can get updates done on the Microsoft fonts to standardise this behaviour.

[2015-09-30 23:23] roozbehp commented on #523
@marekjez86, it seems that the informed consensus is that this is WAI. But it would be very nice to confirm with Dr Dias and get extra information on preferences.

[2015-09-30 23:34] pathumego commented on #523
cc @paarandika @pushpananda

[2015-10-01 07:37] JelleBosmaMT commented on #523
On 01-okt.-15 01:02, "Martin Jansche" <notifications@github.com> wrote:

If in conjuncts with yansaya the postion of repaja depends on the base,
then Noto has a problem: it will always place it on the yansaya.

[2015-10-01 11:21] mjansche commented on #523
The position of repaya does seem to vary in practice and in BhashitaComplex it appears to depend on the base consonant. Here is the word මර්‍ත්‍ය in Clough's dictionary [p. 461, second column, third lemma](https://ia802205.us.archive.org/BookReader/BookReaderImages.php?zip=/8/items/sinhaleseenglish00clourich/sinhaleseenglish00clourich_jp2.zip&file=sinhaleseenglish00clourich_jp2/sinhaleseenglish00c

[2015-10-01 12:18] mjansche commented on #523
A few more examples: Dharmya ධර්‍ම්‍ය [Clough, p. 269](https://ia802205.us.archive.org/BookReader/BookReaderImages.php?zip=/8/items/sinhaleseenglish00clourich/sinhaleseenglish00clourich_jp2.zip&file=sinhaleseenglish00clourich_jp2/sinhaleseenglish00clourich_0557.jp2&scale=1&rotate=0);
Saamarthya සාමර්‍ම්‍ය [Clough, p. 677, second column, first lemma](https://ia802205.us.archive.org/BookReader/BookR

[2015-10-01 17:13] c933103 commented on #485
It should be 馬里 not 馬裹, and the error seems to be caused but automatic
conversion from hans to hant. As the page is too large and my computer
would crash everytime i load the page, i can't check is there any other
similar problem on the page unless there are somewhere else storing thpse
data in smaller segment. And also, how to report this to CLDR directly?
2015/10/01 6:36 "dougfelt" <notification

[2015-10-01 17:18] davelab6 commented on #485
@kmansourMT the attachment isn't included in Github issue emails. If you
visit https://github.com/googlei18n/noto-fonts/issues/485
<https://github.com/googlei18n/noto-fonts/issues/485#issuecomment-144565013>
then
you can edit your comment, and then drag and drop the file into the comment
to attach it.

(ref
https://help.github.com/articles/file-attachments-on-issues-and-pull-requests/
)

[2015-10-01 18:13] tiroj commented on #523
"Here is how LBhashitaComplex puts the repaya deliberately off-center above the "th" in Saamarthya:"

සාමර්‍ථ්‍ය, not සාමර්‍ම්‍ය, yes? Here's the Nirmala UI shaping:
<img width="498" alt="screen shot 2015-10-01 at 11 04 57" src="https://cloud.githubusercontent.com/assets/5614500/10229303/592a40de-682c-11e5-96f5-91d6f15ba1bf.png">

At the moment, Nirmala UI (and Iskoola Pota) are also positioning r

[2015-10-01 18:44] dougfelt commented on #485
It looks like people are supposed to use the CLDR survey tool.  This is new data and it looks like there are differing opinions as to what the right translation is:
http://st.unicode.org/cldr-apps/v#/zh_Hant/Languages_T_Z/

It looks like you need to create an account before proposing data changes.  The main entry point is here:
http://cldr.unicode.org/index/survey-tool

If your computer has troubl

[2015-10-01 18:46] marekjez86 commented on #523
This is FYI: I sent out an e-mail couple of days ago to Prof. Gihan Dias, but I got no response so far. Therefore, today I sent out messages to 5 different people on the team he works with at the University in Sri Lanka. I hope that somebody there would respond to my message.

[2015-10-02 10:54] almas commented on #445
Hello. I'm not that Almas. We have same name. They are company and from Japan. I'm individual person from Mongolia Ulaanbaatar.

* Yes on first picture green is fixed correct form, red is wrong glyphs.
* On second picture problem number 2 is same as first picture word Flash.
* On second picture problem number 1 is wrong. It showing "start u" it's wrong, it must show "ending u".
* On second picture

[2015-10-02 16:25] #485 closed

[2015-10-02 22:34] dougfelt commented on #453
In version 1.03 I don't see a change in this glyph's shape, though the bounding box appears to be a bit taller.  I can't tell what the original issue was from the description.

[2015-10-02 23:57] dougfelt commented on #454
This is 'nun one space nun yodh space nun':
![parthian](https://cloud.githubusercontent.com/assets/9939212/10260136/3ba48e3e-6926-11e5-98d3-6609be95e59e.png)
It looks to my unschooled eye like the above is ok.

This is 'sadhe one space sadhe yodh space sadhe':
![parthian2](https://cloud.githubusercontent.com/assets/9939212/10260150/679246a8-6926-11e5-9edd-cf6374a6c33d.png)
It looks to me like in t

[2015-10-03 00:35] dougfelt commented on #455
Current version is 1.03.

I'm not sure exactly what this refers to.  I see in 7 ligatures explicitly called out in section 3.1 of http://www.unicode.org/L2/L2007/07207-n3286-parthian-pahlavi.pdf

But search isn't revealing to me where in the standard these are mentioned.  Perhaps by '9 ligatures' the reporter (@roozbehp?) also means to include the final two renderings (not necessarily ligatures) i

[2015-10-03 00:43] dougfelt commented on #456
This is what the above sequences currently look like:

![parthian_collisions](https://cloud.githubusercontent.com/assets/9939212/10260564/ce5efa88-692c-11e5-9015-884daf5dc926.png)

sadhe-sadhe seem to connect, still.  the others have space separating them (sometimes very little).

Perhaps @roozbehp can comment.

[2015-10-03 01:16] dougfelt commented on #472
The current version is 1.03.
The diacritics are in the font and position ok over ka:
![taile](https://cloud.githubusercontent.com/assets/9939212/10260689/dde6afca-692f-11e5-869c-913aaefb7909.png)

They also position to the right of tall letters.  However, they seem to swallow (overhang?) the spaces that follow them (each of these except the last is followed by space):
![taile2](https://cloud.githu

[2015-10-03 09:03] JelleBosmaMT commented on #523
![sinh](https://cloud.githubusercontent.com/assets/12729011/10262200/8292eb64-69bd-11e5-9eb1-91214dcb79e2.png)

[2015-10-05 17:12] pathumego commented on #523
@marekjez86 I have sent this out to be clarified from Prof. [JB DIssanayake](https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=JB+DIssanayake). Will hear from him within next two days.

Although Im am a native reader I am not really familier with the patterns of  `Repaya`. Unlike /Rakaransaya and Yansaya, Repaya is not in common use anymore, you wouldn't see it in litera

[2015-10-05 20:54] kmansourMT commented on #472
Please point us to your font data and text files.
Thanks.

[2015-10-05 23:58] kmansourMT commented on #472
I've run some tests to verify the reported errors and have found the following.
The attached test file (TaiLe-test-03xx.txt) was rendered through 3 separate OT interpreters: Harfbuzz, Uniscribe (thru Babelpad), and Monotype's PFC. The shaper output from Harfbuzz indicates that the spacing versions of the marks have been selected, but the PDF shows the marks overlaying the successive base character

[2015-10-06 00:04] kmansourMT commented on #472
![taile-test-03xx-hb](https://cloud.githubusercontent.com/assets/12738181/10297044/2106689a-6b83-11e5-833d-50f86a2b274b.png)

[2015-10-06 03:13] dougfelt commented on #472
I was using hb-view to generate the images that I posted, so perhaps there is a HarfBuzz issue.  @behdad?

[2015-10-06 19:53] marekjez86 commented on #519
Doug, do we generate the names in our tools or we get it as an input from our partners? If from partners, please re-assign it to waksmonskiMT

[2015-10-06 21:50] kmansourMT commented on #453
In the most recent deliverable, the advance width of Taw (u10B55) changed from 1296 to 1353, and the left sidebearing was increased from 31 to 80. This change improved the spacing of the character.
<img width="172" alt="taw_current" src="https://cloud.githubusercontent.com/assets/12738181/10323684/82a5e04c-6c39-11e5-9169-4acd250ad996.png">
<img width="173" alt="taw_previous" src="https://cloud.git

[2015-10-06 22:26] kmansourMT commented on #454
In an earlier version of Inscriptional Parthian, there was an incorrect assumption that these two letters would be followed by another alphabetic letter. In such situations, the tails of the respective characters would protrude excessively to the left. In the current deliverable, they have been changed as follows:
Sadhe: advance width (AW) changed from 1221 to 2439, LSB from -1188 to 30.
Nun: AW c

[2015-10-06 22:28] kmansourMT commented on #454
The following demonstrates the new spacing behavior of Sadhe and Nun when they are not followed by alphabetic letter. In this case, each character is followed by One (u10B58) without any intervening spaces.
<img width="989" alt="454_nunsadhe_nonalpha" src="https://cloud.githubusercontent.com/assets/12738181/10324508/ea477d82-6c3e-11e5-8073-941cb446eb52.png">

[2015-10-06 22:38] kmansourMT commented on #455
Whether we count the number of ligatures indicated in the proposal as 7 or 9, the current font satisfies all of them, as indicated in the above graphics.

[2015-10-06 22:41] marekjez86 commented on #518
@mycroftxxx please look at the text file and see if this reflects what you were testing.
If it does, copy the contents to test.html local file in your system and open it using
1. a browser
2. libreoffice

I think @khaledhosny is right that this is a libreoffice problem and you will not see this problem under browser.

Thanks. Please let me know what you experience.

[test-noto-serif.txt](https://g

[2015-10-06 22:54] marekjez86 commented on #518
@mycroftxxx , I realized that my suggestion was too complex. You can just save your libreoffice file that you presented above as an html file and open it in the browser to see the results.

[2015-10-06 23:02] marekjez86 commented on #520
@dougfelt , I don't know who owns the delivery of GSUB. If we do, then please help me by re-assigning it to the right person. If we do not, please reassign it to @waksmonskiMT

thanks

[2015-10-06 23:48] kmansourMT commented on #456
It is important to see how the above patterns are now being rendered more legibly. It is not only the degree of overlap that matters, but also the recognizability of each element in a combination. Following are some before and after images (before on the right, after on the left):

<img width="900" alt="sadhenunsadhe_cmp" src="https://cloud.githubusercontent.com/assets/12738181/10325788/6c24e90c-6

[2015-10-07 00:28] jungshik commented on #520
@marekjez86 Lao and Khmer fonts (in phase 2) were not made by MTI. They're made by Danh Hong.

We have to fix these issues ourselves.

[2015-10-07 00:31] jungshik commented on #519
@marekjez86, phase 2 fonts were all delivered as 'ttf' and we didn't generate any of them. Note that this bug is against TTF.  And, Lao/Khmer fonts were NOT made by MTI.  I think we have to fix this ourselves if important.

[2015-10-07 05:19] jungshik commented on #445
@almas,  can you attach a plain text file with strings you used to generate the first image and the second image?

Can you also tell us which font you used to generate 'all green line (the rightmost line) in your first image?

Moreover,  what application and library did you use to generate your test images?

As for item 3 in the second image, Noto Sans Mongolian does not have any Latin coverage so

[2015-10-07 05:25] jungshik commented on #270
@davelab6 Can you update Noto Serif in Google Font to the latest git version?

[2015-10-07 05:27] jungshik commented on #516
/cc @kmansourMT @tiroj

[2015-10-07 05:45] jungshik commented on #457
We should add these characters to Tamil in phase 3.

[2015-10-07 06:04] moyogo opened #526 "IPA: under tie U+203F is missing"
UNDERTIE U+203F ‿ is used in IPA but is missing from Noto Sans and Noto Serif which intend to cover IPA.

In the 1999 IPA Handbook, page 23, the example has U+203F erroneously printed as COMBINING DOUBLE BREVE BELOW U+035C: [pətit͜ami].

U+035C is an alternate of COMBINING DOUBLE INVERTED BREVE U+0361, used to indicate affricate and double articulation. See 1999 IPA Handbook, page 22:

On page 174

[2015-10-07 06:16] jungshik commented on #99
I don't know what version of Chrome is used on what version of Mac OS X.

As @JelleBosmaMT wrote, this is NOT a font issue. Moreover, Chrome 45.x does not have any issue at all with reordering on Mac OS X (10.9.x).

![screen shot 2015-10-06 at 11 14 35 pm](https://cloud.githubusercontent.com/assets/8578343/10330301/3d5036f4-6c80-11e5-8299-14d972d7a390.png)

[2015-10-07 06:16] #99 closed

[2015-10-07 06:42] dougfelt commented on #456
They're clearly better.  Just wanted @roozbehp to comment since I believe he filed the original report.

[2015-10-07 06:52] dougfelt commented on #455
Obviously, how we count them wasn't the point.  It was whether this document is what the reporter (@roozbehp?) was referring to when he mentioned the '9 ligatures'.

[2015-10-07 16:24] roozbehp commented on #455
The 9 refers to what is now in Table 10-9 of TUS 8.0, pp. 416 and 417 (http://www.unicode.org/versions/Unicode8.0.0/ch10.pdf). I'm not sure if the shapes are done correctly (I need to check my sources), but based on Doug's images, I agree that all 9 are now supported.

[2015-10-07 16:24] #455 closed

[2015-10-07 16:56] jungshik commented on #7
Again, Khmer and Lao were not made by MTI. In phase 3, they'll improve upon the existing fonts and we'll put together cmap tables ourselves.

For phase 2, we can just drop unnecessary cmap tables.

[2015-10-07 16:59] roozbehp commented on #526
Confirming that the character is needed in the LGC fonts.

[2015-10-07 17:00] roozbehp commented on #526
/cc @dougfelt to add the character to the linter for LGC fonts.

[2015-10-07 18:02] tiroj commented on #516
Yes, this is a clear bug.

[2015-10-07 18:09] jungshik commented on #524
@kmansourMT

[2015-10-07 18:49] jungshik commented on #516
@kmansourMT  : would you take it?

[2015-10-07 18:51] jungshik commented on #526
Giving to @SteveMatteson

[2015-10-07 19:16] kmansourMT commented on #516
Yes, I will.

From: jungshik <notifications@github.com<mailto:notifications@github.com>>
Reply-To: googlei18n/noto-fonts <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, 7 October 2015 at 11:49
To: googlei18n/noto-fonts <noto-fonts@noreply.github.com<mailto:noto-fonts@noreply.github.com>>
Cc: Kamal Mansour <kamal.mansour@monotype.com<mailto:kamal.mansour@monotype.com>>
Subj

[2015-10-07 19:20] kmansourMT commented on #524
This call to add hyphens to various character sets seems to be a reversal of past policy.

From: jungshik <notifications@github.com<mailto:notifications@github.com>>
Reply-To: googlei18n/noto-fonts <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, 7 October 2015 at 11:09
To: googlei18n/noto-fonts <noto-fonts@noreply.github.com<mailto:noto-fonts@noreply.github.com>>
Cc: Kamal

[2015-10-07 21:52] kmansourMT commented on #516
I've tested the text string (u1061+u1037) in Windows 8 and got the following result under MS Word for both NotoSansMyanmar and MyanmarText:
![screen shot 2015-10-07 at 14 46 46](https://cloud.githubusercontent.com/assets/12738181/10352158/46e61b5c-6d02-11e5-9124-87b5b344a262.png)

In addition, I ran the string through HarfBuzz and got the same result. HB indicates that the selected glyphs are "sha

[2015-10-07 23:28] tiroj commented on #516
As I recall, we (Tiro/Microsoft) also got a bug report about this combination on the Myanmar Text font, which I passed on to Andrew Glass, who did the VOLT programming on that font. I believe the intention is to revise the mark positioning so that ring sits to the left of the descending stems, but have not confirmed this with Andrew.

So there are two issues here: the colliding positioning shown i

[2015-10-08 07:31] HaDavids commented on #516
Thank you for looking into this. To answer the question above we have used Windows 10 for this test and the Burmese locale since there is no Karen Windows locale as far as we know. We used Word 2010 on Windows 10. We get the colliding problem both with Myanmar Text and Noto Sans Myanmar fonts and not on the left side. Hope that helps. If there is something else we can do please let us know. This c

[2015-10-08 07:33] HaDavids commented on #516
Sorry I closed by mistake.

[2015-10-08 16:33] marekjez86 commented on #524
It might be a reversal of the past policy (I actually do not know). However, this is a part of a policy to allow "self-contained hyphenation" within a given font set (i.e., if a language supports hyphenation, it should be possible to hyphenate using only the script for that language), therefore we should implement it.

[2015-10-08 20:37] tiroj commented on #516
Note that Office apps may use a different version of the Uniscribe shaping engine than the one in the operating system, so to test the Windows 10 shaping you should try NotePad or Wordpad. NotePad gives you the most direct representation of what the font lookups are doing, without potential interference from other text handling resources such as RichEdit, but Wordpad is pretty reliable and more fl

[2015-10-09 07:08] HaDavids commented on #516
I tested the combination with Notepad on Windows 10 platform and both Myanmar Text and Noto Sans Myanmar display the combination without colliding to the right. That shows that as you said that the font lookups are ok but on the wrong side. If you agree though if you could position the dot on the left side would be great, on both fonts please. Then both Sgaw and Pwo Karen will be using this combin

[2015-10-09 14:46] marekjez86 commented on #505
Assigning to @SteveMatteson but see @roozbehp comment "... but we definitely need an ..."

[2015-10-09 15:21] marekjez86 commented on #498
@xiangyexiao do you agree? if you agree please assign it to SteveMatteson

[2015-10-09 15:55] moyogo commented on #498
Here are a couple of references:
On page 73 of Francis Nolan (1988). 2.2 Vowels. Journal of the International Phonetic Association, 18, pp 69-74 doi:10.1017/S0025100300003650
![screen shot 2015-10-09 at 16 50 55](https://cloud.githubusercontent.com/assets/1923747/10398643/2c203712-6ea6-11e5-8874-7854a132df41.png)

On page 73 of the International Phonetic Association (1989). Report on the 1989 Kiel

[2015-10-12 21:34] behdad commented on #472
@jfkthame.  Do you have any suggestions here?  The issue seem to be that for Tai Le and many other scripts, if we don't send them through USE shaper, they go through default, which has HB_OT_SHAPE_ZERO_WIDTH_MARKS_DEFAULT, which is to zero mark advances.

[2015-10-12 21:35] behdad commented on #472
I can add a version of default shaper that doesn't zero marks, but not clear to me which scripts should go through it.  Perhaps those that Uniscribe implements?

[2015-10-13 04:30] NorbertLindenberg commented on #366
Please label this bug as Script-Balinese.

[2015-10-13 04:30] NorbertLindenberg commented on #373
Please label this bug as Script-Balinese.

[2015-10-13 18:10] jungshik commented on #56
Noto Sans Armenian does NOT have any Latin letters at the moment. I'm not sure what the bug reporter is talking about. Perhaps, he got a modified version somewhere. Anyway, this is invalid.

[2015-10-13 22:24] zenodotus opened #527 "Testing browser support for Noto Sans Bamum"
Hi,

This link is displaying Bamum script successfully on Chrome, IE, and FF in Windows 7:
http://andrewc.vicnet.net.au/test/bamum/bamum-test.html

But when I paste the sample text (ꛖꚫꚨꚢꛃꚠꛤꚩ꛳) in on most pages, all that I see is empty boxes.

Any idea how the Bamum script could be more widely supported across browsers and platforms?  It has been part of Unicode since version 6.0.

Regards,
Charles

[2015-10-14 00:01] jungshik commented on #527
The reason is  very simple. Andrew's test page uses a web font (Noto Sans Bamum) as served by Google Web Font ( http://www.google.com/fonts/earlyaccess).

Unless you install Noto Sans Bamum (or any fonts supporting Bamum) on your local machine, a regular web page (that does NOT use a web font explicitly) would just show you Tofus (empty boxes).

So, the best way is to use a web font when making a

[2015-10-14 00:01] #527 closed

[2015-10-14 00:09] jungshik commented on #524
You might as well call it that way. @kmansourMT

Anyway, hyphen and related characters are a subset of characters we're considering to add to various script fonts.
And, the answer to hyphen and related characters is definitive yes as noted in this bug.

We made a candidate list (which is a superset of what we'll actually end up adding to script-specific fonts) and are soliciting feedback from you

[2015-10-14 00:19] #7 closed

[2015-10-14 17:04] jungshik commented on #7
I took a look all the Lao and Khmer fonts. Only Khmer Serif Regular and Bold have this issue and they're fixed now.

[2015-10-14 22:02] roozbehp commented on #478
Bitcoin is being proposed as a new character in Unicode: http://www.unicode.org/L2/L2015/15229-bitcoin-sign.pdf. It will most probably be encoded in Unicode 9 or 10.

[2015-10-14 22:03] xiangyexiao opened #529 "Punjabi (Gurmukhi script):consonant+halant+consonant not handled incorrectly"
When type consonant+halant+consonant, the rendering of "Noto Sans Gurmukhi" comes side by side instead of 2nd consonant below the 1st consonant.

For example for the consonant ਕ, the rendering is correct only for 4 types of conjuncts : ਕ +halant+ਰ = ਕ੍ਰ, ਕ +halant+ਵ = ਕ੍ਵ, ਕ +halant+ਹ = ਕ੍ਹ, ਕ +halant+ਯ = ਕ੍ਯ.
This is the case with all the consonant conjuncts.

STEPS TO REPRODUCE:
Type on ਕ + hala

[2015-10-14 22:15] xiangyexiao commented on #529
internal bug: http://b/24914718

[2015-10-14 22:24] jungshik commented on #529
/cc @JelleBosmaMT , @BrianKraimerMT , @kmansourMT , @behdad

[2015-10-14 22:55] tiroj commented on #529
Some background on why the fonts may be the way they are:

Only the three subscript consonants
ਕ +halant+ਰ = ਕ੍ਰ
ਕ +halant+ਵ = ਕ੍ਵ
ਕ +halant+ਹ = ਕ੍ਹ
and the postscript -Ya
ਕ +halant+ਯ = ਕ੍ਯ
are used in modern Panjabi, and grammars of the modern language typically show only these forms (modern, in this instance, means 18th Century onwards).

The other subscript consonants are found only in older te

[2015-10-14 23:01] xiangyexiao commented on #529
downgraded the priority based on tiroj's comment.

[2015-10-15 00:26] jungshik commented on #520
hinted/NotoSansLaoUI-Bold.ttf is also interesting. Its GSUB table is different from that of unhinted version:

1. It only has 3 FeatureRecords instead of 14 as found in the unhinted version
2. Under both 'lao ' and 'latn' scripts, it does not have 'langsys record for 'zz01' that invokes 11 features missing in hinted version.

What is 'zz01' langsys, btw?

[2015-10-15 05:35] lemzwerg commented on #520
I've written directly to Danh in another mail.  Hopefully, he can comment.  For obvious reasons, *I* only look at the unhinted fonts :-)

[2015-10-15 14:44] JelleBosmaMT commented on #529
At the time of the design, my knowledge of these additional presentation forms did not go beyond "old inscriptions". Because digital fonts are not really intended to be used for new old inscriptions, it did not seem a good idea to delay the work trying to support these. "Old inscriptions" sounds to me like a very limited category, compared to "old manuscripts" or "old books".
If would be vital to

[2015-10-15 17:13] jungshik commented on #520
@tiroj : Do you know what 'zz01' (langsys) is for? I've found quite a lot of fonts with 'zz01' langsys (e.g. virtually all the Uighur fonts listed at http://www.wazu.jp/gallery/Fonts_Uighur2.html have that in addition to DFLT).  Is it kinda 'private' langsys?

[2015-10-15 17:17] jungshik commented on #520
Hmm... NotoSansKhmer has a similar difference between hinted and unhinted versions. Unhinted has 20 extra feature records that are referred to only in 'langsys zz01' . Hinted does not have those feature records nor 'langsys zz01'.

[2015-10-15 17:54] jungshik commented on #520
And, all those feature records (referred to only for langsys 'zz01') have a featuretag starting with 'zz'.

@behdad, could you enlighten me on this? What does harfbuzz do with those features and langsys?

[2015-10-15 17:56] jungshik commented on #520
As expected, zzdd is certainly not in the feature tag registry ( https://www.microsoft.com/typography/otspec/featurelist.htm ). And, according to https://www.microsoft.com/typography/otspec/featuretags.htm, a private feature tag should be made of 4 capital letters (A-Z) with no space (e.g.  'PRKN'. )

[2015-10-15 18:08] tiroj commented on #529
On the subject of subscript mark interaction, both Noto Sans Gurmukhi and the MS Nirmala UI font need to avoid double stacking of below marks because of restricted linespacing in target environments. In this screenshot, Murty Gurmukhi and the MS Raavi font show conventional arrangement of subscript and halant in a three-letter conjunct in the word ਓਲ੍ਹ੍ਹਗੀ. Noto Sans Gurmukhi and Nirmala UI each r

[2015-10-15 18:44] tiroj commented on #520
Tags that begin 'zz-' indicate the presence of a VOLT source project table in the font. When the font is 'shipped' from VOLT, this table and these features are stripped and only the compiled GSUB, GPOS and GDEF tables remain.

[2015-10-15 19:31] moyogo commented on #520
The zzdd tags are used by the VOLT proofing tool: each langsys is assigned a zzdd tag, each lookup is assigned a zzdd tag and can be enabled, in order, to test what each lookup does given a sequence of glyphs.

[2015-10-15 20:29] jungshik commented on #520
Thank you, @tiroj and @moyogo !!

It also occurred to me that zzdd's are from VOLT. To make absolutely sure, (*before* I saw your replies), I shaped 1,000 messages in Lao (extracted from Google's translation db)  with hinted and unhinted fonts (font with zz* and without zz*) with hb-view and there's absolutely no difference as expected. I'll get rid of zz* as well.

[2015-10-15 21:18] SteveMatteson commented on #512
This Greek letter may be written both ways. This is not a bug but a design characteristic of the typeface. Unicode says it ~03C6 so the design should be consistent depending on which way the designer intends.

[2015-10-15 21:20] SteveMatteson commented on #499
You will find a very different opinion from Gerry Leonidas from Reading university on the matter of latinizing the Greek forms. These are intentional aesthetic choices and not bugs

[2015-10-15 22:05] SteveMatteson commented on #526
I've confirmed an outline for 203F is in all 8 masters of LGC Noto Sans and is encoded correctly

[2015-10-15 22:18] xiangyexiao commented on #478
will add support to it if it is included in Unicode 9.

[2015-10-15 22:58] SteveMatteson commented on #507
keep in mind Tinos and Arimo are to match Times and Arial - the 1D77 in Times and Arial descends so do we change it here? Horizontal metrics don't need to change so we can remain compatible.

[2015-10-15 23:17] jungshik commented on #507
As long as horizontal metrics do not change, we'd better do the right thing.

[2015-10-15 23:37] jungshik commented on #364
This is fixed in phase 3 delivery from Monotype.

[2015-10-15 23:37] #364 closed

[2015-10-15 23:48] jungshik commented on #44
Tests taken from https://en.wikipedia.org/wiki/Serbian_Cyrillic_alphabet

<span lang="sr">бгдпт</span>
<span lang="ru">бгдпт</span>

<span lang="sr" style="font-style: italic">бгдпт</span>
<span lang="ru" style="font-style: italic">бгдпт</span>

In Chrome, specify `text-rendering: optimizeLegibility` to invoke loca feature if present. In firefox, it's not necessary.

[2015-10-15 23:50] jungshik commented on #44
@tiroj :  does Sans-serif need the same treatment?

[2015-10-15 23:58] jungshik commented on #44
DejaVu Serif Italic : Serbian (top), Russian (bottom)

![bug44_dejavu_serif_sr](https://cloud.githubusercontent.com/assets/8578343/10530552/b6d2744a-735d-11e5-9787-a5392e5c0980.png)
![bug44_dejavu_serif_ru](https://cloud.githubusercontent.com/assets/8578343/10530557/bb004c4a-735d-11e5-9223-ea18e1f88e7c.png)

Noto Serif Italic : Serbian and Russian are identical
![bug44_serif_sr](https://cloud.gith

[2015-10-15 23:59] jungshik commented on #44
I used harfbuzz's hb-view to generate the above images:

[code]

[2015-10-16 00:05] jungshik commented on #44
Dejavu Serif also has different glyphs in Serif (Roman) for б.  Serbian (top) and Russian (bottom)

![bug44_dejavu_serif_sr](https://cloud.githubusercontent.com/assets/8578343/10530671/d307b408-735e-11e5-9671-c1a26e9a92a0.png)
![bug44_dejavu_serif_ru](https://cloud.githubusercontent.com/assets/8578343/10530676/d776f22e-735e-11e5-9174-739aae644137.png)

[2015-10-16 00:10] jungshik commented on #44
Dejavu also makes a distinction between ru and sr for б in Dejavu Sans and Dejavu Sans Oblique.

Noto Sans (phase 3) delivery does not (let alone the existing Noto Sans ttf).

[2015-10-16 00:17] xiangyexiao commented on #453
Roozbeh, could you check if this issue still exists

[2015-10-16 00:22] #454 closed

[2015-10-16 00:22] xiangyexiao commented on #454
fixed.

[2015-10-16 00:25] xiangyexiao commented on #456
looks nice to my untrained eyes. Close it. @roozbehp feel free to reopen if the issue still exist.

[2015-10-16 00:25] #456 closed

[2015-10-16 00:27] jungshik commented on #433
Noto Serif (latest) still has this issue. Still two glyphs instead of one :

![bug433_serif](https://cloud.githubusercontent.com/assets/8578343/10531035/f358a5de-7361-11e5-939c-f44095ff5aa9.png)

Noto Sans (p3 delivery) got worse. No combining at all.

![bug433_sansp3](https://cloud.githubusercontent.com/assets/8578343/10531038/fe68f596-7361-11e5-843f-6bd4bd9ed1f0.png)

[2015-10-16 00:29] jungshik commented on #433
Dejavu Sans got it right :
![bug433_dejavusans](https://cloud.githubusercontent.com/assets/8578343/10531054/4136a4ea-7362-11e5-8800-fd7f49358b15.png)

[2015-10-16 00:31] jungshik commented on #433
Arimo and Tinos also behave the same way as Noto Serif. Two glyphs instead of one glyphs for the 3 character sequence.

[2015-10-16 00:51] xiangyexiao opened #530 "Musical symbol OpenType issue with Harfbuzz"
Kamal mentioned Harfbuzz and musical symbol doesn't work together on certain OpenType things, which I don't know detail. So, file this general/placeholder bug to track the issue.

@behdad, @jungshik, @dougfelt, @kmansourMT

[2015-10-16 03:53] tiroj commented on #44
The roman (upright) б variant is optional for Serbian and Macedonian: a lot of fonts do not include it, but I think it is nice to have if the italic has the localised form for this letter.

The localised italic forms are expected in any font in which the italic is something other than a sloped version of the upright. They are derived from the normal Serbian cursive written forms.

[2015-10-16 05:05] moyogo commented on #512
The issue is not about φ 03C6, but ϕ 03D5.

The Unicode chart provides the following description for 03D5:
• used as a technical symbol, with a stroked glyph
• maps to 'phi1' symbol entities
≈ 03C6 greek small letter phi

In math fonts both 03C6 and 03D5 would have to have specific forms.
There is no problem if the letter 03C6 is not designed for math usage here, but 03D5 is not supposed to be the

[2015-10-16 05:13] moyogo commented on #499
@SteveMatteson The Greek letters should stay as they are.
This is issue is about Latin letters which currently look Greek.
Specifically, those Latin letters’ glyphs are missing serifs, have unusual contrast for Latin or are inconsistent between Roman and Italic or inconsistent with other Latin letters.

[2015-10-16 09:22] JelleBosmaMT commented on #529
To me the only logical solution is to have the subscript last. Subscript
forms are used at the end of conjuncts, rather than in the middle. As
non-native reader the visual appearance is l-h-ha in Noto and l-h ha in
the others. The vertical line of the 2 disconnects the final full ha.

An investigation into syllables with two Virama’s, it is interesting to
see most of them make use of these additio

[2015-10-16 17:06] jungshik commented on #433
And, Cousine is even more broken like Noto Sans is.
![bug433_cousine](https://cloud.githubusercontent.com/assets/8578343/10548129/89fa853a-73ed-11e5-9bf5-f913f7a4cc0a.png)

[2015-10-16 17:23] kmansourMT commented on #312
The Coptic review PDF is a large collection of wishes, along with some error reports. Some of the wishes include additional characters that were not in the original specs, and therefore cannot be considered bugs. We will very soon be supplying a new version of the font that fixes all the technical errors. We have also heeded some of the design "wishes" and have made changes to improve the product.

[2015-10-16 17:55] jungshik commented on #11
Took a look at Noto Serif (Regular and Italic) and they do have mark and mmrk features for various diacritic marks + Latin base letters.

I'll close this issue. Please, file a separate bug if there's any concrete bug/issue with IPA or other LGC.

[2015-10-16 17:55] #11 closed

[2015-10-16 18:02] jungshik commented on #44
Thank you, @tiroj !  Is the following a good summary?

1. Serif Italic : We must have Serbian/Macedonian forms  for characters listed here : бгдпт
2. Serif Roman : Nice to have a Serbian/Macedonian variant for б especially considering that we need to do #1
3. Sans Serif Italic : If it's a true Italic (as opposed to Oblique), we must have Serbian/Macedonian variants for бгдпт
4. Sans Serif Roman :

[2015-10-16 18:08] tiroj commented on #44
Yes.

[2015-10-16 18:17] jamesgk commented on #494
Roboto is another case: ʊᶷ U+028A U+1DB7 match ᵿ U+1D7F, but they are all curved:

![roboto](https://cloud.githubusercontent.com/assets/988758/10549676/5de9c7ee-73f7-11e5-81fc-77b7c4ba3389.png)

[2015-10-16 18:53] kmansourMT commented on #312
Following is my initial reply (May 2015) to the review and the Lint report:
2015.4.27 km

Lint report:
	Missing characters u0374 & u375.
	These characters can be readily copied from Noto Sans LGC module.

Issue 312: report by John Hudson

Claim 1: Glyph set: why are some listed IPA characters included?
Reply: remove shown characters because they aren’t needed.

Claim 2: font does not contain the h

[2015-10-16 23:58] dougfelt commented on #519
How are you seeing these glyph names?  Are you using ttx?

[2015-10-17 03:02] behdad commented on #530
I talked to Kamal about this today; looks like there's nothing actionable on our side for this right now.

[2015-10-17 05:47] lemzwerg commented on #519
I've tried both FontForge and FreeType's `ftview` demo program. With ttx it's hard to 'see' glyphs :-)

[2015-10-17 12:42] brawer commented on #519
The bug can also be reproduced in the [opentype.js glyph inspector](https://nodebox.github.io/opentype.js/glyph-inspector.html) — click on “Choose File”, then upload NaoSansLaoUI-Regular.ttf:

<img width="887" alt="parenleft" src="https://cloud.githubusercontent.com/assets/1527880/10558777/f19973b6-74b2-11e5-9a19-c941ba76572f.png">

[2015-10-17 14:44] khla commented on #521
Yes. we can modify. Thanks for your comments.

[2015-10-17 16:34] xiangyexiao commented on #451
@waksmonskiMT, @kmansourMT, what is the thorough list of Noto fonts that should use 'DFLT' but not yet?

[2015-10-17 20:25] moyogo commented on #507
I updated the orginal comment regardin Arimo and Tinos, and Cousine:
- ʇ U+0287 should have the bottom of its ~~vertical~~ [horizontal] bar on the baseline

[2015-10-17 20:28] moyogo commented on #507
I updated the original comment regarding Noto Sans:
- ʇ U+0287 ~~is alright~~ [should have the bottom of its horizontal bar on the baseline]

[2015-10-18 11:52] brawer opened #531 "README shoud explain purpose of UI fonts"
The README file should explain the purpose of the UI fonts. Currently, this is undocumented. Thanks to @lemzwerg for noticing.

[2015-10-19 21:58] roozbehp commented on #453
This is all very confusing. The glyphs @kmansourMT has posted above do not appear to be a Taw, but the number 1000. I'll double check the latest font with my books back home as soon as possible to make sure everything looks fine.

[2015-10-19 22:39] roozbehp commented on #512
Confirming @moyogo's comment that U+03D5 should always have a stroke.

[2015-10-19 22:43] roozbehp opened #533 "U+03C6 (phi) appears with a loop in Noto Sans but with a stroke in Noto Serif"
I don't think this is an intentional design decision, but an accident. @SteveMatteson can correct us if it is, and explain why (see also https://github.com/googlei18n/noto-fonts/issues/512).

See Noto Sans and Noto Serif with φϕ φ 03C6 03D5
![screen shot 2015-09-09 at 08 38 33](https://cloud.githubusercontent.com/assets/1923747/9756034/cce7c29a-56ce-11e5-8dd7-7cd8fdda4652.png)

/cc @moyogo

[2015-10-19 22:44] roozbehp commented on #512
I just filed https://github.com/googlei18n/noto-fonts/issues/533 about the inconsistency between Sans and Serif. Using this bug for the problem with with phi1.

[2015-10-20 04:57] SteveMatteson commented on #512
It's intentional - for UI the long bar is a bit distracting. For text it's more formal. But we can make the two consistent if Google wishes.

[2015-10-20 05:34] roozbehp commented on #512
@SteveMatteson, I'm confused. Are you saying U+03D5 not having a long bar is intentional? How can a math symbol appearing as it should always appear be distracting? Or is [your comment above](https://github.com/googlei18n/noto-fonts/issues/512#issuecomment-149433396) in reference to https://github.com/googlei18n/noto-fonts/issues/533?

[2015-10-20 08:22] jungshik commented on #529
@tiroj : in the above screenshot, did you use "Noto Sans Gurmukhi" or "Noto Sans Gurmukhi  UI"?  I expected the former to behave more like Raavi  (I haven't checked it out)  while the latter (UI font) behaves roughly like 'Nirmala UI'

[2015-10-20 13:38] JelleBosmaMT commented on #529
It makes very little difference. In the UI font the subscript ha is
smaller. Raavi has a very, very large default line distance. They could
have easily used two ha subscripts and still have room for a virama. I
don’t think neither Raavi nor Nirmala rendering looks desirable.

On 20-okt.-15 10:23, "jungshik" <notifications@github.com> wrote:

[2015-10-20 18:15] behdad commented on #519
Looks to me like wrong `post` table in the font.

[2015-10-20 19:46] kmansourMT commented on #451
Xiangye,
We followed a certain logic in determining which script tag to use. If a script was not yet supported by existing OT interpreters, we then examined whether it required any preprocessing such as reordering. If it did, then we would provide this preprocessing under the “default” script tag, in addition to all other OT features deemed necessary. In such cases, we also usually provided the OT

[2015-10-20 20:04] #531 closed

[2015-10-21 00:14] kmansourMT commented on #453
And indeed I did show the wrong glyph. My apologies. Following are the shapes of the Taw: the previous one (sharp corner) is on the left, and the updated one (rounded corner) on the right.
![453_taw-before-after](https://cloud.githubusercontent.com/assets/12738181/10624506/d69ba136-774d-11e5-9226-b372897ac069.png)

[2015-10-21 00:43] xiangyexiao commented on #453
looks like it has been fixed in my eyes, but I'll defer to Roozbeh's judgement.

[2015-10-21 01:59] behdad commented on #451
Hi Kamal,

Unfortunately this is problematic.  Because, at the font design time, as you said, there was no script-shaper for this script, so anything put there under the real script tag is speculative and untested.  If you had left that out, the font would work consistently using the DFLT script into the future, but with the dual approach, fonts break now that we do have a script shaper for those.

[2015-10-21 17:55] dougfelt commented on #453
@roozbehp is this ok?

[2015-10-22 07:21] roozbehp commented on #453
The new glyph LGTM.

[2015-10-22 07:21] #453 closed

[2015-10-22 19:04] dougfelt commented on #462
With the new version of Tifinagh, the outline is back.  However, hb-view does not display Tifinagh consonant joiner in isolation.  By itself it has zero advance and hb-view generates little or no space for it.  I'm not sure how we expect this character to behave in isolation, or with space or dotted circle (which is not in the font anyway). @behdad?

[2015-10-22 20:10] dougfelt commented on #399
There's a new version of Thaana available on github and it appears to have addressed the combining mark positioning issue.

[2015-10-23 18:37] dougfelt commented on #399
The handwriting issue appears to be unaddressed by this version.

[2015-10-23 18:51] jungshik commented on #47
The latest version of Noto Serif has the same 'issue'.

[2015-10-23 19:12] jungshik commented on #526
Sans serif (p3) has it, but serif (the latest ttf) still does not have U+203F, yet.

[2015-10-23 19:19] jungshik commented on #394
No change in this regard between P2 (ttf) and P3(otf ; generated from Glyph source) in Noto Sans.

Outlines do not touch, but are pretty close to each other. As mentioned earlier, we can consider adding a bit more space.

[2015-10-23 19:43] jungshik commented on #418
This is still broken in Noto Sans (p3) and Noto Serif.

In Noto Sans (p3), U+0268 (the 5th character from the left in the screenshot)  regressed in that it's not treated as soft-dotted any more. Other characters listed above do get treated as soft-dotted, but the position of U+0301 is off.

[2015-10-23 19:59] jungshik commented on #418
Noto Sans (ttf - phase 2)
![bug418 sans_p2](https://cloud.githubusercontent.com/assets/8578343/10703531/87776df8-7985-11e5-818d-de146c19b533.png)

Noto Sans (otf built from glyphs source - p3)
![bug418 sans_p3](https://cloud.githubusercontent.com/assets/8578343/10703550/9f339a16-7985-11e5-8c23-903078006cfe.png)

Noto serif (the latest ttf)
![bug418 serif_p2](https://cloud.githubusercontent.com/ass

[2015-10-23 20:19] roozbehp commented on #462
Doug, the character should not be tested by itself, but in two scenarios: <consonant+joiner> and <consonant+joiner+consonant>. The second is the common case, where you want to make sure it works fine with any combination of consonants, and the first is for when a user is in the middle of typing the second sequence (the character should be visible). Please test on both HarfBuzz and a Windows 10 mac

[2015-10-23 20:21] jungshik commented on #421
Noto Sans (p3 built from glyphs source) :

![bug421 sans_p3](https://cloud.githubusercontent.com/assets/8578343/10703991/9f692c96-7988-11e5-9bba-ae91eaeeee85.png)

@moyogo Thanks for great details. Take a look at the screenshot. The first two use U+031A and the second two uses U+02FA.

[2015-10-23 20:23] jungshik commented on #421
/cc @SteveMatteson

[2015-10-23 21:03] dougfelt commented on #462
Your comment omits text for the the scenarios you mention. Perhaps github dropped the text.

I said what I meant.  My question is whether the font should allow displaying this character in isolation.  currently it does not.

The character is always visible except when there is a ligature for the sequence.  It's a nonspacing character that underhangs the previous character.  Half of it is visible (

[2015-10-23 22:33] roozbehp commented on #462
I edited to comment and fixed it.

[2015-10-23 22:35] roozbehp commented on #462
The character in isolation probably doesn't matter much, and I don't have a strong opinion on how it should be displayed if it appears just by itself.

[2015-10-23 22:42] marekjez86 commented on #472
I'm not sure if this should be assigned to waksmonskiMT at this point.

[2015-10-23 23:13] dougfelt commented on #472
Not sure why @behdad didn't take it, but I agree it doesn't seem like an MTI issue.

[2015-10-23 23:15] kmansourMT commented on #472
I would like to reiterate that the spacing versions of the combining marks u0300, u0301, u0307, u0308, and u030C are not classified as marks, but as bases. In the contexts where a tall vowel interferes with the placement of combining marks, we explicitly substitute the non-spacing mark with a spacing base glyph. There is therefore good reason to believe that this is a HarfBuzz error.

From: Marek

[2015-10-25 01:33] MayuraVerma opened #535 "Glyph design issue “ವು” (<U+0CB5, U+0CC1>) in Noto Kannada"
![screen shot 2015-10-24 at 8 38 05 pm](https://cloud.githubusercontent.com/assets/14062593/10713631/43871fd4-7a8f-11e5-8829-162ead854397.png)

![screen shot 2015-10-24 at 8 57 27 pm](https://cloud.githubusercontent.com/assets/14062593/10713676/e765d7a6-7a91-11e5-8279-172e6e033c52.png)

[2015-10-25 08:49] jungshik commented on #535
@JelleBosmaMT : can you respond? Thanks

[2015-10-25 09:53] jungshik commented on #519
With ttx dump, it's hard to tell because it does not give gid.
Anyway, we can say either that post table is wrong or 'nonmarkingreturn' is missing in glyf table (as the 3rd glyph; gid=2).  See https://developer.apple.com/fonts/TrueType-Reference-Manual/RM06/Chap6post.html

I used ftxdumper (from Apple's font suite) to get the following post and cmap table dump: (fontforge can be used to get gid's

[2015-10-25 10:03] lemzwerg commented on #519
BTW, using the `ftview` demo program you can easily see the glyph ID → glyph name mapping, too.

[2015-10-25 10:52] jungshik commented on #519
Fixing #520 (dropping zzxx features/langsys) with subsetter also fixed this issue. However, during the process, glyph names for variant glyphs such as uni0Exx.blw, uni0Exx.right are lost. (they're changed to glyph0101, etc). Let me try to preserve them.

[2015-10-25 13:40] MayuraVerma commented on #535
![screen shot 2015-10-25 at 8 40 25 am](https://cloud.githubusercontent.com/assets/14062593/10715886/12f6cb3e-7af4-11e5-96d0-0b44dfef8094.png)

[2015-10-25 16:28] moyogo opened #536 "IPA: ligature ties (035C 0361) is not positioned properly with superscript letters"
See the following example with 0361 from Erik John Anonby, “Mambay”, _Journal of the International Phonetic Association_, Cambridge University Press, 36-2,‎ 2006 (DOI 10.1017/S0025100306002635)
![screen shot 2015-10-25 at 16 16 18](https://cloud.githubusercontent.com/assets/1923747/10716523/f0c97120-7b33-11e5-8adf-e0a5d80a8512.png)

This is not how 0361 is positioned in Arimo, Cousine, Tinos, Noto

[2015-10-25 19:08] JelleBosmaMT commented on #535
In a "sans serif" style, notably in the bold, have a complete connection creates a blob, a dark spot. I do not see how it is possible to confuse the u with the subscript ra. The u starts at the baseline and the end almost touches the bottom of the consonant. At small sizes the gap is hardly visible. It embraces the consonant The ra starts at the baseline and the far end is as far away from the con

[2015-10-25 19:12] JelleBosmaMT commented on #535
They are as different as can be and having a small gap, rather than a complete connection cannot make a difference. (Github comment field auto-complete is evil.)

[2015-10-25 19:14] JelleBosmaMT commented on #535
New attempt:
In a "sans serif" style, notably in the bold, have a complete connection creates a blob, a dark spot. I do not see how it is possible to confuse the u with the subscript ra. The u stroke starts at the x-height and the end almost touches the bottom of the consonant. At small sizes the gap is hardly visible. It embraces the consonant The ra starts at the baseline and the far end is as f

[2015-10-25 22:57] MayuraVerma commented on #535
@JelleBosmaMT thanks for making few ATTEMPTS to convince. (Very few people STARE at all the alphabets together and appreciate all the differences in the design. Most people install the fonts and start reading the content.)

vu and vra very rarely occur together in same word to watch out for the difference in them. With noto kannada, when vu appears in word, it throws doubt in readers mind whether

[2015-10-26 07:16] moyogo commented on #421
@jungshik A more conservative design would have the same visual length for the horizontal and vertical strokes of U+031A, instead of the horizontal one being longer than the vertical one. Both strokes can also be longer, closer to the length of the ascender.

[2015-10-26 07:42] JelleBosmaMT commented on #535
![countershape](https://cloud.githubusercontent.com/assets/12729011/10723383/a368b210-7bba-11e5-941a-42bdfc7b43ed.png)
Letterforms are made from black strokes. But within these are white shapes. Type designers know these white shapes matter as much and probably more than the strokes. The above image shows the white shapes of the normal u-vowel, the u-vowel variant for pa, ha and va, and finally th

[2015-10-26 08:59] JelleBosmaMT commented on #535
At http://cdac.in/index.aspx?id=pdf_Kannada_TT%20fonts you can find a PDF
with a variety of Kannada fonts. The samples show a pu combination for
most of the designs. You will see that a “loose” u is quite common. For
example in Shruti and Smita, which are in the general style of Noto Sans
Kannada.

[2015-10-26 18:33] behdad commented on #519
Looks like you just subsetted with --no-glyph-names

[2015-10-26 18:51] jungshik commented on #520
Removing zzdd features and langsys worked fine in the sense that there's no shaping change when applied to 5000+ strings I extracted from translation DB.

However, when I took out 'latn', there's a change in shaping in Lao when the input text has a Latin that is not covered by the font in question. In practice, this font (NotoSansLaoUI-Bold) will not be used for Latin (it does NOT cover Latin). So

[2015-10-26 19:00] jungshik commented on #520
BTW, the above images were generated with hb-view in harfbuzz 1.0.6. I also tried 5c8174eda (ToT as of now) and there's no difference from 1.0.6

[2015-10-26 19:08] jungshik commented on #520
Talked to @behdad : the above issue is just an artifact of passing a font without Latin coverage to hb-view (that can take only one font).  I'll just go ahead with removing 'latn' from Lao.

[2015-10-26 20:29] jungshik commented on #519
Yup. I noticed that and fixed it for #520.

[2015-10-26 20:45] jungshik commented on #519
I'll take care of this after #520.

[2015-10-26 21:01] #520 closed

[2015-10-26 21:06] jungshik commented on #520
For the record, subset options I used to drop zzdd features/langsys are:

```--glyphs=* --name-IDs=* --notdef-outline --drop-tables= --no-subset-tables+=morx --glyph-names```

and ```--layout-features-=zz01,zz02,zz03,zz04....zz25```

[2015-10-27 16:40] TrueTyper commented on #394
There isn't room vertically to add more space in any of the master weights without then clipping the ring and changing the shape. I think this bug should be closed.

[2015-10-27 17:57] xiangyexiao opened #538 "Tamil: Character சூ wrongly rendered"
<img width="265" alt="screen shot 2015-10-27 at 10 56 04 am" src="https://cloud.githubusercontent.com/assets/12721521/10767443/60c23802-7c99-11e5-9888-edcec7c2cfc7.png">

[2015-10-27 20:29] JelleBosmaMT commented on #538
I have a substantial collection of Tamil fonts. Few of them have the "correct" form. Almost all of them have the "wrong" form. Foundries that offer Tamil fonts on the Web have the "wrong" form. My Tamil Language guide has the "wrong" form. The World's Writing Systems book shows the "wrong" form and other literature shows the "wrong" form too. Old Monotype and old Linotype fonts use the "wrong" for

[2015-10-27 21:04] xiangyexiao commented on #538
this is a customer reported issue copied from Google's internal bug tracking system. Based on Jelle's reply, Noto glyph is just a style variance, if it is not the correct glyph. I will close the bug correspondingly.

[2015-10-27 21:04] #538 closed

[2015-10-28 15:32] MayuraVerma commented on #535
I again reiterate, from the reader perspective, vu looks like vra. it should be a simple test. Create a paragraph with few non-popular words with vu occurring in the paragraph. Let 10 users to read the paragraph and take their feedback.

I showed the paragraph to 4 of friends, without giving any hints. They all stumbled on vu. I have also contacted a popular kannada daily newspaper. They had recog

[2015-10-28 18:25] dougfelt commented on #462
I'm closing this since the original problem (lack of an outline, causing the character to be invisible and hence unusable when applied to characters that don't combine) has been fixed.

[2015-10-28 18:25] #462 closed

[2015-10-28 18:33] dougfelt opened #539 "Tifinagh font should not use script tag 'tfng'"
As with Lepcha, this script tag causes Harfbuzz to perform script-specific reorderings, but the font was designed assuming such reorderings don't take place.  The script tags should be 'DFLT' so that the text remains untransformed and the ligatures defined in the font apply as intended.

[2015-10-28 18:38] JelleBosmaMT commented on #535
"RELUCTANCE to CHANGE or DEFENSIVE MINDSET"

I am sorry, but I honestly cannot see how to confuse vra and vu or pra and pu or phra and pu. Please do not contribute this to a character flaw on my part. We all have character flaws, it is not a fruitful argument. For me it is very puzzling how something so different is perceived as too similar.

Incomprehensible.

The u is for at least 80 % to the ri

[2015-10-28 21:04] jungshik opened #540 "Arimo/Tinos : VDMX table has wrong values"
It's from a chrome bug ( http://crbug.com/544897 ) .

Arimo 1.30 causes a clipping in some pages ( finance.google.com - text form, www.facebook.com, etc) when BCI is activated.

How to reproduce:

1. Install Arimo 1.30 on Linux
2. Turn on BCI for Arimo. Add the following to ~/.fonts.conf
[code]

3. Launch Chrome (restart if it's already running) and go to http://jungshik.github.io/cr/bugs/544897/

[2015-10-28 21:06] jungshik commented on #540
I haven't yet looked into the hint instruction in Arimo 1.23 and Arimo 1.30. This issue may be something similar to 'Latin X' in Noto Serif Italic but at a larger scale.

/cc @BrianKraimerMT

[2015-10-28 21:53] jungshik commented on #540
fpgm table didn't change between two versions. glyf table changed a lot (new glyphs, old glyphs corrected, etc).

What's curious is a chunk of change in cvt table (an addition in the 2nd chunk is less interesting to this issue, I believe).

[code]

I'll try to revert the first chunk and see if that solved the problem. (this is kinda blind-alley search, I admit).

[2015-10-28 21:56] dougfelt commented on #321
PhagsPa also uses GSUB to implement variants.

[2015-10-29 05:41] jungshik commented on #540
Reverting the first part of cvt table didn't help. I need to do more tests and see what's going on. This is rather strange.

Some results were reported back at http://crbug.com/544897.

[2015-10-29 10:17] etsnyman opened #541 "Musical Flat Symbol"
Hi there!

There is already a sharp (♯) (not hashtag) symbol available in Noto Sans.

How can we go about getting a Flat (♭) symbol in too?

The Droid Sans Fallback font already includes this glyph. Surely it is a case of copy-paste?

[2015-10-29 10:39] lianghai commented on #535
@JelleBosmaMT:

Just a quick note here — mmm, I don't think you're trying on the correct/expected direction of change.

No, connecting isn't necessary, but generally the U-sign starts with a strong relationship to the bottom-center "crack" of ವ. Without that visual relationship, an U-sign looks detached from ವ.

Btw, you can see, most of those C-DAC fonts are shitty. However if you still can't fig

[2015-10-29 17:22] jungshik commented on #540
It turned out that VDMX table changed a lot between two versions and Chromium (Blink) does refer to VDMX table when BCI is used (as opposed to FT's auto-hinting).

@waksmonskiMT , can you find out why there are so many changes in VDMX table between Arimo 1.23 and Arimo 1.30?  This is rather urgent.

[2015-10-29 18:27] dougfelt opened #542 "Mongolian GSUB does not support one standard variation sequence"
@roozbehp, you mentioned Mongolian in googlei18n/nototools#12. I've been developing a test for this, ran it on Mongolian, and there's one combination that doesn't seem to be supported:

Automatic testing for 'unhinted,NotoSansMongolian-Regular.ttf', Version 1.04 uh:
E Expected GSUB to generate all standard variants, but 1 cases did not (182d 180b (fina): [u182D.fin=0+1358|space=0+0])

There's a we

[2015-10-29 19:55] JelleBosmaMT commented on #535
Taking KN-Shruti as inspiration I would get something like the variant on the right:

![poging 2](https://cloud.githubusercontent.com/assets/12729011/10830221/c0fab8de-7e7e-11e5-9f7e-d1d0eca1d550.png)

[2015-10-29 22:45] jungshik commented on #540
MTI found out why these changes had been introduced and is working on it.

Tinos has the same issue.

[2015-10-29 23:00] jungshik commented on #539
/cc @kmansourMT

[2015-10-30 00:34] MayuraVerma commented on #535
Order of preference
1. Connected (I know its not possible)
2. Right Version (first impression. Awesome. Still, will keep fingers crossed for different sizes and bold font)
3. Left Version.

Other similar characters needing attention for the same reason.

![screen shot 2015-10-29 at 7 09 35 pm](https://cloud.githubusercontent.com/assets/14062593/10835518/53720978-7e71-11e5-9417-314de0d0cae2.png)
![

[2015-10-30 04:26] lianghai commented on #535
It's far from "not possible".
It's just @JelleBosmaMT being way too conservative about optical adjustments in this design.

If the stroke is to get connected, then of course both the base (ವ, etc) and mark (U-sign, etc) glyphs need to be modified to make the connection legible and pretty. Trying to simply stick a longer U-sign to the default ವ glyph obviously won't work.

[2015-10-30 09:20] etsnyman commented on #541
Apparently this glyph is found at U+266D in Unicode.
More info here:
http://www.fileformat.info/info/unicode/char/266d/index.htm

I'm afraid I can't seem to find the repository for the Droid Sans Fallback original source files.

[2015-10-30 13:38] codeman38 commented on #541
The flat sign is in Noto Sans Symbols as well. Still odd that sharp is in the regular Sans font but flat isn't, though.

[2015-10-30 13:40] etsnyman commented on #541
Surely it isn't difficult to get it into the regular Sans font?

[2015-10-30 21:18] JelleBosmaMT commented on #535
At the start of the project there was a focus group of native users in Google's employment, who looked at design proposals with variants. For Kannada and Telugu they steered me towards tight spacing, and subscripts marks close to the base glyphs in combination with large word spaces. (Unfortunately in Android spaces and punctuation are taken from the Latin Roboto font, unless a document request on

[2015-10-30 21:33] MayuraVerma commented on #535
@JelleBosmaMT Although Telugu is "Old Kannada" script. Let us not tie "Telugu-Old Kannada" with "Modern Kannada" script. If we can please solve the descender stroke in Kannada without bothering about Telugu, it will be great.

Regarding the Kerning issue, please do the needful. Even if we don't have Kannada words that uses characters, if Kannada people want to write other language words in Kannada

[2015-10-30 21:42] MayuraVerma commented on #502
@JelleBosmaMT and @lianghai

Please comment on this issue.

Kannada MN and KannadaSangamMN has lot of bugs. So, I have changed to Noto Kannada as the system default font in Mac. But I am facing this issue in Mac.

According to CDAC, Open Type Indic font for mac should be treated differently. It is not a bug in the Apple's text engine.

http://www.cdac.in/index.aspx?id=mlc_gist_font
"Open type font

[2015-10-31 07:30] JelleBosmaMT commented on #502
Mac OS has supported the OpenType rendering for some time. So they should
work without the Apple specific state tables. I have skipped a few version
of Mac OS, so I am not quite sure with version it started. First they
implemented rendering rendering with the original script tags (deva,
knda). With 10.10 the second generation is supported (dev2, knd2). I just
tried Kannada and my proofing document

[2015-10-31 08:59] JelleBosmaMT commented on #502
I replied by e-mail, not realizing this was a different issue.
It looks the Mac has trouble re-ordering once there are more than 2 character codes in-between: whether it is Kannada or Devanagari. When the renderer splits the multi-part vowels, it moves the reph after the first vowel mark, instead after the last.

[2015-10-31 12:58] MayuraVerma commented on #502
According to wiki https://en.wikipedia.org/wiki/Apple_Advanced_Typography#AAT_and_OpenType_in_OS_X

open type fonts need additional AAT tables for indic fonts in MAC OS/iOS, until apple supports natively, open type fonts for indic scripts.

I have confirm the reordered issue exists in latest El CAPITAN 10.11.1 and latest pages version 5.6(5663); ios 9.1 and pages 2.6.

So, is it reasonable request

[2015-10-31 14:41] JelleBosmaMT commented on #502
I don’t know how trustworthy this wikipedia page is.  Either Apple
supports OpenType Layout or it  doesn’t.  It seems a bad idea of epic
proportions to expect fonts that need both AAT and OTL to work properly.
For what I can tell Devanagari fonts with “deva” script tag seem to work
OK. The ITF Devanagari fonts work OK, with “deva” rendering for GSUB and
GPOS, without any AAT table in the fonts. It

[2015-10-31 17:20] MayuraVerma commented on #502
I can speculate. During iOS 8 launch, APPLE announced support of INDIAN LANGUAGE. Ever since they are replacing Kohinoor family fonts (ITF) the previous Sangam family fonts. I think recently added Telugu in iOS 9. They have not added Kannada yet.

It could be that, when they are adding Kohinoor font for indic language, they are updating the Open Type Font table for that language.

Since devanagari

[2015-10-31 17:56] lianghai commented on #502
@MayuraVerma: You're making too many wrong assumptions.

Let me clarify again (cc @JelleBosmaMT):

The issue you reported here is a mistake of reordering in Core Text (OS X and iOS's text engine)'s Kannada OpenType Layout.

Kannada MN and Kannada Sangam MN are simply not OpenType fonts. They're AAT TrueType fonts.

Core Text already supports all Indic1 and Indic2 OpenType Layout behaviors of all 9

[2015-10-31 18:00] lianghai commented on #502
Off topic:

@JelleBosmaMT:

May I know what you meant by —

— and —

— in your comments? I've noted down a couple of reordering issues in Core Text's "dev2" implementation, but what you mentioned doesn't seem to be one of mine.

[2015-10-31 18:07] lianghai commented on #535
@MayuraVerma:

No one is doing that.

[2015-10-31 19:40] MayuraVerma commented on #502
Assumptions can be wrong.

Ok

That is true. It's known fact.

Could you please provide any reference indicating the same. Either it is not supported or buggy, there is work around to it by adding AAT table to OpenType font.

 Need reference? Can u point any document on Apple developer reference? Or is it YOUR ASSUMPTION?

"Noto Sans Kannada" don't slice and dice every word that is uttered. There

[2015-10-31 20:16] JelleBosmaMT commented on #502
![untitled](https://cloud.githubusercontent.com/assets/12729011/10865647/97c000f6-8012-11e5-877a-b7b45e11ee52.png)

Kokila (Windows 7) and Noto Sans with dev2 rendering. ITF Devanagari with deva rendering. In deva rendering the i is always moved in front. In dev2 it is supposed to be moved either in front or after the right-most virama that is still present after the Basic Shaping features have be

[2015-10-31 22:42] MayuraVerma commented on #502
@JelleBosmaMT although I learnt Devanagari script in school both for Samskrita and Hindi. I have lost touch in them due to lac of practice.

Please tell me how to solve the re-ordering issue in Noto Sans Kannada in OS X and iOS. Do we have to keep fingers crossed for Apple to fix the text engine? or can we do something in the font until they wake up?

KannadaSangamMN and KannadaMN (system default

[2015-11-01 07:06] MayuraVerma commented on #535
Here is one good example of the "vu" issue. I had this article read by 5 Kannada people. This article has the word "sevuNara" third word in first line. It is not a common word, all were curious if it was "sevruNara". They didn't have problem reading other occurrences of "vu" in line 2 and 9 with common words.

I am doing my due diligence to convenience the needed change in the design.

Hopefully t

[2015-11-01 23:53] SteveMatteson commented on #489
I do not believe any work needs to be done here. Latin and Greek are harmonized so 'more Latin or more Greek' goes against the idea of a harmonized set of alphabets.

[2015-11-02 13:05] lianghai commented on #502
@MayuraVerma:
Yes, I have OCD. Thank you for the diagnosis.
No, I don't respect you at all, and I don't feel like to help you now. Don't mention me anymore.

[2015-11-02 13:19] lianghai commented on #502
@JelleBosmaMT:
Aha! Yes, this is one of the bugs I've noticed. Btw, this bug is not only in Core Text's "dev2" implementation, but also in, at least, "gjr2".
I'm planning to report a bunch of Indic2 bugs (including this one) in Core Text, after some systematic tests. It'd be great if you can also report — if haven't — what you've found out.

[2015-11-02 17:15] MayuraVerma commented on #502
@lianghai
Take care :)

The fragile line between confidence and arrogance is humility.
NORMAN E. BOWIE & MEG SCHNEIDER, Business Ethics for Dummies

[2015-11-02 19:39] JelleBosmaMT commented on #502
In theory it might be possible to add a lookup table that swaps reph and vowel marks around if in incorrect order. But I haven't done a systematic review of what happens when Mac OS encounters a Kannada OT font. So I am not sure yet. And adding a work-around in 2 fonts does not solve the real problem. Mac users of Karnataka should complain loud enough for Apple to take notice and fix what needs to

[2015-11-02 20:17] MayuraVerma commented on #502
@JelleBosmaMT
KannadaSangamMN and KannadaMN font issue was taken as high as I could take it and I know few other users who reported the issue. They may have some plans in the pipeline to fix the issue with Kohinoor font, (again speculation, since they are replacing other Indic fonts recently). While they replace the font, they might fix the Text Engine. (it could be their plan, being optimistic).

[2015-11-02 22:13] jungshik commented on #535
/cc @marekjez86

[2015-11-03 00:39] jungshik commented on #502
Note that both Chrome (Blink) and Firefox do not use CoreText to support opentype (as opposed to AAT) fonts. They use harfbuzz. Therefore, Chrome and Firefox do not suffer from whatever bug is present in opentype handling of CoreText.

Unfortunately, other applications that use CoreText for opentype handling would not be as lucky.

[2015-11-03 00:41] jungshik commented on #502
Anyway, I'm closing this bug because it's not a font bug.

[2015-11-03 00:41] #502 closed

[2015-11-03 01:50] kmansourMT commented on #539
The initial specs for the various fonts did not specify which script tags to include, nor what features each should offer. Monotype took the initiative to provide different composition paths through the default and the native scripts. Now that Harfbuzz has entered the picture, we need to define a general policy to guide the choice of script tags beyond the original specifications. For any script w

[2015-11-03 20:05] jungshik commented on #539
/cc @behdad

@kmansourMT : Can you list all the scripts for which there are 'two composition paths' (default and native) in Noto?

Then, we can compare the above list against the list of scripts that harfbuzz does script-specific renderings to come up with a list of scripts for which 'script tag' should be dropped with only 'DFLT' kept.

How does it sound? Would it work?

[2015-11-03 20:10] jungshik opened #543 "Clean up opentype tables with multiple composition paths (DFLT and script-specific) leading to a conflict with harfbuzz"
I'm filing this bug as an umbrella bug for #539 (Tifnagh) , #451 (Lepcha) and potentially others.

/cc @behdad
/cc @dougfelt , @roozbehp @marekjez86

@kmansourMT wrote in #539

@kmansourMT : Can you list all the scripts for which there are 'two composition paths' (default and native) in Noto?

Then, we can compare the above list against the list of scripts that harfbuzz does script-specific render

[2015-11-03 20:15] jungshik commented on #543
/cc @xiangyexiao

[2015-11-03 21:11] jungshik commented on #543
This issue is blocking our internal bug ( b/25021494 ) and needs an immediate attention.
@waksmonskiMT

[2015-11-03 21:23] marekjez86 commented on #539
adding Priority-Critical to make it consistent with https://github.com/googlei18n/noto-fonts/issues/543

[2015-11-03 21:24] marekjez86 commented on #451
adding Priority-Critical to make it consistent with https://github.com/googlei18n/noto-fonts/issues/543

[2015-11-03 21:52] marekjez86 opened #544 "Noto Sans Coptic missing Greek * Numeral Signs"
Copied fragment of https://github.com/googlei18n/noto-fonts/issues/312

Lint report:
Missing characters u0374 & u375 [marekjez86 : Noto Sans Coptic missing Greek * Numeral Sings].
- These characters can be readily copied from Noto Sans LGC module.

[2015-11-03 21:58] marekjez86 opened #545 "Add historic Coptic epact numbers"
Copied fragment of https://github.com/googlei18n/noto-fonts/issues/312

Claim 2: font does not contain the historic Coptic epact numbers, which have now been
included in Unicode (block 102E0)
Reply: this range of characters was not required when specification was agreed upon.

[2015-11-03 22:05] behdad commented on #543
I just looked through the fonts using my tools and I find these oddities:

in hinted/, Tibetan needs inspection:
[code]

Not sure why it has latn and DFLT.  For Adobe software?  Even then, the latn seems bogus.

For "unhinted/", report coming.

[2015-11-03 22:17] behdad commented on #543
In unhinted/:

Tibetan fonts in unhinted/ have the same issue as the ones in hinted/.

TaiTham has only DFLT (good).

Lepcha has only DFLT in GSUB, bug DFLT and lepc in GPOS.  NEEDS FIX: remove lepc.

Tifinagh has DFLT in GSUB and tfng in GPOS.  NEEDS FIX: change tfng to DFLT and TEST.

The following have DFLT as well as some other thing:
NotoSansAvestan-Regular.ttf
NotoSansBalinese-Regular.ttf
No

[2015-11-04 03:51] MayuraVerma commented on #535
One more live example of "pu" on www.prajavani.net. The word "puravaNi" can be easily mistaken to "praravaNi". It is using Noto Sans Kannada - Bold.

Issue confirmed with couple of native Kannada readers.

![screen shot 2015-11-03 at 9 45 20 pm](https://cloud.githubusercontent.com/assets/14062593/10929101/cba50470-8274-11e5-815a-9d73c8b5681c.png)

[2015-11-04 13:33] JelleBosmaMT commented on #535
By now I am convinced that the alternate u is not clear enough. But it is
still mysterious why. To me it is almost like “this b looks too much like
a d” or something like that.

There are plans to re-release the Noto Sans Kannada with more weights. But
that will take a quite a while. Upgrading the existing fonts may make more
sense, although that is not going to happen overnight either. There is
r

[2015-11-04 15:03] MayuraVerma commented on #535
OK. I don't know how else convince.

But your proposal "Taking KN-Shruti as inspiration I would get something like the variant on the right:" is a very convincing design.

![capture](https://cloud.githubusercontent.com/assets/14062593/10941764/80134554-82d2-11e5-81bc-6bd663e2ea1c.JPG)

Thanks for looking into this. If and when it get updated, it will be a big welcome.

[2015-11-04 18:11] marekjez86 opened #547 "Add U+2BD2 GROUP MARK to Symbols fonts"
Proposal for addition of U+2BD2 GROUP MARK symbol [Shirriff, L2/15-083](http://www.unicode.org/cgi-bin/GetMatchingDocs.pl?L2/15-083) was accepted by Unicode in May of 2015 with the left glyph on page 9 of [L2/15-083](http://www.unicode.org/cgi-bin/GetMatchingDocs.pl?L2/15-083)

Please add it to Symbol fonts

[2015-11-04 18:13] marekjez86 commented on #547
@roozbehp FYI

[2015-11-04 18:18] marekjez86 opened #548 "Please add U+20BF (Bitcoin currency sign) to Noto Sans and Serif fonts"
Please add Unicode Character U+20BF (Bitcoin currency sign) to any Noto Sans and Serif fonts that have dollar sign and euro sign.

@roozbehp  : FYI

[2015-11-04 18:20] roozbehp commented on #548
The character was just approved by UTC. Background information is at http://www.unicode.org/L2/L2015/15229-bitcoin-sign.pdf

[2015-11-04 18:39] #519 closed

[2015-11-04 18:42] #540 closed

[2015-11-04 22:20] jungshik commented on #451
@kamal,
As noted by behdad@ in #543, NotoSansLepcha has only DFLT in GSUB. GPOS has DFLT and lepc but their feature lists are identical.  So, just dropping 'lepc' from GPOS should work.

BTW, can you share test strings you used while developing/testing Noto Sans Lepcha?

[2015-11-04 22:40] jungshik commented on #451
My limited tests with a few strings  run identically with or without  'lepc'  in GPOS (as expected).

[2015-11-05 00:00] kmansourMT commented on #451
Here are two test files, along with their respective output. These date back to June 2014.

![sample text lepcha syllables -wtle](https://cloud.githubusercontent.com/assets/12738181/10956041/080709de-830d-11e5-8428-e4e1e3dbc5af.png)

![sample text lepcha-wtle](https://cloud.githubusercontent.com/assets/12738181/10956040/0803cb52-830d-11e5-956d-4e939506b5c2.png)

[2015-11-05 00:36] jungshik commented on #539
Afaict, Tifinagh shaping does not require any reordering. Combining mark support (GPOS; mark and mkmk) and ligature (ccmp in GSUB) are necessary. Just changing the script tag in GSUB/GPOS to DFLT is likely to work. (just leaving the font alone might work, too :-)).  Let me try to test.

[2015-11-05 01:30] jungshik commented on #539
'DFLT' definitely works better with harfbuzz than 'tfng' for GSUB ccmp entries. All the ligature glyphs are picked up with 'DFLT'.  (there are 56 of them in GSUB).

Let me check GPOS, too.

[2015-11-05 18:34] jungshik opened #550 "inconsistency in GDEF class in Tifinagh"
In GDEF of Noto Sans Tifinagh, I found an seemingly inconsistent glyph class assignment that I don't understand.

For instance, I wonder why the first one is class 1 (base) while the second one is class 3 (mark). [1]

[code]

![image](https://cloud.githubusercontent.com/assets/8578343/10977864/af8c015a-83a8-11e5-974e-529d567c2c04.png)

If I understand GDEF glyph classes correctly, both seem to hav

[2015-11-05 18:38] jungshik commented on #550
In addition, both uni2D592D5C and uni2D622D5C are included in the base character list for lookup 0 to be combined with U+030[12467], U+0323, U+0331.  So, I don't understand different glyph classes assigned to them in GDEF.

[2015-11-05 18:45] behdad commented on #550
There's no requirement that ligatures be marked as ligatures in GDEF.  They have to, only if they need mark positioning on individual components, which might not be feasible if the ligature is inherently vertical...

[2015-11-05 19:03] jungshik commented on #550
I gather that this inconsistency does not cause any user-visible/practical change. It's just a bit strange that there's an inconsistency (class 1 vs class 3). So, this issue is kinda just for book-keeping.

[2015-11-05 19:06] jungshik opened #551 "U+0309 is missing in Noto Sans Tifinagh"
Unicode 9 19.3 Tifinagh (p. 710 http://www.unicode.org/versions/Unicode8.0.0/ch19.pdf )  has the following, but U+0309 is missing from Noto Sans Tifinagh.

/cc @dougfelt (do we check for this character ? ) @roozbehp

[2015-11-05 19:29] dougfelt commented on #551
Right now noto_lint ignores characters after Unicode 6.1 by default, so
unless we add explicit requests for characters to the lint code it won't
pick it up and flag it.

On Thu, Nov 5, 2015 at 11:06 AM, jungshik <notifications@github.com> wrote:

[2015-11-05 20:06] kmansourMT commented on #551
Please keep in mind that Tifinagh, and a whole bunch of other scripts, were implemented for Unicode 6.1.

From: jungshik <notifications@github.com<mailto:notifications@github.com>>
Reply-To: googlei18n/noto-fonts <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursday, 5 November 2015 at 11:06
To: googlei18n/noto-fonts <noto-fonts@noreply.github.com<mailto:noto-fonts@noreply.github.

[2015-11-05 20:23] jungshik commented on #539
With a limited test, GPOS works identically, DFLT or tfng.  So, we're good to switch to DFLT for Tfng.

BTW, I filed #550 and #551 for separate issues.

[2015-11-05 21:55] jungshik commented on #395
What I got with the latest harfbuzz is shown below when I ran the string you gave through hb-view. It's different from your expected result, but your input is not per the Unicode encoding model. (see below).

![bug395 new](https://cloud.githubusercontent.com/assets/8578343/10982518/8d87e0b4-83c2-11e5-9f3f-3102f6e22656.png)

Some of 'syllables' in your input have U+1C36 at the very end while others

[2015-11-05 22:06] jungshik commented on #451
@kmansourMT : where are text files? All I got are two png files in your comment. If you change the file extension to '.txt' before attaching, github will make a link to the text file automatically.

Anyway, I ran a bit more extensive (still limited) test based on what the TUS says about Lepcha.

[test2.txt](https://github.com/googlei18n/noto-fonts/files/28454/test2.txt)

And below is the result by

[2015-11-05 23:09] kmansourMT commented on #451
It seems Github munged the text files. I’ve attached them again here in zip format.

From: jungshik <notifications@github.com<mailto:notifications@github.com>>
Reply-To: googlei18n/noto-fonts <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursday, 5 November 2015 at 14:06
To: googlei18n/noto-fonts <noto-fonts@noreply.github.com<mailto:noto-fonts@noreply.github.com>>
Cc: Kamal Manso

[2015-11-05 23:12] jungshik commented on #395
With the order fixed, I got the same result (with harfbuzz trunk) as the 3rd screenshot in @serkhang 's July 29 comment.

![bug395 order fixed new](https://cloud.githubusercontent.com/assets/8578343/10984508/d1012d08-83ce-11e5-8ce5-c49eca463e0f.png)

U+1C30 and U+1C33 are positioned correctly above base glyphs when they're used by themselves (2nd line in the screenshot) .
When they're followed by

[2015-11-05 23:15] jungshik commented on #451
@kmansourMT , please reply directly in github instead of replying by email. I don't get a zip file either.

[2015-11-05 23:19] jungshik commented on #551
That's for Phase II. We have to address this issue for Phase 3.

[2015-11-05 23:24] drinkypoo opened #552 "Android settings tofu"
Whatever character Android is using for the hyphen in Wi-Fi in the settings menu is a rectangle with noto sans. I was hoping this font would solve this problem, which occurs with many fonts.

[2015-11-06 17:30] serkhang commented on #395
The collation order ACCEPTED by the Unicode Consortium in 2008 is

1. consonant, letter a
2. nukta
3. medial-ra
4. medial-ya
5. dependent vowel
6. syllable modifier: U+1C36
7. final consonant sign

With due reason! U+1C36/RAN is inseparably linked with the vowel signs influencing length and timbre of their pronunciation, so much so, that VOWEL SIGN O + RAN has been merged to a single character, i.

[2015-11-06 17:31] serkhang commented on #395
The collation order ACCEPTED by the Unicode Consortium in 2008 is

1. consonant, letter a
2. nukta
3. medial-ra
4. medial-ya
5. dependent vowel
6. syllable modifier: U+1C36
7. final consonant sign

With due reason! U+1C36/RAN is inseparably linked with the vowel signs influencing length and timbre of their pronunciation, so much so, that VOWEL SIGN O + RAN has been merged to a single character, i.

[2015-11-06 18:14] TrueTyper commented on #418
Hello Jungshik. The image you show of the phase 3 delivery of the Noto Sans does not match what I see in the Glyphs source we delivered, nor the sample binaries we exported and tested.
![screen shot 2015-11-06 at 11 15 11 am](https://cloud.githubusercontent.com/assets/8724881/11004644/1325cf94-847f-11e5-9c05-f3b227b0225a.png)

As you can see, everything is working with the exception of u+0268, whi

[2015-11-06 19:49] jungshik commented on #418
Thanks, @TrueTyper, for the update. I built phase 3 OT using Glyphs (instead of our pipeline which was not ready when I did it in September).

I've just talked to @behdad and it's very likely that I did not use GlyphsData.xml when building the font. Let me try it again. Thanks.

[2015-11-06 19:53] jungshik commented on #552
What's the UI language you use? And, could you tell us about Android OS version and a device you found this issue on (e.g. Nexus 5, Samsung Galaxy ..., etc) as well?
And, a screenshot would be helpful, too.

[2015-11-06 20:06] jungshik commented on #395
Thank you, @serkhang. Indeed, it's ```C(·)(R)(Y)(V)(^)(F)```.  I was wondering about that, too because the text around the table 13-4 implies that U+1C36 (RAN) should appear right after a dependent vowel
(although there's an ambiguity and I took the table as a definitive source).

Have you filed a bug report against the Unicode?

@roozbehp : what's the best course of action here? File a feedback r

[2015-11-06 20:08] jungshik commented on #395
Yes, that's what I'm doing in bug 451.  @behdad is the lead developer of harfbuzz and is deeply involved in USE.

[2015-11-06 20:11] jungshik commented on #451
The syllable structure is C(·)(R)(Y)(V)(^)(F) according to http://www.unicode.org/L2/L2005/05158-n2947-lepcha.pdf

I can build a comprehensive set of syllables based on that document.

[2015-11-06 21:09] TrueTyper commented on #433
The phase 3 of Noto Sans (NotoSansUI-RomanMM.glyphs) has this working correctly. The next release of the serif should include the same ccmp feature. I did fix this in source for the Arimo and Tinos family TTFs.

The specification for Cousine was to match the OpenType functionality of Courier New, which does not have Latin mark positioning. That issue should be a new feature, rather than a bug.

[2015-11-06 21:12] TrueTyper commented on #440
I have added mark positioning for beta, theta, lambda and chi in the sources of the Noto Sans, Arimo and Tinos families.

The Noto Serif anchor point work in Glyphs will proceed upon completion of the new character set and weight extensions.

[2015-11-06 22:19] kmansourMT commented on #236
1. uniA9B8 (vowel u),  uniA9BF (medial Ra)
Whenever a consonant is followed by a medial Ra and a vowel, the Ra must precede the vowel.
The previous version of the font allowed the sequence of ‘vowel u’ followed by ‘medial Ra’, as in Ka (A98F) + vowel u + medial Ra:

![ka u medra](https://cloud.githubusercontent.com/assets/12738181/11010108/43483d6c-8491-11e5-900c-da8c0e91feec.png)

In the new vers

[2015-11-06 22:21] kmansourMT commented on #236
2. Under the Javanese-script tag, the order of sequences of consonant + e/ai-vowel should not be reversed because a Javanese-capable shaper should have already carried out this step. The following demonstrates the incorrect behavior; the two glyphs on the left show Ssa+vowel_e as an input sequence, while the resulting output is shown after the vertical bar:

![ssa vwl_e](https://cloud.githubuserco

[2015-11-06 22:23] kmansourMT commented on #236
Sub-issue-3:  In a sequence of marks, the vowel Ae (A9BC) should precede secondary signs such as the anusvara (A981); however, the reverse sequence is also accepted by the font, as is evident in the following:

![ae-dot-bad](https://cloud.githubusercontent.com/assets/12738181/11010198/e0daead4-8491-11e5-8615-02b672413702.png)

[2015-11-06 22:25] kmansourMT commented on #236
Sub-issue 4:  Lookup 6 includes the sequence of uniA994 and uniA9B8 (u vowel)  as a preceding context for uniA9B8  (u vowel). A sequence of two U+A9B8 (u vowel) is not valid according to the Unicode standard.

The code has now been corrected by removing uniA9B8 (u vowel) from the preceding context.

[2015-11-06 22:25] kmansourMT commented on #236
Sub-issue 5: Lookup 11 defines ligatures for the pasangan forms of uniA994, uniA997, uniA99B, uniA99D, uniA9AE followed by uniA9B8  (u vowel); however, Lookup 6 already maps uniA9B8 to a below-pasangan form when following these pasangan forms, so the ligature rule can't match uniA9B8.

The code has now been corrected by referring to the pasangan variant of uniA9B8 (u vowel)

[2015-11-06 22:56] marekjez86 commented on #236
@jungshik is there a way to ask the original submitter to verify this (assuming we could give them/him/her the font file)? ... or is it up to us to verify it?

[2015-11-07 08:34] serkhang commented on #395
Nothing is at it looks at first sight …
… and I should test before commenting. :)

It looks like there's no reason to remove the 'lepc' tag from the GPOS script list of Noto Sans Lepcha. I wrote you a page with a few Róng/Lepcha rhymes for demonstration at

http://www.darjeeling-unlimited.com/darjulyang.html

The first version is in my pre-release 'fail-safe' font which renders correctly irrespect

[2015-11-07 09:04] serkhang commented on #395
@jungshik: The errors in the published Unicode Specs were reported by Lorna Priest (SIL) in 2011.

http://www.unicode.org/L2/L2011/11305-lepcha.pdf

She seems somewhat inclined to accept the reversed collating order - implemetation is a bit less complicated as U+1C36/RAN does not need re-positioning if added last. Accordingly, the Lepcha font 'Mingzat' developed at SIL works that way.

I do not kn

[2015-11-07 09:46] jungshik commented on #451
I generated all the possible "syllables" and compared their shaping with and without lepc in GPOS. There's no difference in all the cases.

[syllable.list.txt](https://github.com/googlei18n/noto-fonts/files/29348/syllable.list.txt)

In addition to #395, other issues were found. For instance,  U+1C29 collides with final consonants and ran. See the screenshot below.

![image](https://cloud.githubuse

[2015-11-08 12:52] serkhang commented on #451
U+1C34/LEPCHA CONSONANT SIGN NYIN-DO only occurs with inherent a (no vowel sign)

U+1C35/LEPCHA CONSONANT SIGN KANG only occurs with vowel signs

U+1C36/LEPCHA SIGN RAN only occurs with inherent (no vowel sign) or U+1C27/LEPCHA VOWEL SIGN I

U+1C37/LEPCHA SIGN NUKTA only occurs with U+1C001C25, U+11C031C25, U+1C1D1C25, U+1C001C251C24,  U+11C031C251C24 or U+1C1D1C251C24

[2015-11-09 17:54] TrueTyper commented on #47
Fixed NotoSansUI-RomanMM.glyphs in source.

[2015-11-09 18:28] TrueTyper commented on #507
I fear with some of these bugs that our latest data is not being tested. Noto Sans phase 3 delivery on June 23rd had the following, which looks correct to me:
![screen shot 2015-11-09 at 12 26 24 pm](https://cloud.githubusercontent.com/assets/8724881/11042546/5c9d7c98-86dd-11e5-8809-f35d67e2a511.png)

[2015-11-09 18:36] SteveMatteson commented on #507
I assigned Jim to double check and look at this this morning because I thought he was done with the other edits mentioned a minute ago.

He's probably not the best to be working on these bugs because he's not good at telling me his status :-/ - but I have to keep feeding him work so it's a dilemma.

On Nov 9, 2015, at 11:28 AM, Tom Rickner <notifications@github.com<mailto:notifications@github.com>

[2015-11-09 20:43] moyogo commented on #507
@TrueTyper
Based on the samples provided, this is what gᵷᵹꝿɽⱹtʇδƍ should look like:
![screen shot 2015-11-09 at 20 37 01](https://cloud.githubusercontent.com/assets/1923747/11045828/bfadadd2-8721-11e5-8ac7-55fee4872662.png)
Notice: gᵷᵹꝿ.

When turned, ascenders become descenders, descenders become ascenders, baseline becomes x-height, x-height becomes baseline.
Additionally ᵹ and ꝿ should not diff

[2015-11-09 23:13] dougfelt opened #554 "Some collisions in Javanese rendering"
There are a few cases in NotoSansJavanese 1.03 where characters collide.  See below:

![jv-java_ex1_anno](https://cloud.githubusercontent.com/assets/9939212/11049549/ee09df08-86f3-11e5-9b41-fa8e6ad7739d.png)

This is \ua9c5\ua9c9\ua99f\ua9c0\ua9a2\ua9bf\ua9c9\ua9c5

![jv-java_ex2_anno](https://cloud.githubusercontent.com/assets/9939212/11049585/26dccf2a-86f4-11e5-9888-4177278bef30.png)

This is \u

[2015-11-09 23:24] #149 closed

[2015-11-09 23:28] #161 closed

[2015-11-09 23:38] #162 closed

[2015-11-09 23:45] #178 closed

[2015-11-09 23:52] dougfelt commented on #236
@NorbertLindenberg looks like the original submitter.  Not sure if he gets github email.

[2015-11-10 01:19] dougfelt commented on #236
I created some samples, one for each issue, and rendered them with hb-view.  hb-view does script analysis, and I did not try running any default rules.  The rendered samples seem ok to me.

issue 1:
![javanese_ka_suku_cakra_hbv](https://cloud.githubusercontent.com/assets/9939212/11051430/1ff7b98a-8704-11e5-975d-ded279b68f5d.png)
issue 2:
![javanese_sa-mahaprana_taling_hbv](https://cloud.githubuser

[2015-11-10 01:20] dougfelt commented on #236
I'm going to close this.  Perhaps Norbert will reopen it if he finds issues.

[2015-11-10 10:40] copyninja opened #555 "Please provide a public notice on Droid fonts being superseded by Noto"
Hi,

I'm the maintainer of Droid fonts in Debian, and during my latest update I noticed that upstream no longer ships Droid fonts other than Fallback variants. So I mailed @davelab6 on the status and he said Droid is being superseded by Noto fonts and there should be a public notice about it. I could not find any public notice on this so as per @davelab6 suggestion here [1] I'm filing this bug.

P

[2015-11-10 17:46] sebastic opened #556 "Unsharp rendering at font size 8 to 10"
With the removal of the Droid font in Debian, the JOSM package will switch to the Noto font.

The JOSM developers remarked in [JOSM issue #12085](https://josm.openstreetmap.de/ticket/12085) that the rendering at small font sizes is not sharp as demonstrated in this GIF:
![noto](https://cloud.githubusercontent.com/assets/4605306/11070273/14332d5a-87db-11e5-8d22-a9901fcc4602.gif)

Is it possible to

[2015-11-10 17:55] dougfelt commented on #556
@Behdad, any suggestions?

[2015-11-10 21:59] jungshik commented on #395
Yes, that's what I thought, too. With the current Unicode syllable structure (RAN at the very end), shaping  logic is simpler.

Anyway, I'm really curious how the UTC responded to the Lepcha syllable structure discrepancy between the original proposal and the published standard.

[2015-11-10 22:10] jungshik commented on #451
I used the above two rules. If my list of 'syllables' have instances violating the above rules, it's a bug in my generator.

The current version of Unicode (8.0) has the following:

That is, in addition to the inherent vowel (no vowel sign) and U+1C27 (vowel sign I), the TUS 8.0 says that it can also occur with U+1C26 (vowel sign AA).  I did notice that TUS 8.0 differs from the original proposal y

[2015-11-10 22:28] jungshik commented on #451
Can U+1C37 (NUKTA) be used between U+1C0[03] / U+1C1D and U+1C24 (without U+1C25)?
e.g., is `U+1C00 U+1C37 U+1C24` be valid?  @serkhang

Thank you,

[2015-11-10 22:54] jungshik commented on #451
@serkhang
Another question. u+1C4[D-F]  (TTA, TTHA, DDA) cannot be used with U+1C25 (subjoined RA) and U+1C24 (subjoined YA), can they?

[2015-11-11 00:00] roozbehp opened #557 "19 Japanese TV symbols to be added to Noto Symbols"
Unicode just accepted the proposal at http://www.unicode.org/L2/L2015/15238-n4671.pdf and fast-tracked them for Unicode 9. These are symbols that would be required for all Japanese TVs in a short while.

The codepoints and glyphs are at page 73-80 of http://www.unicode.org/L2/L2015/15303-n4702-cd2-5th10646.pdf. There are 18 characters at U+1F19B..U+1F1AC and one at U+1F23B.

Please add them to Not

[2015-11-11 00:03] marekjez86 commented on #557
@BrianKraimerMT , this is FYI - see comment "Please add them to Noto Symbols."

[2015-11-11 00:27] jungshik commented on #395
Well, I downloaded your fonts (both Noto.ttf and Noto_lepc.ttf). It appears that you made tons of changes in GPOS for DFLT (in addition to dropping 'lepc' script).

What I did (not yet merged) is just remove 'lepc' from GPOS. GSUB is already 'DFLT'.  And, your sample is rendered identically to the current version ( one with lepc in GPOS).

[2015-11-11 00:41] jungshik commented on #451
1. Can U+1C37 (NUKTA) be used between U+1C0[03] / U+1C1D and U+1C24 (without U+1C25)?
e.g., is U+1C00 U+1C37 U+1C24 valid? @serkhang

2. U+1C4[D-F] (TTA, TTHA, DDA) cannot be used with U+1C25 (subjoined RA) and U+1C24 (subjoined YA), can they?

Assuming the answers to 1 and 2 are "No" (invalid)  and "No" (cannot), I regenerated the syllable list (I also fixed a serious bug in my code; I was compar

[2015-11-11 10:28] serkhang commented on #395
@jungshik: I really ONLY removed the 'lepc' tag from GPOS. Other changes you may have encountered must be due to the conversion to .woff and back to .ttf or .otf. I used

https://andrewsun.com/projects/woffjs/woffer-woff-font-converter/

with the font file time-stamped September 28, 2015.

[2015-11-11 10:50] serkhang commented on #451
@jungshik:
Initials (base characters) may have U+1C36 OR U+1C26, but never in combination. That's another canard of the PUBLISHED specs (as opposed to the APPROVED specs).

U+1C37/NUKTA only appears in the mentioned combinations. U+1C001C371C24 is NOT valid.

U+1C4D, U+1C4E and U+1C4F are never combined with SUBJOINED YA or SUBJOINED RA.

The attached file may be of help to you (though it's rather

[2015-11-11 18:03] #451 closed

[2015-11-11 18:03] #539 closed

[2015-11-11 18:14] jungshik commented on #451
Re: RAN (U+1C36) and U+1C26 (LEPCHA VOWEL SIGN AA)

The proposal ( http://www.unicode.org/L2/L2005/05158-n2947-lepcha.pdf ) has this

TUS 8.0 has

It's not clear what the proposal wants to say. Is it listing three cases, 1. the inherent vowel ( 'a') 2. '-a' (a typo of '-aa' ) 3. '-i'?   Did it mean two cases, 1. the inherent vowel ( i.e. '-a') 2. '-i'

It appears that it meant the latter ( the inh

[2015-11-11 18:25] jungshik commented on #451
BTW, thank you for answering my questions. What I assumed in https://github.com/googlei18n/noto-fonts/issues/451#issuecomment-155614260 was fortunately correct.

As for U+1C36 (RAN) and U+1C26 (vowel 'aa'), I've just updated the list to exclude those combinations. It has 1,378 fewer entries. The new file has 13,848 entries.

[syllables.list_with_cp.unicode.txt](https://github.com/googlei18n/noto-f

[2015-11-11 19:11] graphicore opened #559 "Is there a mapping of "Unicodes supported" to "Noto font file"?"
Or the other way around.

It could be useful to combine this information with [CSS/@font-face/unicode-range](https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/unicode-range)

[2015-11-11 20:05] xiangyexiao commented on #399
I'll leave this issue open for discussion in Phase III.

[2015-11-11 20:44] serkhang commented on #451
Absence of the combination U+1C261C36 is maintained by

Mainwaring 1876, Diringer 1951, Haarh 1959, Chakraborty 1978, Kai 2003, Plaisier 2006, Tamsangmoo 2010 (see attachment).

Though Everson has a bit an unfortunate wording, I'd expect him to say '-aa' had he meant U+1C26.
![tamsangmoo_2010](https://cloud.githubusercontent.com/assets/12939461/11102523/538d8e0e-88bd-11e5-9cf4-88bd457c0cdd.png)

[2015-11-11 22:02] jungshik commented on #451
Thanks for the file. Does it list all the possible 'syllables' in Lepcha *in all languages written in Lepcha across regions* ?

I assumed that two medials (U+1C25 (RA) and U+1C24 (YA)) and their combination (rya) can come after any consonants (when nukta is not present). If your PDF is the full list, it appears that only a subset of initial consonants can combine with them.

1. Combine with RA (U+

[2015-11-11 22:05] jungshik commented on #451
Thank you for the reply. This has to be reported to the UTC.  Are you going to?

[2015-11-11 22:17] jungshik commented on #395
It's beyond me how woff compression can change GPOS table. Anyway, I believe you :-) @serkhang
BTW, you can us Tools/pyftsubset in fonttools (behdad/fonttools ) for woff-compression.

@kmansourMT,  can you fix this issue with DFLT script?  Thanks

[2015-11-11 22:29] xiangyexiao commented on #377
duplicated with https://github.com/googlei18n/noto-fonts/issues/417

[2015-11-11 22:29] #377 closed

[2015-11-11 22:38] roozbehp opened #560 "Noto Symbols needs variation sequence slashed zero form of empty set"
UTC partially accepted the proposal http://www.unicode.org/L2/L2015/15268-slashed-zero.pdf, and fast-tracked it for Unicode 9. The following variation sequence was added:

<U+2205, U+FE00>

The variant form (for a slash-zero style empty set) needs to be added to Noto Sans Symbols.

[2015-11-11 22:42] roozbehp opened #561 "Variant zero should be added to Noto Sans and Noto Serif"
Unicode partially accepted the proposal at http://www.unicode.org/L2/L2015/15268-slashed-zero.pdf and added a variation sequence for a slashed form of the digit 0 with the slash not going outside the oval (with a glyph as seen on page 10 of the proposal). This was fast-tracked for Unicode 9.

The form should be drawn for Noto Sans and Noto Symbols (LGC), triggered by the sequence "U+0030, U+FE00".

[2015-11-11 23:18] xiangyexiao commented on #417
Glyphs in Noto for these symbols do look thicker than other fonts. For example, glyphs for u+2984 and u+2989 in the attached images are the thickest among all fonts on Mac.

<img width="141" alt="screen shot 2015-11-11 at 3 15 49 pm" src="https://cloud.githubusercontent.com/assets/12721521/11105970/488648f6-8887-11e5-90e9-2e596f71f65e.png">
<img width="148" alt="screen shot 2015-11-11 at 3 16 18 p

[2015-11-11 23:19] xiangyexiao commented on #417
3rd of the two images are Noto's glyphs

[2015-11-12 00:10] jungshik commented on #451
The same set of *syllables* as in @serkhang's PDF. I applied the constraints outlined in https://github.com/googlei18n/noto-fonts/issues/451#issuecomment-155923554

[syllables.list_with_cp.unicode.reduced.txt](https://github.com/googlei18n/noto-fonts/files/32447/syllables.list_with_cp.unicode.reduced.txt)

There are total 7,560 of them ( 84 sets of 90)

[2015-11-12 00:21] jungshik commented on #539
@dougfelt : FYI,

The test file used to generate the screenshots in https://github.com/googlei18n/noto-fonts/issues/539#issuecomment-153925006

[test.gsub.nocomment.txt](https://github.com/googlei18n/noto-fonts/files/32453/test.gsub.nocomment.txt)

The same list of character sequences as the above but with Unicode codepoints listed :+1:
[test.gsub.nocomment.txt](https://github.com/googlei18n/noto-

[2015-11-12 01:43] dougfelt opened #562 "test issue"
this is a test

[2015-11-12 01:43] df-test commented on #562
left a comment

[2015-11-12 01:50] dougfelt commented on #562
[lzh-Hant_text.txt](https://github.com/googlei18n/noto-fonts/files/32489/lzh-Hant_text.txt)

[2015-11-12 01:51] roozbehp opened #563 "Noto Myanmar needs to support dotted forms"
Unicode accepted variation sequences for dotted style of some Myanmar letters for Unicode 9. The proposal is at http://www.unicode.org/L2/L2015/15320-khamti-vs.pdf. (Note that the shape of U+AA7A at the end of the table in page 3 is incorrect: it should have a dot, similar to U+101C.)

This needs to be supported in two ways:
1. The new variation sequences need to be supported, irrespective of the

[2015-11-12 05:25] serkhang commented on #451
Lazong_Rong.pdf contains the full set of syllables according to the traditional Lazóng syllabaries of the Lepcha in use across the whole area of settlement of the community (Sikkim, West Bengal, Nepal, Bhutan). For more details, see

http://www.openbookpublishers.com/htmlreader/978-1-78374-062-8/3.Plaisier.xhtml#_idTextAnchor032

http://aachulay.blogspot.ch/2010/09/secret-and-concealed-lazaong-boo

[2015-11-12 08:08] davelab6 commented on #559
To generate such data, I would run

    cd ~/src/github.com/googlei18n/noto-fonts ;
    for font in `find . -iname *ttf`; do
    ~/src/github.com/google/fonts/tools/encodings/namelist.py $font | cut -d\  -f1 > $font-unicodes.txt;
    done;

and then use the \*-unicodes.txt files.

[2015-11-12 09:04] behdad commented on #556
Is it the hinted noto?  This is a problem best answered on the freetype-devel mailing list, and only after inspecting the actual fonts used and the FreeType settings involved.

[2015-11-12 17:19] TrueTyper commented on #47
Fixed NotoSerifMM-Regular.glyphs in source.

[2015-11-12 18:45] dougfelt commented on #559
you can also use nototools.coverage.py in googlei18n/nototools:

[code]

[2015-11-12 18:57] jungshik commented on #543
Summarized below are open type tables in NotoSans{Script} fonts  harfbuzz routes to USE.

1. Balinese
  - GPOS: Have both DFLT and bali. Their feature lists are different.
  - GSUB:  DFLT uses two more look-ups (3, 4) than bali. Extra looksup in DFLT are likely to be for re-ordering and other 'pre-processing'.
  - 'bali' is not likely to be USE-compatible so that we'd better remove bali.
  - Needs

[2015-11-12 19:03] jungshik commented on #543
Out of 16 scripts harfbuzz routes to USE, 16 of them have identical GSUB and GPOS tables (feature lists for two scripts are different, but the corresponding pair of features in the two scripts refer to the same set of lookups).

The exceptions are MeeteiMayek, Kaithi and Balinese.

[2015-11-12 19:07] jungshik commented on #543
@behdad wrote earlier, "For the rest, only DFLT should remain. If DFLT and non-DFLT were equivalent, no retesting is required.".   So, I guess we can go ahead with 16 of them listed above  **unless** we hear from @kmansourMT that some of them **are USE-compatible.**.

[2015-11-12 20:47] sebastic commented on #556
Yes, it's hinted noto.

![josm-droid-noto](https://cloud.githubusercontent.com/assets/4605306/11130218/20e0c6b6-8984-11e5-8f43-b8b6351c2e05.png)
The above example is of JOSM 8969 using the embedded copy of the Droid font from their SVN repo ([DroidSans.ttf](https://josm.openstreetmap.de/browser/josm/trunk/data/fonts/DroidSans.ttf)) on left, and the Noto font from the fonts-noto (2015-05-11+cjk-1)

[2015-11-12 22:17] kmansourMT commented on #543
When the specifications for these scripts were put together, USE was not in the picture. For future implementation, it would be good to set down clearly what is required for compatibility with USE.

From: jungshik <notifications@github.com<mailto:notifications@github.com>>
Reply-To: googlei18n/noto-fonts <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursday, 12 November 2015 at 11

[2015-11-12 23:14] jungshik commented on #543
[test.txt](https://github.com/googlei18n/noto-fonts/files/33440/test.txt)

[2015-11-13 02:57] bastik commented on #556
You can see the difference by calling the following commands:
[code]
The font file is from the Noto-hinted.zip which is for download on the Noto website. I can provide screenshots, and system details if needed.

[2015-11-13 05:00] behdad commented on #556
Then this definitely needs to be reported to freetype-devel and followed up.

[2015-11-13 15:05] bastik commented on #556
In `ftview`, you can use the shortcut 'h' to toggle hinting. I noticed that for Noto, it makes no difference, if hinting is on or off, both renderings look the same. If you turn hinting off for Droid though, it gets blurry, similar to how it looks for Noto in either setting.

In other words, it seems as if the hinting is completely disabled for the FreeType rendering of Noto.

Who is this directed

[2015-11-13 18:25] sebastic commented on #556
On 13-11-15 16:05, bastik wrote:

The unhinted NotoSans-Regular.ttf is about a sharp as the DroidSans.ttf
included in JOSM.

Either of us I guess, so I started a thread on freetype-devel:

http://lists.nongnu.org/archive/html/freetype-devel/2015-11/msg00096.html

[2015-11-16 02:23] lemzwerg opened #564 "Khmer: some glyph names are missing"
In all Noto Khmer fonts, the glyphs of the 'Khmer Symbols' block (U+19E0 - U+19FF) and the 'numeric symbols for divination lore' (U+17F0 - U+17F9) in the 'Khmer' block lack glyph names.

Basically, since TTFs are accessed via cmap tables, this isn't a real bug. However, all other glyphs *are* named, so it is at least an inconsistency.  Additionally, since the glyph names are of the form 'uniXXXX',

[2015-11-16 22:19] TrueTyper commented on #507
NotoSansUI-RomanMM.glyphs and NotoSerif-RomanMM.glyphs fixed in source.

[2015-11-17 00:13] jungshik commented on #543
#149, #161, #162, #178, #236, #297, #313 were addressed in the latest delivery for Javanese and tests done by @dougfelt must have used non-DFLT tables. That means that non-DFLT tables work for those issues. Obviously, it does not say anything about DFLT tables. As long as non-DFLT path (harfbuzz routes Javanese to) works,  I guess that having DFLT (that may not work and is NOT used by harfbuzz) sh

[2015-11-17 00:17] behdad commented on #543
Correct.

[2015-11-17 00:54] jungshik commented on #543
Thanks, @behdad.

It turned out that MeeteiMayek's DFLT and non-DFLT (default lang and "MNI ") are equivalent, too. So, I'll drop non-DFLT from MeeteiMayek, too.

[2015-11-17 16:28] deepakjois opened #567 "Possible kerning issue with Noto Nastaliq Urdu"
The DDAL and the PEH seem to be too close together here. As seen on OS X El Capitan.

<img width="76" alt="screenshot 2015-11-17 17 29 00" src="https://cloud.githubusercontent.com/assets/5342/11217346/d61ad87e-8d75-11e5-88b2-4d03ffc08e65.png">

[2015-11-17 16:41] deepakjois opened #568 "Noto Nastaliq does not have a glyph for ARABIC LETTER HIGH HAMZA (U+0674)"
Geeza Pro on OS X has it, and so does Jameel Noori Nastaleeq.

[2015-11-17 18:22] jungshik opened #569 "Kaithi font does not cover ZWJ and ZWNJ"
Below is the excerpt from the Unicode standard section 15.2.  ZWJ and ZWNJ can be used to explicitly specify which form to use for a consonant cluster, but the current Kaithi font does not cover ZWJ/ZWNJ.

@roozbehp
@dougfelt : do we check for ZWJ/ZWNJ in Kaithi ?

---

Consonant conjuncts in Kaithi are represented with a virama between the two consonants
in the conjunct. For example, the ordinary

[2015-11-17 18:27] dougfelt commented on #569
On Tue, Nov 17, 2015 at 10:22 AM, jungshik <notifications@github.com> wrote:

​No, we don't.​

[2015-11-17 18:28] jungshik opened #570 "Kaithi has ZWNBSP (U+FEFF) but not ZWSP (U+200B) in the cmap"
Kaithi's cmap has U+FEFF (ZWNBSP) but does not have ZWSP (U+200B).

@dougfelt , @roozbehp  : can you think of a reason for the above?

@kmansourMT : is it intentional?

[2015-11-17 18:56] roozbehp commented on #568
Why is it needed for Noto Nastaliq? It's only used in Kazakh etc which are not written in Nastaliq, as far as I know.

[2015-11-17 19:48] kmansourMT commented on #570
Please state why ZWNBSP and ZWSP might be required.

[2015-11-17 22:49] jungshik commented on #543
@kmansourMT gave me Kaithi strings (that involves rather complex conjuncts and vowel reordering). As far as I can tell, DFLT works much better with the latest harfbuzz (that routes Kaithi to USE if non-DFLT/kaithi-specific tables are present)  than with non-DFLT tables.

Test file:
[kaithi.mti.txt](https://github.com/googlei18n/noto-fonts/files/37297/kaithi.mti.txt)

* Harfbuzz + the current versi

[2015-11-18 00:49] kmansourMT commented on #543
The second rendering (DFLT) is much better.

[2015-11-18 03:22] deepakjois commented on #568
Here are some notes about _izāfat_ in Urdu (which is written in Nastaliq):
http://rishida.net/scripts/urdu/#izafat

Here is the word used in the example above typeset in three different fonts:

<img width="395" alt="screenshot 2015-11-18 08 45 21" src="https://cloud.githubusercontent.com/assets/5342/11231683/3034f262-8dd1-11e5-8586-ba6887736133.png">

@khaledhosny, it seems that Amiri handles this

[2015-11-18 04:37] deepakjois commented on #568
Ok. I was mistaken, ARABIC LETTER HIGH HAMZA (U+0674) is different from ARABIC HAMZA ABOVE (U+0654).

I did not realise that my OS X Urdu Keyboard does support the character ARABIC LETTER HEH GOAL WITH HAMZA ABOVE (U+06C2) which I could have used in this situation. Moreover, the only available key for a standalone Hamza on the OS X Urdu Keyboard (Shift-7) outputs ARABIC LETTER HIGH HAMZA (U+0674)

[2015-11-18 07:24] deepakjois commented on #568
I did some more investigation. I am sorry about the confusion above. Please ignore all my comments about ARABIC LETTER HIGH HAMZA (U+0674). I am new to Urdu and Arabic typing in general, and all this Hamza stuff can be confusing.

The real problem is that Noto Nastaliq seems to render this text incorrectly: قترۂاب

Please feel free to change the text of this bug report, or file a separate bug for

[2015-11-18 07:36] deepakjois commented on #568
This is a much better illustration of the problem. It seems Amiri handles it nicely and most consistently (although it isn’t strictly a Nastaliq font). Maybe @khaledhosny can comment on this.

<img width="705" alt="screenshot 2015-11-18 13 03 03" src="https://cloud.githubusercontent.com/assets/5342/11235137/c54b33b6-8df4-11e5-9d47-5e19c15ee508.png">

[2015-11-18 18:13] jungshik commented on #570
@dougfelt : Yes, that's my question.

[2015-11-18 19:01] xiangyexiao commented on #399
still want to know whether the handwriting issue mentioned in the past is valid or not, and something we can do in Phase III.

[2015-11-18 19:02] jungshik opened #572 "Balinese shaping issues"
Spun off from #543

@kmansourMT gave us some test strings he used. I shaped them with harfbuzz and used two versions of Noto Sans Balinese : the current version with both DFLT and non-DFTL OT tables) and my local version with ONLY DFLT.

The latter looks better, but both have shaping issues.  I'll add more details shortly.

We need to sort this out.

/cc @roozbehp @behdad

[2015-11-18 19:04] jungshik commented on #543
Thanks, @kmansourMT for your response regarding Kaithi.

Now, it's down to Balinese. I've just filed #572 because Balinese has rather complex issues to deal with.

[2015-11-18 20:35] jungshik commented on #572
I made a test file based on the VOLT screenshots sent by  @kmansourMT.

[test.uni.txt](https://github.com/googlei18n/noto-fonts/files/38306/test.uni.txt) : non-ASCII Unicode characters are \u-escaped

[test.txt](https://github.com/googlei18n/noto-fonts/files/38307/test.txt) : UTF-8

* The current font with both DFLT and non-DFLT
![test old](https://cloud.githubusercontent.com/assets/8578343/112534

[2015-11-18 20:35] SteveMatteson commented on #417
This is not a bug. The symbols are designed to go with Noto Sans regular. The comparison fonts are serif and therefor high contrast. Math symbols designed to go with serif fonts are close to the hairline weight and therefore much lighter than sans.

[2015-11-18 20:41] jungshik commented on #572
Both versions of the font have issues but often they have different issues.

@kmansourMT : The first syllable in the first line has U+1B13 U+1B00 U+1B38.  Is it correct to have U+1B00 between U+1B13 (consonant) and U+1B38 (dependent vowel)?  I couldn't find any information as to where in a syllable U+1B00 should go. If it's like signs in other Brahmi-derived scripts, it should go after a vowel, sh

[2015-11-18 22:02] jungshik commented on #572
1. Line 1 : balinese-volt-proofing.PNG

* Old:
 - 1st : U+1B13 U+1B00 U+1B38
    : USE considers it invalid to have U+1B38 (a vowel sign) after U+1B00

* New:

 - 4th: U+1B40 (2-part vowel sign) : the left part is not reordered wrt
   a consonant (U+1B19)
 - 5th: U+1B1A, U+1B3F : U+1B3F (left vowel sign) is not reordered wrt
   a consonant (U+1B1A)

 Note that reordering is done with 'dist' in GPO

[2015-11-18 22:38] jungshik commented on #572
@kmansourMT : I have two questions in the above comment:

1. Is "U+1B13 U+1B00 U+1B38" in Line 1 a valid sequence?  Can U+1B00 come between a consonant and a dependent vowel?  USE seems to consider it illegal. ( balinese-volt-proofing.PNG )

2. Line 4: Can two dependent vowels come in a row? ( Bal_VOLT_reorder-final1.PNG )

[2015-11-18 23:34] jungshik commented on #572
Below is the screenshot of IE 11 on Windows 10. The current version works better, but is not perfect.
The two questions I asked in the previous comment are still applicable.

![image](https://cloud.githubusercontent.com/assets/8578343/11257889/a9c9bc60-8e09-11e5-9617-2e45115ce46d.png)

[2015-11-19 05:13] khaledhosny commented on #568
I’m afraid I don’t really get what you want here and what is the expected output. the Amiri output you are citing as correct certainly does not look right.

[2015-11-19 06:49] deepakjois commented on #568
Ok. For some reason I thought the output by Amiri and by Jameel Noori Nastaliq in the first case (using U+06C2) is the correct one.

Apologies again for creating a lot of confusion. I should be doing a bit more research before I file bugs.

[2015-11-19 16:35] TrueTyper commented on #512
This has been fixed in source for NotoSerif-RomanMM.glyphs.

[2015-11-19 16:36] TrueTyper commented on #533
This has been fixed in source for NotoSerif-RomanMM.glyphs.

[2015-11-19 18:17] jungshik commented on #572
This is Edge on Windows 10 rendering http://jungshik.github.io/balinese/test.html.
Interestingly, Edge's rendering/shaping is different from that of IE 11 on Windows 10. Edge is closer to harfbuzz (and browsers using harfbuzz - Chrome and Firefox) but is still different from harfbuzz.

![screen shot 2015-11-19 at 10 13 38 am](https://cloud.githubusercontent.com/assets/8578343/11279626/83a737ea-8ea

[2015-11-19 18:21] roozbehp opened #573 "Syriac fonts need "stch" feature for Syriac Abbreviation Mark"
Syriac fonts need an "stch" feature for U+070F SYRIAC ABBREVIATION MARK to work correctly. This is need for all three Syriac styles.

[2015-11-19 18:24] jungshik commented on #572
/cc @tiroj

[2015-11-19 20:11] jungshik commented on #572
I updated http://jungshik.github.io/noto/balinese/test.html to have links to Volt proofing images.

[2015-11-19 20:27] roozbehp commented on #572
I just looked at Line 1 and Line 4. The order of the characters in both cases should be changed. See the USE spec at https://www.microsoft.com/typography/OpenTypeDev/USE/intro.htm:

For Line 1, USE expects Bindus (VM) to appear after vowels. So the test string should be ```<U+1B13, U+1B38, U+1B00>``` instead.

For Line 4, USE excepts left-side vowels (VPre) to appear before above vowels (VAbv) and

[2015-11-19 23:11] jungshik commented on #299
![screen shot 2015-11-19 at 3 09 23 pm](https://cloud.githubusercontent.com/assets/8578343/11287345/a45b822e-8ecf-11e5-948f-986d726234dd.png)

The above is what Edge on Windows 10 does. It seems that USE treats some of sequences as invalid.

@NobertLindenberg : can you make sure that they're valid per USE spec?

[2015-11-19 23:27] jungshik commented on #299
OTOH, harfbuzz does not. The issue here is still outstanding in either way.

![screen shot 2015-11-19 at 3 24 29 pm](https://cloud.githubusercontent.com/assets/8578343/11287594/bb5c4754-8ed1-11e5-868b-51d899b82e91.png)

The above is Firefox/Chrome rendering http://jungshik.github.io/noto/balinese/bug299.html

[2015-11-19 23:42] jungshik commented on #163
I'm afraid this has been regressed in 1.03.

http://lindenbergsoftware.com/google/noto/bali-taling.html : Everything looks fine with Noto Sans Javanese 1.02 and Chrome 46 on Mac.

However, with 1.03, some 'left' vowel is misplaced as shown in bug 572.

I'll make a test file comparing 1.02 and 1.03.

[2015-11-19 23:59] jungshik commented on #163
Hmm... it's strange. Balinese 1.03 is just a license change from 1.02. Let me check what's served at
http://lindenbergsoftware.com/google/noto/bali-taling.html

[2015-11-20 00:30] jungshik commented on #163
Ok. The test page in this bug does not have any conjuct (all the consonants in the test page are 'simple').
Syllables with 'misplaced left-vowel or left-vowel part') in lines 4 and 5 of #572 have a conjunct.

So, we can keep this bug closed and file a new one about the misplacement of vowels like U+1B3E, U+1B40 when a conjuct comes before them.

[2015-11-20 00:30] #163 closed

[2015-11-20 00:38] jungshik commented on #572
Thanks, @roozbehp. I updated my test page. Line 1a and line 4 have updated sequences per @roozbehp's comment and they're shaped well.

Back to @kmansourMT :  @roozbehp told me that left-vowel sign should come before other vowels (when two vowels come in a row) unless they form a 'diphthong'.

 Have you seen <U+1B36, U+1B3E> and other pairs (where U+1B3E or U+1B3F are put after another non-left vow

[2015-11-20 00:52] jungshik commented on #572
/cc @NorbertLindenberg

BTW, a test adopted from @NobertLindenberg's (#163) shows that reordering with U+1B3[EF], U+1B4[01], etc does not happen with harfbuzz  when non-DFLT opentype tables are dropped. That is, reordering with dist in DFLT does not work in harfbuzz.
OTOH, Edge on Win 10 seems to be fine with or without non-DFLT table.

See the screenshots below taken of http://jungshik.github.io/

[2015-11-20 01:11] kmansourMT commented on #572
Regarding:
<<Have you seen <U+1B36, U+1B3E> and other pairs (where left-vowel sign such as U+1B3E or U+1B3F is put after another non-left vowel sign) in your test (lines 4) form a diphthong? Is that why you're testing those sequences (the 2nd and 3rd syllables in http://jungshik.github.io/noto/balinese/Bal_VOLT_reorder-final1.PNG )? >>

At the time of testing, our designer did not know details abo

[2015-11-20 01:11] roozbehp commented on #572
I'm not sure I understand the question. But I try to answer anyway:

a) If the question is what happens if there's a left-side "I" vowel and a right-side "E" vowel and the language uses both to represent the "EI" linguistic diphthong and it's written visually as ```<I><CONSONANT><E>```, USE basically says ignore the actual linguistic order and encode it is ```<CONSONANT><I><E>```.

b) If the quest

[2015-11-20 02:39] kmansourMT commented on #554
Corrected in upcoming version of Noto Javanese as evidenced by

<img width="458" alt="screen shot 2015-11-19 at 18 37 43" src="https://cloud.githubusercontent.com/assets/12738181/11290574/df67ea52-8eec-11e5-8700-7b21c0e46ada.png">
<img width="317" alt="screen shot 2015-11-19 at 18 37 32" src="https://cloud.githubusercontent.com/assets/12738181/11290576/df6add48-8eec-11e5-930f-99f673c80655.png">
<i

[2015-11-20 03:05] dougfelt commented on #554
Great!

[2015-11-20 10:37] jungshik commented on #572
@roozbehp Thank you. My question was a) and you answered the question although I'd not like having to type ```<consonant><I><E>``` for  ```<consonant><EI>``` if I were a speaker of such a hypothetical language ;-).  Well, it's not  likely that there's such a language-script pair.

[2015-11-20 10:53] jungshik commented on #380
Confirming.
```<U+1B12, U+1B01>```

![screen shot 2015-11-20 at 2 52 27 am](https://cloud.githubusercontent.com/assets/8578343/11298126/d362d83a-8f31-11e5-92b9-1d30f304328d.png)

[2015-11-20 10:55] jungshik commented on #380
@kmansourMT : please, look into this issue. Note that ```<U+1B12, U+1B01>``` is the worst case, but the reporter also complained about the position of other 'above-mark' with respect to a base glyph.

[2015-11-20 19:46] marekjez86 commented on #405
Reviewing Sinhala entries. Jelle please consider this (the key here is phrase "the standard form is much better for reading in smaller sizes" - the target users have smartphones that do not have high resolution displays, so a standard form will be easier to read)

[2015-11-20 21:18] JelleBosmaMT commented on #405
Please confirm if this applies to all cases where Da and its siblings are using the subscript vowels and ya. The image showing the complete set of ligatures that would be replaces by standard shapes.

![overview](https://cloud.githubusercontent.com/assets/12729011/11312111/5557763c-8fd4-11e5-802c-48f153c76cc3.png)

[2015-11-20 22:40] dougfelt commented on #554
Fixed in version 1.04

[2015-11-20 22:40] #554 closed

[2015-11-20 22:59] dougfelt opened #574 "Some Javanese combinations join poorly"
This is in v1.04 of NotoSansJavanese.

![jv-java_text3_07_v4](https://cloud.githubusercontent.com/assets/9939212/11313945/ec339cbe-8f95-11e5-8373-686fd882b021.png)

This text is
\ua9a5\ua9bf\ua9a7\ua9ae\ua9ba\ua981\u200b\ua9a5\ua994\ua9c0\ua9ae\ua9b1\u200b\ua9a6\ua9bf\ua9a8\ua9b8\ua9c8

At the right of this sample there are two sequences where there's an abrupt transition in what otherwise I'd exp

[2015-11-20 23:15] marekjez86 commented on #405
@pathumego please respond to @JelleBosmaMT . Thank you.

[2015-11-20 23:36] jungshik commented on #572
Ok. Are there any other strings in http://jungshik.github.io/noto/balinese/test.html that you know are not valid?  We know that #1 (the 1st syllable) is invalid.

[2015-11-20 23:38] jungshik commented on #572
To sort out font issues and potential harfbuzz issues, I'm putting up the shaping result by Edge on Win 11 (with the latest test page http://jungshik.github.io/noto/balinese/test.html  ) and Chrome (harfbuzz):

* Edge on WIndows 10:
![screen shot 2015-11-20 at 3 21 30 pm](https://cloud.githubusercontent.com/assets/8578343/11314689/a66568c8-8f9c-11e5-918a-eafbe1784b96.png)

* Chrome (harfbuzz : a f

[2015-11-20 23:54] kmansourMT commented on #572
Had I known of these errors, I would have told you.

From: jungshik <notifications@github.com<mailto:notifications@github.com>>
Reply-To: googlei18n/noto-fonts <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Friday, 20 November 2015 at 15:36
To: googlei18n/noto-fonts <noto-fonts@noreply.github.com<mailto:noto-fonts@noreply.github.com>>
Cc: Kamal Mansour <kamal.mansour@monotype.com<ma

[2015-11-20 23:56] jungshik commented on #572
Given the result shared in https://github.com/googlei18n/noto-fonts/issues/572#issuecomment-158246038 ( ```<consonant> <left-vowel>``` reordering does not work at all with non-DFLT tables dropped in harfbuzz), I'll focus on the results obtained with both DFLT and non-DFLT tables present. (harfbuzz will use USE in that case for Javanese).

Line 1a: USE on Windows matches harfbuzz. Everything seems

[2015-11-21 00:06] behdad commented on #572
@jungshik please file a harfbuzz bug with just enough details to reproduce it.  Jonathan and I will take a look at them in London in December.  Thanks

[2015-11-21 01:10] jungshik commented on #572
The first issue in my previous comment (lines 4a, 5 and 7) was filed against harfbuzz as shown above.

The 2nd and the 3rd issues are tricky because it's not clear who to blame, font or engine.

@kmansourMT, have you ever gotten the expected shaping result with any engine for line 3 and line 6?

* line 3 (2nd and 3rd syllables)
  http://jungshik.github.io/noto/balinese/Balinese_OT_final.PNG
  'bel

[2015-11-21 01:29] jungshik commented on #366
@kmansourMT, please look into this issue.

[2015-11-21 02:26] NorbertLindenberg commented on #572
Jungshik, I assume wherever you said "Javanese" in this issue, you really meant Balinese?

[2015-11-21 02:27] NorbertLindenberg commented on #572
Is there any documentation from Microsoft on how the script-specific and DFLT feature lists interact with script engines in OpenType? I haven't been able to find such documentation. In particular, once the renderer has identified a run of, say, Balinese characters:

– If the renderer doesn't have a script engine supporting Balinese, does it still use feature lists for script "bali", or are those i

[2015-11-21 02:28] NorbertLindenberg commented on #572
Sequences of two are more dependent vowels are allowed by the USE and worth testing. Some sequences occur in real life: 1B3A 1B35, 1B3C 1B35, 1B3E 1B35, 1B3F 1B35, 1B42 1B35. As Roozbeh said, the USE requires them to appear them in a specific order.

[2015-11-22 19:40] almas commented on #445
ᠤᠪᠯᠠᠰᠲ᠂ ᠹᠯᠠᠱ᠂ ᠫᠯᠠᠽᠮᠠ᠂ ᠻᠯᠦᠪ᠂ ᠡᠻᠤᠯᠤᠭᠢ

Font was Mongolian Baiti (MS Windows font)

It was Android message app.

[2015-11-23 08:42] jonassmedegaard opened #575 "image contains non-free ICC data"
Hi,

The recently added image file noto.png contains an embedded color calibration file, which is "Copyright Apple, Inc., 2013" and lacks licensing info.

Please (convert to sRGB if not already, and) store without embedded ICC data.

[2015-11-23 18:28] jungshik commented on #572
Line 4a has a couple of cases for that. Line 4 has the order reversed and didn't work with USE/harfbuzz. Line 4a (order corrected) works with both.  I can try more.

[2015-11-23 18:31] jungshik commented on #572
In case of Harfbuzz, if 'bali' is present in a font, hb's implementation of USE is used. If not, the default shaping engine is used (with DFLT tables).

[2015-11-23 19:51] TrueTyper commented on #536
Fixed in source for NotoSerif-RomanMM.glyphs.

[2015-11-23 23:01] jungshik commented on #572
Multiple vowels in a row

Test file (line 1 has two vowels in a row. line 2 uses NFC form)
[multi_dep_vowels.txt](https://github.com/googlei18n/noto-fonts/files/42169/multi_dep_vowels.txt)

1. hb's USE (Noto Sans Balinese with both DFLT and non-DFLT/bali present):
![multi_dep_vowels old](https://cloud.githubusercontent.com/assets/8578343/11352677/a17f5e60-91f2-11e5-8425-2a5e49cb42b3.png)

2. hb's

[2015-11-24 20:02] jungshik commented on #564
hinted/* has the same issue. The above commit took care of unhinted.

[2015-11-25 00:25] jungshik commented on #47
Thank you, @TrueTyper.  We haven't received yet a new delivery of NotoSansUI, yet. Once I receive it from @waksmonskiMT, I'll check that out.

[2015-11-25 01:18] jungshik commented on #418
I've just tested one instance (NotoSansUI-Regular.{otf, ttf}) created by our pipeline and this issue is fixed.

I haven't rebuilt fonts with Glyphs app, yet, but I don't expect any difference.

Thanks, @TrueTyper.

Noto to self and Googlers: we have to set up a test procedure/automation for all the instances.

[2015-11-25 01:26] jungshik commented on #418
http://www.unicode.org/Public/UNIDATA/PropList.txt has more (I'm excluding math alphabet from the list):

[code]

[2015-11-25 01:27] jungshik commented on #422
Dupe to #418

[2015-11-25 01:27] #422 closed

[2015-11-25 06:21] dougfelt commented on #564
Ugh, of course.

[2015-11-25 18:06] jungshik commented on #44
/cc @TrueTyper

[2015-11-25 18:35] jungshik commented on #427
Phase 3  Noto Sans {Regular, Italic} built from Monotype's source have this issue now fixed.

![bug427 notosans_reg_trunk ttf](https://cloud.githubusercontent.com/assets/8578343/11405991/26afe136-9360-11e5-9074-7a7bb00fab45.png)

![bug427 notosans_italic_trunk ttf](https://cloud.githubusercontent.com/assets/8578343/11406005/3414c8e6-9360-11e5-91f4-05d8f5ac48c6.png)

[2015-11-25 18:39] jungshik commented on #427
Hmm... Cedilla in ```ĻļŅņ ĻļŅņ``` ( decomposed and precomposed) look like comma.

@moyogo and @tiroj ,  what do you think of them?

[2015-11-25 18:41] jungshik commented on #427
/cc @TrueTyper

[2015-11-25 19:21] tiroj commented on #427
The comma form for these diacritics is expected. These are used (with Ķķ) in the Latvian alphabet. Unicode encoded them for that purpose, but under the name 'WITH CEDILLA' but the preferred form is the below comma accent. If decomposed sequences of these letters plus U+0327 (combining cedilla) are resulting in the glyph with comma below, that indicates that the layout engine is performing canonica

[2015-11-25 19:52] codeman38 commented on #427
#505 mentions that Marshallese uses an actual cedilla, rather than a comma, for LlNn.

[2015-11-25 20:17] tiroj commented on #427
Ah yes, good example.

[2015-11-25 20:29] jungshik commented on #428
/cc @TrueTyper

It looks like P3 Noto Sans works as expected when language=NAV is selected.

* Noto Sans, non-Nav
![bug428 notosans_reg_trunk](https://cloud.githubusercontent.com/assets/8578343/11408721/db1517cc-936f-11e5-8a5f-e68be694742a.png)

* Noto Sans Italic, non-Nav
![bug428 notosans_italic_trunk]
(https://cloud.githubusercontent.com/assets/8578343/11408744/f2059574-936f-11e5-9d0a-8486b3546

[2015-11-25 20:36] jungshik commented on #428
With lang=NAV, softdotted 'i' is not handled properly. This should be addressed, I think.  #418 took care of it for non-NAV cases, but with lang=NAV, this is not handled properly. @TrueTyper

[2015-11-25 22:04] jungshik commented on #429
What's listed in https://github.com/googlei18n/noto-fonts/issues/429#issuecomment-128148031 were taken care of.

NotoSans {Regular,Italic} in P3 build
![3 noto_sans_trunk_reg](https://cloud.githubusercontent.com/assets/8578343/11410502/d8ef5626-937c-11e5-8dbd-ce017d8285fe.png)

![3 noto_sans_trunk_italic](https://cloud.githubusercontent.com/assets/8578343/11410505/e47011ca-937c-11e5-9433-85aeb5a61

[2015-11-25 23:52] jungshik commented on #429
/cc @TrueTyper can you take a look? Thanks

[2015-11-26 00:07] jungshik commented on #451
Thanks. My list should match those listed in the file.

Thanks. I'll ping @roozbehp once more about them.

[2015-11-26 00:48] jungshik opened #576 "Make opentype tables compatible with Universal Shaping Engine for scripts routed to USE"
Spun off from #543, #572, #451, and #539.

We need to make Phase 3 fonts for scripts that are routed to USE be USE-compatible.

https://www.microsoft.com/typography/OpenTypeDev/USE/intro.htm

/cc @roozbehp @tiroj @marekjez86 @behdad @TrueTyper @waksmonskiMT @BrianKraimerMT

[2015-11-26 00:53] jungshik commented on #543
For Balinese, having 'bali' works a lot better (although there are still issues as shown in #572) so that I'll keep 'bali'.

This bug can be closed because we took care of all the fonts that need this treatment.

[2015-11-26 00:53] #543 closed

[2015-11-26 08:49] moyogo commented on #427
Indeed, ĻļŅņ ĻļŅņ with the comma-shape cedilla is expected for Latvian, and a uniform shape is expected for Marshallese and the systems mentioned earlier.

Regarding F̧:
The cedilla should probably be aligned on the stem of F instead of centered on the glyph’s width.
It’s a bit difficult to say where exactly the cedilla should be positioned for some of these letters. Centering on the glyph’s w

[2015-11-26 18:18] tiroj commented on #427
My take on cedilla and ogonek both is that attachment to the letter is characteristic. [There are stylistic variants of the cedilla in some typefaces that do not have a connecting stroke, but these are the minority.]

So I always look for somewhere to attach the cedilla and ogonek, and agree with Denis that in the case of F it should be the bottom of the vertical stem. The tricky thing with letter

[2015-11-30 19:23] JelleBosmaMT commented on #535
![newknda u uukopie](https://cloud.githubusercontent.com/assets/12729011/11481599/8f819514-979e-11e5-9b45-84ce5488117c.png)

The updated characters would look like this. I hope this is OK.

In principle the fonts can be updated by replacing 4 glyphs: the u and uu glyphs that are used with p and v and the variants for ph.

In due course the fonts will be re-released with additional weights, so the

[2015-11-30 20:13] MayuraVerma commented on #535
It is wonderful to see the change. To say the least, it won't confuse readers for sure.
As long as the change is coming at some point, wait will be worth.

[2015-11-30 20:20] jungshik commented on #427
Thanks a lot, @tiroj and @moyogo.
@TrueTyper, I can now assign this issue to you. Please, take into account the previous few comments by @tiroj and @moyogo when working on Noto Serif (and revising Noto Sans). Thanks.

[2015-11-30 21:53] dougfelt commented on #574
ping

[2015-12-01 01:18] jungshik commented on #396
From the unicode announcement list:

The Unicode Consortium has recently updated the current code charts for the Cherokee script specifically to provide improved reference glyphs for the lowercase letters introduced in Version 8.0. The new font is Phoreus Cherokee, a modern digital design by Mark Jamra of TypeCulture® LLC.

The new charts can be viewed through the current Charts page.
http://www.u

[2015-12-01 01:19] jungshik commented on #396
/cc @waksmonskiMT , FYI.

[2015-12-01 05:56] aalasolutions commented on #261
+1 bump

[2015-12-02 06:08] deepakjois commented on #567
Here is another possible kerning issue:

![out](https://cloud.githubusercontent.com/assets/5342/11523542/197d79f4-98e9-11e5-90f1-1bb3f3b45829.png)

[2015-12-02 15:38] JelleBosmaMT commented on #523
I further investigated this. The Bhashita fonts puts the rephaya on yansaya in 11 combinations.

![capture](https://cloud.githubusercontent.com/assets/12729011/11534555/9f1da838-990f-11e5-8048-48f818dc9b6a.PNG)

Because Bhashita has a set of rephaya on yansaya ligatures, I came to the conclusion that it was the rule to put them there. But it turns out that the ligatures other than for R-Y-Ya are n

[2015-12-02 23:00] jungshik commented on #396
FYI: http://www.pressherald.com/2015/11/29/portland-graphic-designer-helps-the-cherokee-nation-update-its-language-for-the-digital-age/

[2015-12-03 03:19] NorbertLindenberg commented on #574
Please label this bug as Script-Javanese.

[2015-12-03 10:37] ghost opened #578 "Wrong Cyrillic variations of letter К"
Cyrillic capital letters Қ, Ҝ, Ҟ and Ҡ should have Cyrillic base form (К), not Latin (K)

[2015-12-03 16:50] coldbreeze16 opened #579 "Certain GSUB replacements not working in Noto Oriya"
![clipboard01](https://cloud.githubusercontent.com/assets/13063186/11566665/63b84e7e-9a09-11e5-8a03-771011b6443f.jpg)

Certain glyph combinations defined in 'pres' features are not working in Noto Sans Oriya. In the picture Font Forge window shows the two source glyph on right and the replacement glyph on left, but as can be seen in the MS Word document the two glyphs are not replaced. This happen

[2015-12-03 23:25] #107 closed

[2015-12-03 23:28] moyogo opened #580 "Cyrillic: small letter shha 04BB and small letter shha with descender 0527 are inconsitent"
In Noto Sans and Noto Serif, Cyrillic small letter shha 04BB һ is a turned che 0447 ч but should instead use Latin small letter h 0068 as a component (as done in Arimo, Cousine, Tinos).

In Arimo, Tinos, Noto Sans and Noto Serif, Cyrillic small letter shha with descender 0527 ԧ is based on Latin small letter h 0068, so should 04BB.

See ҺһԦԧ (04BA 04BB 0526 0527) in Noto Sans and Noto Sans Italic,

[2015-12-03 23:39] dougfelt commented on #447
These characters are in the phase 2 NotoSansThai fonts.  And they're in Unicode 8.  So... is there anything left to do here?

[2015-12-03 23:39] moyogo opened #581 "Cyrillic: small letter pe with descender 0525 is inconsitent with small letter pe 043F in Tinos Italic"
Cyrillic small letter pe with descender 0525 ԥ is inconsistent with Cyrillic small letter pe 043F п in Tinos Italic.

See пԥ (043F 0525)  in Tinos Italic:
![screen shot 2015-12-04 at 06 36 03](https://cloud.githubusercontent.com/assets/1923747/11583411/52e3a5ba-9a51-11e5-8675-6d11e7a6c2c8.png)

[2015-12-04 06:37] moyogo commented on #581
I rephrased the issue. 0525 ԥ should be based on 043F п and not just have a different descender in Tinos Italic.

[2015-12-04 11:11] coldbreeze16 commented on #579
I've fixed the issue with ଜ୍ଞ in inDesign by moving that rule from 'cjct' to 'akhn' (that's where it actually belongs)

[2015-12-04 17:16] kmansourMT commented on #34
This error has been fixed in the v1.04 release.

![hehheh-red](https://cloud.githubusercontent.com/assets/12738181/11596046/a8d37700-9a67-11e5-9226-a40f4e1118d6.png)

[2015-12-04 21:44] #34 closed

[2015-12-04 22:06] NorbertLindenberg opened #583 "Balinese gantungan ᬜ overlaps previous below-base glyphs"
Reported by a customer in Bali using a modified Noto Sans Balinese:

The customer told me that the preferred solution is to move the gantungan ᬜ to the right, without moving its base character.

[2015-12-04 22:09] NorbertLindenberg opened #584 "Balinese gantungan guung and guung mecelek too narrow"
Reported by a customer in Bali using a modified Noto Sans Balinese:

[2015-12-04 22:12] NorbertLindenberg opened #585 "Noto Sans Balinese lacks tedung ligatures"
Reported by a customer in Bali using a modified Noto Sans Balinese:

[2015-12-04 22:18] NorbertLindenberg opened #586 "Balinese gantungan la should use different glyph"
Reported by a customer in Bali using a modified Noto Sans Balinese:

[2015-12-04 22:36] TrueTyper commented on #438
Here is a draft of the current Noto Serif Roman superior modifier letters, next to the Latin d and superior one. d¹ⁱⁿʰʲᵃᶣꟹd
tʲ dʲ tˠ dˠ dˡ
![notoserifromansupersample](https://cloud.githubusercontent.com/assets/8724881/11602957/dabcabf6-9aa3-11e5-8448-681509aabc88.png)

And here is a sample of the above marks over the lowercase 'o':    oᷛoᷟoͣoͨoᷙ
![notoserifromanmarks](https://cloud.githubusercont